<div class="flex flex-col flex-auto min-w-0">

    <div class="overflow-auto h-120 p-6 sm:p-10">
        <div class="flex-auto p-6 sm:p-10">

            <ng-container class="">
                <h3>{{ tableHeader }}</h3>

                <input type="text" matInput ngxDaterangepickerMd [locale]="{applyLabel: 'ok', format: 'DD-MM-YYYY'}"
                    startKey="start" endKey="end" name="daterange" />

            </ng-container>

            <!-- CONTENT GOES HERE -->
            <div class="" *ngIf="dataSource.length > 0">



                <div class="grid grid-cols-3 gap-4">
                    <div>
                        <div class="grid grid-cols-2 gap-4">
                            <div>
                                <input class="bg-white-500 shadow appearance-none border rounded w-full py-2 px-3 text-black-700 leading-tight focus:outline-none focus:shadow-outline" id="username" type="text" placeholder="Keyword">
                            </div>

                            <div>
                                <button class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded">
                                    Search
                                  </button>
                            </div>
                        </div>
                    </div>

                    <div></div>

                    <div>
                        <div class="grid grid-cols-3 gap-4">
                            <div>
                                <select class="font-bold py-2 px-4 rounded">
                                    <option>- From Date -</option>
                                </select>
                            </div>

                            <div>
                                <select class="font-bold py-2 px-4 rounded">
                                    <option>- To Date -</option>
                                </select>
                            </div>

                            <div>
                                <button class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded">
                                    Submit
                                  </button>
                            </div>
                        </div>
                    </div>
                </div>



                <br />
                
  

                <!-- This example requires Tailwind CSS v2.0+ -->
                <div class="flex flex-col" *ngIf="dataSource.length > 0">
                    <div class="-my-2 overflow-x-auto sm:-mx-6 lg:-mx-8">
                        <div class="py-2 align-middle inline-block min-w-full sm:px-6 lg:px-8">
                            <div class="shadow overflow-hidden border-b border-gray-200 sm:rounded-lg">
                                <table class="min-w-full divide-y divide-gray-200">
                                    <thead class="bg-gray-50">
                                        <tr>
                                            <ng-container *ngFor="let col of displayedColumns;">
                                                <th scope="col" class="px-6 py-3 text-left text-xs font-medium text-gray-500 uppercase tracking-wider">
                                                    {{ col }}
                                                </th>
                                            </ng-container>
                                        </tr>
                                    </thead>


                                    <tbody class="bg-white divide-y divide-gray-200">
                                        <ng-container *ngFor="let data of dataSource;">
                                            <tr>
                                                <ng-container *ngFor="let d of data | keyvalue: originalOrder;">
                                                    <td class="px-6 py-4 whitespace-nowrap">
                                                        <div class="text-sm text-gray-900">{{ d.value }}</div>
                                                        <!-- <div class="text-sm text-gray-500">Amount</div> -->
                                                    </td>
                                                </ng-container>
                                            </tr>
                                        </ng-container>

                                        <!-- More people... -->
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>

            </div>


        </div>

    </div>



</div>