.adjustColumnIconHeight {
    margin-bottom: 0.5rem;
    // width: 5rem;
}

.text-muted-custom {
    color: #ccc !important;
}

table {
    width: 100%;
}
  
th.mat-header-cell, td.mat-cell {
      text-align: center;
      border: 1px solid #CCC;
      padding: 0 !important;
}

.text-center {
    text-align: center;
}


.bg-purple-500 {
    background-color: #28a745 !important;
}
.hover\:bg-purple-400:hover {
    background-color: #29b349 !important;
}
.disabled\:bg-purple-500:disabled {
    color : rgba(0, 0, 0, 0.26) !important;
    background-color: transparent !important;
}
.py-3 {
    padding-top: 10px !important;
    padding-bottom: 10px !important;
  }

  body.light .mat-header-cell, body .light .mat-header-cell {
    color: #242424;
  }
.silver{
    background: #e9e9e9;
    }
.gold{
    background: #d9b861;
    }
.platinum{
    background: #aaa;
    }
.th-bg{
        background: #f8fafc;
        }