<!-- <div class="flex flex-col flex-auto min-w-0">

    <div class="flex-auto p-6 sm:p-10">

        <h1 class="mb-5">Selected Plan (2021)</h1>

        <div class="flex space-x-4">
            <div class="flex-1" *ngFor="let plan of planDetails;">
                <div class="w-full mx-auto bg-white rounded-xl shadow-md overflow-hidden md:max-w-1xl mb-5">

                    <h1 class="text-white text-center pt-3 pb-3" style="background-color: #ffc107">{{plan.PlanName}}</h1>

                    <div class="md:flex">
                        <div class="p-8 mx-auto text-center">
                            <h3 class="uppercase mb-0">Minimum Per Visit</h3>

                            <h4 class="mt-2"> 
                                {{ plan.MinPerVisit }}
                            </h4>
                            <h3 class="uppercase mb-0">Minimum Per Month</h3>

                            <h4 class="mt-2">
                                {{ plan.MinPerMonth }}
                            </h4>
                            <h3 class="uppercase mb-0">Minimum Per Year</h3>

                            <h4 class="mt-2">
                                {{ plan.MinPerYear }}
                            </h4>
                            <h3 class="uppercase mb-0">Expire Year</h3>

                            <h4 class="mt-2">
                                {{ plan.ExpireYear }}
                            </h4>
                        </div>
                    </div>
                </div>
            </div>
        </div>





        <br />
        <h1 class="mb-5">New Plan (2022)</h1>

        <div class="flex space-x-4">
            <div class="flex-1"  *ngFor="let newPlan of newPlanDetails;">
                <div class="w-full mx-auto bg-white rounded-xl shadow-md overflow-hidden md:max-w-1xl mb-5">

                    <h1 class="text-white text-center pt-3 pb-3" style="background-color: #ffc107">{{newPlan.PlanName}}</h1>

                    <div class="md:flex">
                        <div class="p-8 mx-auto text-center">
                            <h3 class="uppercase mb-0">Minimum Per Visit</h3>

                            <h4 class="mt-2">
                                {{ newPlan.MinPerVisit }}
                            </h4>
                            <h3 class="uppercase mb-0">Minimum Per Month</h3>

                            <h4 class="mt-2">
                                {{ newPlan.MinPerMonth }}
                            </h4>
                            <h3 class="uppercase mb-0">Minimum Per Year</h3>

                            <h4 class="mt-2">
                                {{ newPlan.MinPerYear }}
                            </h4>
                            <h3 class="uppercase mb-0">Expire Year</h3>

                            <h4 class="mt-2">
                                {{ newPlan.ExpireYear }}
                            </h4>
                        </div>
                    </div>
                </div>
            </div>
        </div>


    </div>

</div> -->


<div class="flex flex-col flex-auto min-w-0">
    <div class="flex-auto p-6 sm:p-10">

        <h1 class="text-uppercase font-weight-bold">HEALTH PLANS</h1>
        <div>
            <div>
                <div class="flex flex-wrap -mx-3 mb-6">
                    <!-- Year -->
                    <div class="w-full md:w-1/5 px-3 mb-6 md:mb-0">
                        <div class="relative">
                            <select class="appearance-none block w-full border rounded py-3 px-4 mb-3 bg-white"
                                id="grid-selectedYear" [(ngModel)]="searchField.selectedYear" autocomplete="off">
                                <option [value]="''">- Select -</option>
                                <option [value]="y" *ngFor="let y of yearList;">{{ y }}</option>
                            </select>
                        </div>
                    </div>


                    <div class="w-full md:w-1/5 px-3 mb-6 md:mb-0">
                        <div class="relative">
                            <mat-form-field class="w-full">
                                <input type="text" name="CompanyName"
                                    class="appearance-none block w-full border rounded bg-white"
                                    placeholder="Select Company" matInput [(ngModel)]="searchField.Company"
                                    [formControl]="searchCompanyAutoComplete" [matAutocomplete]="companyAuto">
                                <mat-autocomplete #companyAuto="matAutocomplete" [displayWith]="displayFn">
                                    <mat-option *ngFor="let c of filteredCompanyList | async" [value]="c">
                                        {{c.CoName }}
                                    </mat-option>
                                </mat-autocomplete>
                            </mat-form-field>
                        </div>
                    </div>

                    <div class="w-full md:w-1/5 px-3 mb-6 md:mb-0" style="text-align: center;">
                        <button
                            class="gap-4 mr-4 shadow bg-purple-500 hover:bg-purple-400 focus:shadow-outline focus:outline-none text-white font-bold py-2 px-4 rounded"
                            type="button" (click)="filterHealthPlans();">
                            Search
                        </button>

                        <button style="margin-left: 5px;"
                            class="shadow bg-purple-500 hover:bg-purple-400 focus:shadow-outline focus:outline-none text-white font-bold py-2 px-4 rounded"
                            type="button" (click)="resetSearch();">
                            Reset
                        </button>
                    </div>


                </div>
            </div>

            <!-- 
            <div class="flex flex-col">
                <div class="-my-2 overflow-x-auto sm:-mx-6 lg:-mx-8">
                    <div class="py-2 align-middle inline-block min-w-full sm:px-6 lg:px-8">
                        <div class=" w-full shadow overflow-hidden border-b border-gray-200 sm:rounded-lg">
                           <table class="min-w-full divide-y divide-gray-200">
                                <thead class="bg-gray-50">
                                    <tr>
                                        <th scope="col"
                                            class="px-6 py-3 text-left text-xs font-medium text-gray-500 uppercase tracking-wider">
                                            <div class="adjustColumnIconHeight">
                                                <span>Sr No.</span>
                                            </div>
                                        </th>

                                        <th scope="col"
                                            class="px-6 py-3 text-left text-xs font-medium text-gray-500 uppercase tracking-wider">
                                            <div class="adjustColumnIconHeight">
                                                <span>Company Name</span>
                                                <mat-icon (click)="sortData('CompanyName', 'desc')"
                                                    *ngIf="(sortedColumn === '' ||  sortedColumn !== 'CompanyName')"
                                                    class="icon-size-5 text-muted-custom"
                                                    [svgIcon]="'heroicons_solid:arrow-sm-up'"></mat-icon>
                                                <mat-icon (click)="sortData('CompanyName', 'asc')"
                                                    *ngIf="sortedColumn === 'CompanyName' &&  sortOrderVal===1"
                                                    class="icon-size-5" [svgIcon]="'heroicons_solid:arrow-sm-down'">
                                                </mat-icon>
                                                <mat-icon (click)="sortData('CompanyName', 'desc')"
                                                    *ngIf="sortedColumn === 'CompanyName' &&  sortOrderVal===0"
                                                    class="icon-size-5" [svgIcon]="'heroicons_solid:arrow-sm-up'">
                                                </mat-icon>
                                            </div>
                                        </th>

                                        <th scope="col"
                                            class="px-6 py-3 text-left text-xs font-medium text-gray-500 uppercase tracking-wider">
                                            <div class="adjustColumnIconHeight">
                                                <span>Plan Name</span>
                                            </div>
                                        </th>

                                        <th scope="col"
                                            class="px-6 py-3 text-left text-xs font-medium text-gray-500 uppercase tracking-wider">
                                            <div class="adjustColumnIconHeight">
                                                <span>Minimum Per Visit</span>
                                            </div>
                                        </th>


                                        <th scope="col"
                                            class="px-6 py-3 text-left text-xs font-medium text-gray-500 uppercase tracking-wider">
                                            <div class="adjustColumnIconHeight">
                                                <span>Minimum Per Month</span>
                                            </div>
                                        </th>

                                        <th scope="col"
                                            class="px-6 py-3 text-left text-xs font-medium text-gray-500 uppercase tracking-wider">
                                            <div class="adjustColumnIconHeight">
                                                <span>Minimum Per Year</span>
                                            </div>
                                        </th>

                                    </tr>
                                </thead>

                                <tbody class="bg-white divide-y divide-gray-200">
                                    <ng-container *ngFor="let plan of planDetails; let i = index;">
                                        <tr>
                                            <td class="px-6 py-4 whitespace-nowrap">
                                                <div class="text-sm text-gray-900">{{ (i + 1) }}</div>
                                            </td>

                                            <td class="px-6 py-4 whitespace-nowrap">
                                                <div class="text-sm text-gray-900">{{plan.CompanyName}}({{plan.CompanyId}})
                                                </div>
                                            </td>

                                            <td class="px-6 py-4 whitespace-nowrap">
                                                <div class="text-sm text-gray-900">{{plan.PlanName }}</div>
                                            </td>

                                            <td class="px-6 py-4 whitespace-nowrap">
                                                <div class="text-sm text-gray-900">{{ plan.MinPerVisit }}</div>
                                            </td>

                                            <td class="px-6 py-4 whitespace-nowrap">
                                                <div class="text-sm text-gray-900">{{ plan.MinPerMonth }}</div>
                                            </td>

                                            <td class="px-6 py-4 whitespace-nowrap">
                                                <div class="text-sm text-gray-900">{{ plan.MinPerYear }}</div>
                                            </td>
                                        </tr>
                                    </ng-container>

                                    <tr *ngIf="!planDetails || planDetails.length===0">
                                        <td colspan="12"
                                            class="text-center text-mx text-gray-900 px-6 py-4 whitespace-nowrap ng-star-inserted">
                                            No Data Found
                                        </td>
                                    </tr>
                                </tbody>
                            </table> -->

            <div class="grid grid-cols-1">
                <div class="flex flex-col flex-auto overflow-hidden"
                    style="cursor: pointer;">
                    <div class="grid grid-cols-1 w-full flex flex-col items-center mt-2 sm:rounded-lg">
                        <table mat-table [dataSource]="planDetails" class=" table-striped">

                            <ng-container matColumnDef="position">
                                <th [ngStyle]="{'display': 'none'}" class="th-bg" mat-header-cell *matHeaderCellDef> No. </th>
                                <td mat-cell *matCellDef="let element; let i = index">
                                    {{ (pageCount-1)*pageSize + (i+1) }}
                                </td>
                            </ng-container>

                            <ng-container matColumnDef="companyName">
                                <th [ngStyle]="{'display': 'none'}" class="th-bg" mat-header-cell *matHeaderCellDef>Company Name </th>
                                <td mat-cell *matCellDef="let element" class=""> {{element.CompanyName}} </td>
                            </ng-container>

                            <ng-container matColumnDef="silverMinPerVisit">
                                <th mat-header-cell class="th-bg text-center" *matHeaderCellDef> Minimum Per Visit </th>
                                <td mat-cell *matCellDef="let element"> {{element.SilverMinPerVisit}} </td>
                            </ng-container>

                            <ng-container matColumnDef="silverMinPerMonth">
                                <th mat-header-cell class="th-bg text-center" *matHeaderCellDef> Minimum Per Month </th>
                                <td mat-cell *matCellDef="let element"> {{element.SilverMinPerMonth}} </td>
                            </ng-container>

                            <ng-container matColumnDef="silverMinPerYear">
                                <th mat-header-cell class="th-bg text-center" *matHeaderCellDef> Minimum Per Year </th>
                                <td mat-cell *matCellDef="let element"> {{element.SilverMinPerYear}} </td>
                            </ng-container>

                            <ng-container matColumnDef="goldMinPerVisit">
                                <th mat-header-cell class="th-bg text-center" *matHeaderCellDef> Minimum Per Visit </th>
                                <td mat-cell *matCellDef="let element"> {{element.GoldMinPerVisit}} </td>
                            </ng-container>

                            <ng-container matColumnDef="goldMinPerMonth">
                                <th mat-header-cell class="th-bg text-center" *matHeaderCellDef> Minimum Per Month </th>
                                <td mat-cell *matCellDef="let element"> {{element.GoldMinPerMonth}} </td>
                            </ng-container>

                            <ng-container matColumnDef="goldMinPerYear">
                                <th mat-header-cell class="th-bg text-center" *matHeaderCellDef> Minimum Per Year </th>
                                <td mat-cell *matCellDef="let element"> {{element.GoldMinPerYear}} </td>
                            </ng-container>

                            <ng-container matColumnDef="platinumMinPerVisit">
                                <th mat-header-cell class="th-bg text-center" *matHeaderCellDef> Minimum Per Visit </th>
                                <td mat-cell *matCellDef="let element"> {{element.PlatinumMinPerVisit}} </td>
                            </ng-container>

                            <ng-container matColumnDef="platinumMinPerMonth">
                                <th mat-header-cell class="th-bg text-center" *matHeaderCellDef> Minimum Per Month </th>
                                <td mat-cell *matCellDef="let element"> {{element.PlatinumMinPerMonth}} </td>
                            </ng-container>

                            <ng-container matColumnDef="platinumMinPerYear">
                                <th mat-header-cell class="th-bg text-center" *matHeaderCellDef> Minimum Per Year </th>
                                <td mat-cell *matCellDef="let element"> {{element.PlatinumMinPerYear}} </td>
                            </ng-container>

                            <ng-container matColumnDef="header-row-position-group">
                                <th mat-header-cell class="th-bg text-center p-3 pr-3" *matHeaderCellDef [style.text-align]="center"
                                    [attr.colspan]="1" [attr.rowspan]="2">
                                    &nbsp;&nbsp;Sr.&nbsp;No.&nbsp;&nbsp;
                                </th>
                            </ng-container>

                            <ng-container matColumnDef="header-row-company-group">
                                <th mat-header-cell class="th-bg text-center" *matHeaderCellDef [style.text-align]="center"
                                    [attr.colspan]="1" [attr.rowspan]="2">
                                    <div class="adjustColumnIconHeight">
                                        <span>Company Name</span>
                                        <mat-icon (click)="sortData('CompanyName', 'desc')"
                                            *ngIf="(sortedColumn === '' ||  sortedColumn !== 'CompanyName')"
                                            class="icon-size-4 text-muted-custom"
                                            [svgIcon]="'heroicons_solid:chevron-up'"></mat-icon>
                                        <mat-icon (click)="sortData('CompanyName', 'asc')"
                                            *ngIf="sortedColumn === 'CompanyName' &&  sortOrderVal===1"
                                            class="icon-size-4" [svgIcon]="'heroicons_solid:chevron-down'">
                                        </mat-icon>
                                        <mat-icon (click)="sortData('CompanyName', 'desc')"
                                            *ngIf="sortedColumn === 'CompanyName' &&  sortOrderVal===0"
                                            class="icon-size-4" [svgIcon]="'heroicons_solid:chevron-up'">
                                        </mat-icon>
                                    </div>
                                </th>
                            </ng-container>

                            <ng-container matColumnDef="header-row-silver-group">
                                <th mat-header-cell class="silver text-center" *matHeaderCellDef [style.text-align]="center"
                                    [attr.colspan]="3">
                                    Silver
                                </th>
                            </ng-container>

                            <ng-container matColumnDef="header-row-gold-group">
                                <th mat-header-cell class="gold text-center" *matHeaderCellDef [style.text-align]="center"
                                    [attr.colspan]="3">
                                    Gold </th>
                            </ng-container>

                            <ng-container matColumnDef="header-row-platinum-group">
                                <th mat-header-cell class="platinum text-center" *matHeaderCellDef [style.text-align]="center"
                                    [attr.colspan]="3">
                                    Platinum </th>
                            </ng-container>

                            <tr mat-header-row *matHeaderRowDef="['header-row-position-group',
                            'header-row-company-group','header-row-silver-group', 'header-row-gold-group',
                                     'header-row-platinum-group']">
                            </tr>
                            <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                            <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
                            <tr class="mat-row" *matNoDataRow>
                                <td class="mat-cell" colspan="8">No data found</td>
                            </tr>
                        </table>
                    </div>
                    <br />



                    <div class="grid grid-cols-1 gap-4 mt-5">
                        <div>
                            <div class="grid grid-cols-1 gap-4" style="float: left;">
                                <div class="flex flex-wrap -mx-3 mb-6" *ngIf="totalPageCount > 0">
                                    <div class="w-full px-3 mb-6 md:mb-0">
                                        <h5>Page {{ pageCount }} of {{totalPageCount}}</h5>
                                    </div>
                                </div>
                            </div>
                            <div class="grid grid-cols-1 gap-4" style="float: right;">
                                <div class="flex flex-wrap -mx-3 mb-6" *ngIf="totalPageCount > 0">
                                    <div class="w-full px-3 mb-6 md:mb-0">
                                        <app-paginator [totalPageCount]="totalPageCount" [resetPageIndex]=resetPageIndex
                                            [pageButtonsCount]=pageButtonsCount (changePage)="changePage($event)">
                                        </app-paginator>
                                    </div>
                                </div>
                            </div>
                            <!-- <div class="grid grid-cols-2 gap-4" style="float: right;">
                                <div *ngIf="pageCount > 1">
                                    <button (click)="changePage('prev')"
                                        class="shadow bg-purple-500 hover:bg-purple-400 focus:shadow-outline focus:outline-none text-white font-bold py-2 px-4 rounded"
                                        type="button">
                                        Prev
                                    </button>
                                </div>

                                <div *ngIf="showNext">
                                    <button (click)="changePage('next')"
                                        class="shadow bg-purple-500 hover:bg-purple-400 focus:shadow-outline focus:outline-none text-white font-bold py-2 px-4 rounded"
                                        type="button">
                                        Next
                                    </button>
                                </div>
                            </div> -->
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- </div> -->