<div class="flex flex-col flex-auto min-w-0">
    <div class="flex-auto p-6 sm:p-10">
        <h1>Notifications Details</h1>
        <div>
            <div>
                <div class="flex flex-wrap -mx-3 mb-6">
                    <div class="w-full md:w-1/1 px-3 mb-6 md:mb-0">
                        <label
                            class="block uppercase tracking-wide text-gray-700 text-sm font-bold mb-2"
                            for="grid-first-name"
                        >
                            Type
                        </label>
                        <div class="relative">
                            <select
                                class="appearance-none block w-full border rounded py-3 px-4 mb-3 bg-white"
                                id="grid-state"
                                autocomplete="off"
                                [(ngModel)]="notificationType"
                            >
                                <option [value]="0">
                                    - Select Notification Type -
                                </option>
                                <option [value]="1">Message</option>
                                <option [value]="2">Notification</option>
                            </select>
                        </div>
                    </div>

                    <div class="w-full md:w-1/1 px-3 mb-6 md:mb-0">
                        <br />
                        <label
                            class="block uppercase tracking-wide text-gray-700 text-sm font-bold mb-2"
                            for="grid-first-name"
                        >
                            Company
                        </label>
                        <div class="relative">
                            <select class="appearance-none block w-full border rounded py-3 px-4 mb-3 bg-white"
                                id="grid-state" [(ngModel)]="CompanyId" autocomplete="off">
                                <!-- <option hidden value="" disabled selected>Select one category </option> -->
                                <option [value]="''">- Companies -</option>
                                <option [value]="c.Id" *ngFor="let c of companyList;">{{ c.CoName }}
                                </option>
                            </select>
                        </div>
                    </div>

                    <div class="w-full md:w-1/1 px-3 mb-6 md:mb-0">
                        <br />
                        <label
                            class="block uppercase tracking-wide text-gray-700 text-sm font-bold mb-2"
                            for="grid-first-name"
                        >
                            Title
                        </label>
                        <div class="relative">
                            <input [(ngModel)]="header" class="appearance-none block w-full border rounded py-3 px-4 mb-3 bg-white"
                        id="grid-first-name" type="text" placeholder="Enter Title"
                        autocomplete="off">
                        </div>
                    </div>

                    <div class="w-full md:w-1/1 px-3 mb-6 md:mb-0">
                        <br />
                        <br />
                        <div class="relative">
                            <mat-form-field
                                class="example-full-width"
                                appearance="fill"
                            >
                                <mat-label>Description</mat-label>
                                <textarea [(ngModel)]="body" matInput></textarea>
                            </mat-form-field>
                        </div>
                    </div>

                    <div class="w-full md:w-1/1 px-3 mb-6 md:mb-0">
                        <br />
                        <br />
                        <div class="relative">
                            <button
                                [routerLink]="['/notifications']"
                                mat-button
                                type="button"
                                class="mat-focus-indicator btn btn-danger ml-4 mat-button"
                            >
                                <span class="mat-button-wrapper">Back</span>
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
