.example-full-width {
    width: 100%;
  }

  .btn {
    position: relative;
    display: inline-block;
    font-weight: 400;
    color: #212529;    
    top: 47px;
    text-align: center;
    vertical-align: middle;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    background-color: transparent;
    border: 1px solid transparent;
    padding: 6px 28px;
    font-size: 1rem;
    line-height: 1.5;
    border-radius: 6px;
    transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}


.btn-danger {
  color: #fff !important;
  background-color: #ff0202 !important;
  border-color: #ff0202 !important;
}
.btn-danger:hover {
  color: #fff;
  background-color: #c82333 !important;
  border-color: #bd2130 !important;
}


.bg-purple-500 {
  background-color: #28a745 !important;
}
.hover\:bg-purple-400:hover {
  background-color: #29b349 !important;
}