<div class="flex flex-col flex-auto min-w-0">

    <!-- Main -->
    <div class="flex-auto p-6 sm:p-10">

        <!-- CONTENT GOES HERE -->
        <div class="h-400 min-h-200 max-h-400">
            <h3>You have not participated in Sihatku OHD programme.</h3>

            <p>Please contact Dr Usman at 018245460 /Email: Usman@sihatku.com OR  Dr Rokesh at 90987777 / Email: Rokesh@sihatku.com </p>
        </div>

    </div>

</div>
