<div class="flex flex-col flex-auto min-w-0">
    <div class="flex-auto p-6 sm:p-10">
        <div>
            <div class="flex flex-wrap -mx-3 mb-6">
                <div class="w-full md:w-5/6 px-3 mb-6 md:mb-0">
                    <div class="relative">
                        <input class="w-full appearance-none block border rounded py-2 px-4 mb-3 bg-white"
                            id="grid-first-name" type="text" placeholder="Enter Company Name" autocomplete="off"
                            [(ngModel)]="companyName">
                    </div>
                </div>
                <div class="md:w-1/6 px-3 mb-6 md:mb-0" style="text-align: center;">
                    <button mat-raised-button color="primary" class="w-full" style="margin-left: 6px;"
                        (click)="searchCompany()">Search</button>
                    <!-- [disabled]="!companyName || companyName === ''" -->
                </div>
            </div>
        </div>
        <div class="mb-4">
            <div class="flex flex-wrap mb-6" style=" width: 80%;">
                <div class="mb-6 md:mb-0" style="text-align: center; width: 3%;" *ngFor="let ab of alphabet">
                    <button mat-flat-button color="primary" (click)="filterCompanyList(ab)">{{ab}}</button>
                </div>
            </div>
        </div>
        <div class="clearfix w-100"></div>
        <h1 class="pt-4">Company List</h1>

        <div class="grid grid-cols-1 gap-4">
            <div class="text-right">
                <button [routerLink]="['/companies/add-company']" mat-raised-button color="primary" class="mr-4">Add Company</button>
                <button mat-raised-button color="primary" *ngIf="recordCount > 0" (click)="exportToExcel()">Export To Excel</button>
                <br />
                <br />
            </div>
        </div>

        <div>
            <div class="flex flex-col">
                <div class="-my-2 overflow-x-auto sm:-mx-6 lg:-mx-8">
                    <div class="py-2 align-middle inline-block min-w-full sm:px-6 lg:px-8">
                        <div class="shadow overflow-hidden border-b border-gray-200 sm:rounded-lg">
                            <table class="min-w-full divide-y divide-gray-200">
                                <thead class="bg-gray-50">
                                    <tr>
                                        <th scope="col"
                                            class="px-6 py-3 text-left text-sm font-medium text-gray-500 uppercase tracking-wider">
                                            Sr No.
                                        </th>

                                        <th scope="col"
                                            class="px-6 py-3 text-left text-sm font-medium text-gray-500 uppercase tracking-wider">
                                            Name
                                        </th>

                                        <th scope="col"
                                            class="px-6 py-3 text-left text-sm font-medium text-gray-500 uppercase tracking-wider">
                                            Contact
                                        </th>

                                        <th scope="col"
                                            class="px-6 py-3 text-left text-sm font-medium text-gray-500 uppercase tracking-wider">
                                            Mobile
                                        </th>

                                        <th scope="col"
                                            class="px-6 py-3 text-left text-sm font-medium text-gray-500 uppercase tracking-wider">
                                            Email
                                        </th>

                                        <th scope="col"
                                            class="px-6 py-3 text-left text-sm font-medium text-gray-500 uppercase tracking-wider">
                                            Status
                                        </th>

                                        <th scope="col"
                                            class="px-6 py-3 text-left text-sm font-medium text-gray-500 uppercase tracking-wider">
                                            Options
                                        </th>
                                    </tr>
                                </thead>

                                <tbody class="bg-white divide-y divide-gray-200">
                                    <ng-container *ngFor="let c of companyData; let i = index;">
                                        <tr>
                                            <td class="px-6 py-4 whitespace-nowrap">
                                                <div class="text-sm text-gray-900">{{ (i + 1) }}</div>
                                            </td>
                                            <td class="px-6 py-4 whitespace-nowrap">
                                                <div class="text-sm text-gray-900">{{ c.CoName }}</div>
                                            </td>

                                            <td class="px-6 py-4 whitespace-nowrap">
                                                <div class="text-sm text-gray-900">{{ c.ContactName }}</div>
                                            </td>

                                            <td class="px-6 py-4 whitespace-nowrap">
                                                <div class="text-sm text-gray-900">{{ c.ContactCellPhone }}</div>
                                            </td>

                                            <td class="px-6 py-4 whitespace-nowrap">
                                                <div class="text-sm text-gray-900">{{ c.Email }}</div>
                                            </td>

                                            <td class="px-6 py-4 whitespace-nowrap">
                                                <div class="text-sm text-gray-900">{{ c.Active == false ? 'In-Active' :
                                                    'Active' }}</div>
                                            </td>

                                            <td class="px-6 py-4 whitespace-nowrap">
                                                <div class="text-sm text-gray-900">
                                                    <button
                                                        class="gap-4 shadow bg-purple-500 hover:bg-purple-400 focus:shadow-outline focus:outline-none text-white pl-3 pr-3 pt-1 pb-1 rounded"
                                                        type="button" (click)="editCompany(c)">
                                                        Edit
                                                    </button>
                                                    <!-- &nbsp; <button *ngIf="c.Active != false"
                                                        class="gap-4 shadow bg-purple-500 hover:bg-purple-400 focus:shadow-outline focus:outline-none text-white pl-3 pr-3 pt-1 pb-1 rounded"
                                                        type="button" (click)="deleteCompany(c,'In-Active')">
                                                        Mark In-Active
                                                    </button>
                                                    <button *ngIf="c.Active == false"
                                                        class="gap-4 shadow bg-purple-500 hover:bg-purple-400 focus:shadow-outline focus:outline-none text-white pl-3 pr-3 pt-1 pb-1 rounded"
                                                        type="button" (click)="deleteCompany(c,'Active')">
                                                        Mark Active
                                                    </button> -->
                                                </div>
                                            </td>
                                        </tr>
                                    </ng-container>
                                </tbody>
                            </table>
                            <ng-container *ngIf="!companyData || companyData.length===0">
                                <div
                                    class="text-center text-mx text-gray-900 px-6 py-4 whitespace-nowrap ng-star-inserted">
                                    No Data Found</div>
                            </ng-container>
                        </div>
                        <br />



                        <div class="grid grid-cols-1 gap-4">
                            <div>
                                <div class="grid grid-cols-1 gap-4" style="float: left;">
                                    <div class="flex flex-wrap -mx-3 mb-6" *ngIf="totalPageCount > 0">
                                        <div class="w-full px-3 mb-6 md:mb-0">
                                            <h5>Page {{ pageCount }} of {{totalPageCount}}</h5>
                                        </div>
                                    </div>
                                </div>
                                <div class="grid grid-cols-1 gap-4" style="float: right;">
                                    <div class="flex flex-wrap -mx-3 mb-6" *ngIf="totalPageCount > 0">
                                        <div class="w-full px-3 mb-6 md:mb-0">
                                            <app-paginator [totalPageCount]="totalPageCount"
                                                [resetPageIndex]=resetPageIndex [pageButtonsCount]=pageButtonsCount
                                                (changePage)="changePage($event)">
                                            </app-paginator>
                                        </div>
                                    </div>
                                </div>
                                <!-- <div class="grid grid-cols-2 gap-4" style="float: right;">
                                    <div *ngIf="pageCount > 1">
                                        <button (click)="changePage('prev')"
                                            class="shadow bg-purple-500 hover:bg-purple-400 focus:shadow-outline focus:outline-none text-white font-bold py-2 px-4 rounded"
                                            type="button">
                                            Prev
                                        </button>
                                    </div>

                                    <div *ngIf="showNext">
                                        <button (click)="changePage('next')"
                                            class="shadow bg-purple-500 hover:bg-purple-400 focus:shadow-outline focus:outline-none text-white font-bold py-2 px-4 rounded"
                                            type="button">
                                            Next
                                        </button>
                                    </div>
                                </div> -->
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>