<div class="flex flex-col flex-auto min-w-0">

    <!-- Main -->
    <div class="flex-auto p-6 sm:p-10">

        <div class="">

            <h1>Monthly Visit Summary</h1>


            <div>
                <div class="flex flex-wrap -mx-3 mb-6">

                    <!-- Year -->
                    <div class="w-full md:w-1/4 px-3 mb-6 md:mb-0">
                        <div class="relative">
                            <select class="appearance-none block w-full border rounded py-3 px-4 mb-3 bg-white" id="grid-state"
                            [(ngModel)]="searchField.StartDate" autocomplete="off">
                            <!-- <option value="" selected>- Year -</option> -->
                            <option [value]="" selected>- Year -</option>

                                <ng-container>
                                    <option [value]="''">2021</option>
                                    <option [value]="''">2020</option>
                                    <option [value]="''">2019</option>
                                    <option [value]="''">2018</option>
                                    <option [value]="''">2017</option>
                                    <option [value]="''">2016</option>
                                    <option [value]="''">2015</option>
                                    <option [value]="''">2014</option>
                                    <option [value]="''">2013</option>
                                    <option [value]="''">2012</option>
                                    <option [value]="''">2011</option>
                                    <option [value]="''">2010</option>
                                </ng-container>
                            </select>
                        </div>
                    </div>



                    <!-- Month -->
                    <div class="w-full md:w-1/4 px-3 mb-6 md:mb-0">
                        <div class="relative">
                            <select class="appearance-none block w-full border rounded py-3 px-4 mb-3 bg-white" id="grid-state"
                            [(ngModel)]="searchField.StartDate" autocomplete="off">
                                <option [value]="''" selected>- Month -</option>

                                <ng-container>
                                    <option [value]="'jan'">Jan</option>
                                    <option [value]="'feb'">Feb</option>
                                    <option [value]="'jan'">Mar</option>
                                    <option [value]="'jan'">Apr</option>
                                    <option [value]="'jan'">May</option>
                                    <option [value]="'jan'">Jun</option>
                                    <option [value]="'jan'">Jul</option>
                                    <option [value]="'jan'">Aug</option>
                                    <option [value]="'jan'">Sep</option>
                                    <option [value]="'jan'">Oct</option>
                                    <option [value]="'jan'">Nov</option>
                                    <option [value]="'jan'">Dec</option>
                                </ng-container>
                            </select>
                        </div>
                    </div>

                    <!-- Clinic -->
                    <div class="w-full md:w-1/4 px-3 mb-6 md:mb-0">
                        <div class="relative">
                            <select class="appearance-none block w-full border rounded py-3 px-4 mb-3 bg-white" id="grid-state"
                            [(ngModel)]="searchField.ClinicId" autocomplete="off">
                                <option [value]="''" selected>- Choose all -</option>

                                <ng-container *ngFor="let c of clinicData;">
                                    <option [value]="c.clinicName">{{ c.clinicName }}</option>
                                </ng-container>
                            </select>
                        </div>
                    </div>

                    <div class="w-full md:w-1/4 px-3 mb-6 md:mb-0" style="text-align: center;">
                        <button
                            class="gap-4 shadow bg-purple-500 hover:bg-purple-400 focus:shadow-outline focus:outline-none text-white font-bold py-2 px-4 rounded"
                            type="button" (click)="searchEmployee();">
                            Search
                        </button>

                        <button style="margin-left: 5px;"
                            class="shadow bg-purple-500 hover:bg-purple-400 focus:shadow-outline focus:outline-none text-white font-bold py-2 px-4 rounded"
                            type="button" (click)="resetSort();">
                            Reset
                        </button>
                    </div>


                </div>
            </div>





            <!-- This example requires Tailwind CSS v2.0+ -->
            <div class="flex flex-col">
                <div class="-my-2 overflow-x-auto sm:-mx-6 lg:-mx-8">
                    <div class="py-2 align-middle inline-block min-w-full sm:px-6 lg:px-8">
                        <div class="shadow overflow-hidden border-b border-gray-200 sm:rounded-lg">
                            <table class="min-w-full divide-y divide-gray-200">
                                <thead class="bg-gray-50">
                                    <tr>
                                        <th scope="col" class="px-6 py-3 text-left text-xs font-medium text-gray-500 uppercase tracking-wider">
                                            Clinic Name
                                        </th>

                                        <th scope="col" class="px-6 py-3 text-left text-xs font-medium text-gray-500 uppercase tracking-wider">
                                            Visit Month
                                        </th>

                                        <th scope="col" class="px-6 py-3 text-left text-xs font-medium text-gray-500 uppercase tracking-wider">
                                            No Patient Visits
                                        </th>

                                        <th scope="col" class="px-6 py-3 text-left text-xs font-medium text-gray-500 uppercase tracking-wider">
                                            Total Claim(RM)
                                        </th>

                                        <th scope="col" class="px-6 py-3 text-left text-xs font-medium text-gray-500 uppercase tracking-wider">
                                            Average Claim(RM)
                                        </th>
                                    </tr>
                                </thead>

                                <tbody class="bg-white divide-y divide-gray-200">
                                    <ng-container>
                                        <tr *ngFor="let d of employeeData.dataSource;">
                                            <td class="px-6 py-4 whitespace-nowrap">
                                                <div class="text-sm text-gray-900">
                                                    {{ d.clinicName }}
                                                </div>
                                            </td>

                                            <td class="px-6 py-4 whitespace-nowrap">
                                                <div class="text-sm text-gray-900">
                                                    {{ d.visitDt | date }}
                                                </div>
                                            </td>

                                            <td class="px-6 py-4 whitespace-nowrap">
                                                <div class="text-sm text-gray-900">
                                                    {{ d }}
                                                </div>
                                            </td>

                                            <td class="px-6 py-4 whitespace-nowrap">
                                                <div class="text-sm text-gray-900">
                                                    {{ d.Claim }}
                                                </div>
                                            </td>

                                            <td class="px-6 py-4 whitespace-nowrap">
                                                <div class="text-sm text-gray-900">
                                                    {{ d.avgClaim }}
                                                </div>
                                            </td>
                                        </tr>
                                    </ng-container>

                                    <!-- More people... -->
                                </tbody>
                            </table>

                        </div>

                        <br />

                        <div class="flex flex-wrap -mx-3 mb-6">
                            <div class="w-100 md:w-1/1 px-3 mb-6 md:mb-0">
                                <button class="shadow bg-purple-500 hover:bg-purple-400 focus:shadow-outline focus:outline-none text-white font-bold py-2 px-4 rounded" type="button">
                                Prev
                                </button>

                                <button class="shadow bg-purple-500 hover:bg-purple-400 focus:shadow-outline focus:outline-none text-white font-bold py-2 px-4 rounded" type="button" style="margin-left: 6px;">
                                    Next
                                    </button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>

</div>
