<div class="flex flex-col flex-auto min-w-0">
    <div class="flex-auto p-6 sm:p-10">

        <h1>Company Invoices</h1>
        <div>
            <div>
                <div class="flex flex-wrap -mx-3 mb-6">
                    <!-- Clinic -->
                    <div class="w-full md:w-1/6 px-3 mb-6 md:mb-0">
                        <div class="relative">
                            <mat-form-field appearance="fill" style="width: 100%;">
                                <input matInput [matDatepicker]="form_date" [max]="date"
                                    placeholder="From Date (dd/mm/yyyy)" autocomplete="off"
                                    [(ngModel)]="searchField.StartDate">
                                <mat-datepicker-toggle matSuffix [for]="form_date"></mat-datepicker-toggle>
                                <mat-datepicker #form_date></mat-datepicker>
                            </mat-form-field>
                        </div>
                    </div>

                    <!-- Month -->
                    <div class="w-full md:w-1/6 px-3 mb-6 md:mb-0">
                        <div class="relative">
                            <mat-form-field appearance="fill" style="width: 100%;">
                                <input matInput [matDatepicker]="to_date" [max]="date"
                                    placeholder="To Date (dd/mm/yyyy)" autocomplete="off"
                                    [(ngModel)]="searchField.EndDate">
                                <mat-datepicker-toggle matSuffix [for]="to_date"></mat-datepicker-toggle>
                                <mat-datepicker #to_date></mat-datepicker>
                            </mat-form-field>
                        </div>
                    </div>


                    <div class="w-full md:w-1/6 px-3 mb-6 md:mb-0">
                        <div class="relative">
                            <mat-form-field class="w-full">
                                <input type="text" name="CompanyName"
                                    class="appearance-none block w-full border rounded bg-white"
                                    placeholder="Select Company" matInput [(ngModel)]="searchField.CompanyName"
                                    [formControl]="searchCompanyAutoComplete" [matAutocomplete]="companyAuto">
                                <mat-autocomplete #companyAuto="matAutocomplete">
                                    <mat-option *ngFor="let c of filteredCompanyList | async" [value]="c.CoName">
                                        {{c.CoName }}
                                    </mat-option>
                                </mat-autocomplete>
                            </mat-form-field>
                        </div>
                    </div>


                    <div class="w-full md:w-1/6 px-3 mb-6 md:mb-0">
                        <div class="relative">
                            <select class="appearance-none block w-full border rounded py-3 px-4 mb-3 bg-white"
                                id="grid-state" [(ngModel)]="searchField.PaidOrUnpaid" autocomplete="off">
                                <option [value]="''">- Select Status -</option>
                                <option [value]="'Paid'">Paid</option>
                                <option [value]="'Unpaid'">Unpaid</option>
                            </select>
                        </div>
                    </div>

                    <div class="w-full md:w-1/4 px-3 mb-6 md:mb-0" style="text-align: center;">
                        <button
                            class="gap-4 mr-5 shadow bg-purple-500 hover:bg-purple-400 focus:shadow-outline focus:outline-none text-white font-bold py-2 px-4 rounded"
                            type="button" (click)="filterInvoiceData();">
                            Search
                        </button>

                        <button style="margin-left: 5px;"
                            class="shadow bg-purple-500 hover:bg-purple-400 focus:shadow-outline focus:outline-none text-white font-bold py-2 px-4 rounded"
                            type="button" (click)="resetSearch();">
                            Reset
                        </button>

                    </div>


                    
                        <div class="w-full px-3 mb-6 md:mb-0">
                            <button mat-raised-button color="primary" *ngIf="recordCount > 0" (click)="exportToExcel()"
                                style="text-align: center; margin: auto; float: right;" class="mt-4" >Export To Excel</button>
                            <br />
                            <br />
                            </div>

                </div>
            </div>


            <div class="flex flex-col">
                <div class="-my-2 overflow-x-auto sm:-mx-6 lg:-mx-8">
                    <div class="py-2 align-middle inline-block min-w-full sm:px-6 lg:px-8">
                        <div class="shadow overflow-hidden border-b border-gray-200 sm:rounded-lg">
                            <table class="min-w-full divide-y divide-gray-200">
                                <thead class="bg-gray-50">
                                    <tr>
                                        <th scope="col"
                                            class="px-6 py-3 text-left text-sm font-medium text-gray-500 uppercase tracking-wider">
                                            Sr No
                                        </th>
                                        <th scope="col"
                                            class="px-6 py-3 text-left text-sm font-medium text-gray-500 uppercase tracking-wider">
                                            <div class="">
                                                <span>Invoice Date</span>
                                                <mat-icon (click)="sortData('InvoiceDate', 'desc')"
                                                    *ngIf="(sortedColumn === '' ||  sortedColumn !== 'InvoiceDate')"
                                                    class="icon-size-5 text-muted-custom"
                                                    [svgIcon]="'heroicons_solid:arrow-sm-up'"></mat-icon>
                                                <mat-icon (click)="sortData('InvoiceDate', 'asc')"
                                                    *ngIf="sortedColumn === 'InvoiceDate' &&  sortOrderVal===1"
                                                    class="icon-size-5" [svgIcon]="'heroicons_solid:arrow-sm-down'">
                                                </mat-icon>
                                                <mat-icon (click)="sortData('InvoiceDate', 'desc')"
                                                    *ngIf="sortedColumn === 'InvoiceDate' &&  sortOrderVal===0"
                                                    class="icon-size-5" [svgIcon]="'heroicons_solid:arrow-sm-up'">
                                                </mat-icon>
                                            </div>
                                        </th>

                                        <th scope="col"
                                            class="px-6 py-3 text-left text-sm font-medium text-gray-500 uppercase tracking-wider">
                                            <div class="">
                                                <span>Invoice No.</span>
                                            </div>
                                        </th>

                                        <th scope="col"
                                            class="px-6 py-3 text-left text-sm font-medium text-gray-500 uppercase tracking-wider">
                                            <div class="">
                                                <span>Invoice Amount(RM)</span>
                                                <mat-icon (click)="sortData('TotalAmmount', 'desc')"
                                                    *ngIf="(sortedColumn === '' ||  sortedColumn !== 'TotalAmmount')"
                                                    class="icon-size-5 text-muted-custom"
                                                    [svgIcon]="'heroicons_solid:arrow-sm-up'"></mat-icon>
                                                <mat-icon (click)="sortData('TotalAmmount', 'asc')"
                                                    *ngIf="sortedColumn === 'TotalAmmount' &&  sortOrderVal===1"
                                                    class="icon-size-5" [svgIcon]="'heroicons_solid:arrow-sm-down'">
                                                </mat-icon>
                                                <mat-icon (click)="sortData('TotalAmmount', 'desc')"
                                                    *ngIf="sortedColumn === 'TotalAmmount' &&  sortOrderVal===0"
                                                    class="icon-size-5" [svgIcon]="'heroicons_solid:arrow-sm-up'">
                                                </mat-icon>
                                            </div>
                                        </th>

                                        <th scope="col"
                                            class="px-6 py-3 text-left text-sm font-medium text-gray-500 uppercase tracking-wider">
                                            <div class="">
                                                <span>Company Name</span>
                                            </div>
                                        </th>

                                        <th scope="col"
                                            class="px-6 py-3 text-left text-sm font-medium text-gray-500 uppercase tracking-wider">
                                            <div class="">
                                                <span>HR Status</span>
                                            </div>
                                        </th>

                                        <th scope="col"
                                            class="px-6 py-3 text-center text-sm font-medium text-gray-500 uppercase tracking-wider">
                                            Action
                                        </th>

                                    </tr>
                                </thead>

                                <tbody class="bg-white divide-y divide-gray-200">
                                    <ng-container *ngFor="let a of invoiceData; let i = index;">
                                        <tr>
                                            <td class="px-6 py-4 whitespace-nowrap">
                                                <div class="text-sm text-gray-900">
                                                    {{ (pageCount-1)*pageSize + (i+1) }}
                                                </div>
                                            </td>
                                            <td class="px-6 py-4 whitespace-nowrap">
                                                <div class="text-sm text-gray-900">{{ a.InvoiceDate | date }}</div>
                                            </td>

                                            <td class="px-6 py-4 whitespace-nowrap">
                                                <div class="text-sm text-gray-900">{{ a.InvoiceNo }}</div>
                                            </td>

                                            <td class="px-6 py-4 whitespace-nowrap">
                                                <div class="text-sm text-gray-900">RM {{ a.TotalAmmount | number:'1.2'  }}</div>
                                            </td>

                                            <td class="px-6 py-4 whitespace-nowrap">
                                                <div class="text-sm text-gray-900">{{ a.CompanyName }}</div>
                                            </td>

                                            <td class="px-6 py-4 whitespace-nowrap">
                                                <div class="text-sm text-gray-900">
                                                    {{ a.PaidByCompanyYN === 'Y' ? 'Paid' : 'Unpaid' }}
                                                </div>
                                            </td>

                                            <td class="px-6 py-4 whitespace-nowrap text-center">
                                                <button style="margin-right: 1rem;" *ngIf="!a.IsReceived"
                                                    (click)="onPaidClick(a)"
                                                    class="gap-4 shadow bg-purple-500 hover:bg-purple-400 focus:shadow-outline focus:outline-none text-white font-bold py-2 px-4 pt-1 pb-1 rounded"
                                                    type="button">
                                                    Mark as Received
                                                </button>
                                                <label style="padding-right: 1rem;" *ngIf="a.IsReceived"
                                                    class="ml-1">Received</label>
                                                <button (click)="showInvoiceDetails(a)"
                                                    class="gap-4 shadow bg-purple-500 hover:bg-purple-400 focus:shadow-outline focus:outline-none text-white font-bold py-2 px-4 pt-1 pb-1 rounded"
                                                    type="button">
                                                    Details
                                                </button>
                                            </td>
                                        </tr>
                                    </ng-container>

                                    <tr *ngIf="!invoiceData || invoiceData.length===0">
                                        <td colspan="12"
                                            class="text-center text-mx text-gray-900 px-6 py-4 whitespace-nowrap ng-star-inserted">
                                            No Data Found
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                        <br />
                        <div class="grid grid-cols-1 gap-4">
                            <div>
                                <div class="grid grid-cols-1 gap-4" style="float: left;">
                                    <div class="flex flex-wrap -mx-3 mb-6" *ngIf="totalPageCount > 0">
                                        <div class="w-full px-3 mb-6 md:mb-0">
                                            <h5>Page {{ pageCount }} of {{totalPageCount}}</h5>
                                        </div>
                                    </div>
                                </div>
                                <div class="grid grid-cols-1 gap-4" style="float: right;">
                                    <div class="flex flex-wrap -mx-3 mb-6" *ngIf="totalPageCount > 0">
                                        <div class="w-full px-3 mb-6 md:mb-0">
                                            <app-paginator [totalPageCount]="totalPageCount"
                                                [resetPageIndex]=resetPageIndex [pageButtonsCount]=pageButtonsCount
                                                (changePage)="changePage($event)">
                                            </app-paginator>
                                        </div>
                                    </div>
                                </div>
                                <!-- <div class="grid grid-cols-2 gap-4" style="float: right;">
                                    <div *ngIf="pageCount > 1">
                                        <button (click)="changePage('prev')"
                                            class="shadow bg-purple-500 hover:bg-purple-400 focus:shadow-outline focus:outline-none text-white font-bold py-2 px-4 rounded"
                                            type="button">
                                            Prev
                                        </button>
                                    </div>

                                    <div *ngIf="showNext">
                                        <button (click)="changePage('next')"
                                            class="shadow bg-purple-500 hover:bg-purple-400 focus:shadow-outline focus:outline-none text-white font-bold py-2 px-4 rounded"
                                            type="button">
                                            Next
                                        </button>
                                    </div>
                                </div> -->
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>