<!-- <button style="float: right;" mat-button (click)="closePopup()">X</button> -->

<div class="bg-warning pl-4 p-4 pb-1 rounded-top">
    <p _ngcontent-waa-c363="">Invoice Details</p>
</div>
<div class="grid grid-cols-1 w-full flex flex-col items-center mt-2 sm:rounded-lg">
    <table mat-table [dataSource]="invoiceDetails" class="mat-elevation-z8">
        <ng-container matColumnDef="claimId">
            <th mat-header-cell *matHeaderCellDef> #</th>
            <td mat-cell *matCellDef="let element;let index = index"> {{ index + 1}} </td>
        </ng-container>

        <!-- <ng-container matColumnDef="visitDate">
            <th mat-header-cell *matHeaderCellDef> Visit Date </th>
            <td mat-cell *matCellDef="let element"> {{element.visitDate | date}} </td>
        </ng-container> -->

        <ng-container matColumnDef="invoiceDate">
            <th mat-header-cell *matHeaderCellDef> Invoice Date </th>
            <td mat-cell *matCellDef="let element"> {{ invoice.InvoiceDate | date }} </td>
        </ng-container>

        <ng-container matColumnDef="patientName">
            <th mat-header-cell *matHeaderCellDef> Patient Name </th>
            <td mat-cell *matCellDef="let element"> {{element.PatientName}} </td>
        </ng-container>

        <ng-container matColumnDef="clinicName">
            <th mat-header-cell *matHeaderCellDef> Clinic Name </th>
            <td mat-cell *matCellDef="let element"> {{element.clinicName }} </td>
        </ng-container>

        <ng-container matColumnDef="PaymentType">
            <th mat-header-cell *matHeaderCellDef> Payment Mode </th>
            <td mat-cell *matCellDef="let element"> {{element.PaymentType }} </td>
        </ng-container>

        <ng-container matColumnDef="invoiceAmount">
            <th mat-header-cell *matHeaderCellDef>Invoice Amount(RM) </th>
            <td mat-cell *matCellDef="let element">RM {{ getAmount(element) | number :
                '1.2-2'}} </td>
        </ng-container>
        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    </table>
</div>
<div>
    <div class="flex-auto">
        <div class="w-full max-w-screen-xl mx-auto">

            <br />
            <div class="grid grid-cols-1">
                <div class="flex flex-col flex-auto bg-white shadow border rounded-2xl overflow-hidden"
                    style="cursor: pointer">
                    <div
                        class="bg-warning rounded-top pl-4 pr-4 pt-3 pb-3 text-lg font-medium tracking-tight leading-6 truncate">
                        Details
                    </div>
                    <div class="pl-4 pr-4 pt-5 pb-6">
                        <div class="mt-1">
                            <label class="justify-left mt-5 text-secondary ml-1">Invoice Number:
                            </label>
                            <label class="ml-1">{{ invoice.InvoiceNo }}</label>
                        </div>
                        <div class="mt-1">
                            <label class="justify-left mt-5 text-secondary ml-1">Invoice Date:
                            </label>
                            <label class="ml-1">{{ invoice.InvoiceDate | date }} </label>
                        </div>
                        <div class="mt-1">
                            <label class="justify-left mt-5 text-secondary ml-1">Visit Date:
                            </label>
                            <label class="ml-1">{{ invoiceDetails[0]?.visitDate | date }} </label>
                        </div>
                        <div class="mt-1">
                            <label class="justify-left mt-5 text-secondary ml-1">Payment Status:
                            </label>
                            <label class="ml-1">{{ invoice.PaymentStatus }} </label>
                        </div>
                        <div class="mt-1">
                            <label class="justify-left mt-5 text-secondary ml-1">Total Amount(RM):
                            </label>
                            <label class="ml-1">RM {{ invoice.TotalAmmount | number:'1.2' }} </label>
                        </div>
                        <div class="mt-1">
                            <label class="justify-left mt-5 text-secondary ml-1">Remaining Balance(RM):
                            </label>
                            <label class="ml-1">RM {{ invoice.RemainingBalance | number:'1.2' }} </label>
                        </div>
                    </div>
                </div>
            </div>
            <br />
            <br>
            <div class="grid grid-cols-1">
                <div class="flex flex-col flex-auto p-2 rounded-2xl overflow-hidden" style="cursor: pointer;">
                    <div class="flex flex-col mt-2">
                        <div class="text-lg font-medium tracking-tight leading-6 truncate">Payment Details
                        </div>
                    </div>
                    <div class="grid grid-cols-1 w-full flex flex-col items-center mt-2 sm:rounded-lg">
                        <table mat-table [dataSource]="paymentDetails" class="mat-elevation-z8">
                            <ng-container matColumnDef="InvoiceId">
                                <th mat-header-cell *matHeaderCellDef>#</th>
                                <td mat-cell *matCellDef="let element;let index = index"> {{ index + 1}} </td>
                            </ng-container>

                            <ng-container matColumnDef="PTName">
                                <th mat-header-cell *matHeaderCellDef>Payment Type </th>
                                <td mat-cell *matCellDef="let element"> {{element.PTName }} </td>
                            </ng-container>

                            <ng-container matColumnDef="PaymaentDate">
                                <th mat-header-cell *matHeaderCellDef> Payment Date </th>
                                <td mat-cell *matCellDef="let element"> {{element.PaymaentDate | date}} </td>
                            </ng-container>

                            <ng-container matColumnDef="CheckIssuedDate">
                                <th mat-header-cell *matHeaderCellDef> Check Issue Date </th>
                                <td mat-cell *matCellDef="let element">
                                    <ng-container *ngIf="element.PTName == 'Cheque'">
                                        {{element.CheckIssuedDate | date}}
                                    </ng-container>
                                    <ng-container *ngIf="element.PTName != 'Cheque'">
                                        --
                                    </ng-container>
                                </td>
                            </ng-container>

                            <ng-container matColumnDef="TransectionId">
                                <th mat-header-cell *matHeaderCellDef> Transaction Id </th>
                                <td mat-cell *matCellDef="let element"> {{element.TransectionId == '' ? ' --' :
                                    element.TransectionId }} </td>
                            </ng-container>

                            <ng-container matColumnDef="CheckNo">
                                <th mat-header-cell *matHeaderCellDef> Cheque Number </th>
                                <td mat-cell *matCellDef="let element"> {{element.CheckNo === '' ? ' -- ' :
                                    element.CheckNo}} </td>
                            </ng-container>

                            <ng-container matColumnDef="PaymentAmount">
                                <th mat-header-cell *matHeaderCellDef> Payment Amount(RM) </th>
                                <td mat-cell *matCellDef="let element">RM {{element.PaymentAmount | number :
                                    '1.2-2' }} </td>
                            </ng-container>

                            <tr mat-header-row *matHeaderRowDef="displayedColumns2"></tr>
                            <tr mat-row *matRowDef="let row; columns: displayedColumns2;"></tr>
                        </table>
                    </div>
                </div>
            </div>

            <br />
            <div class="grid grid-cols-1">
                <div class="flex flex-col flex-auto bg-white shadow border rounded-2xl overflow-hidden"
                    style="cursor: pointer">
                    <div
                        class="bg-warning rounded-top pl-4 pr-4 pt-3 pb-3 text-lg font-medium tracking-tight leading-6 truncate">
                        Remarks
                    </div>
                    <div class="pl-4 pr-4 pt-5 pb-6">
                        <div class="mt-1">
                            <label class="ml-1">{{ paymentDetails[0]?.Remarks }}</label>
                        </div>
                    </div>
                </div>
            </div>

            <br />
            <button mat-button (click)="closePopup()" type="button"
                class="mat-focus-indicator btn btn-danger ml-4 mat-button mat-button-base float-right"><span
                    class="mat-button-wrapper">Close</span></button>
            <br />
        </div>
        <br />
        <br />
        <br />
    </div>
</div>