<div class="grid grid-cols-1 gap-4">
    <div class="w-full md:w-full px-3 mb-6 md:mb-0">
        <ul class="pagination">
            <li [ngClass]="{disabled:currentPage === 1}">
                <!-- <mat-icon (click)="setPage(1)" class="icon-size-5" [svgIcon]="'heroicons_solid:chevron-double-left'">
                    First
                </mat-icon> -->
                <a (click)="setPage(1)" class="py-2 px-1 rounded text-lg">First</a>
            </li>
            <li [ngClass]="{disabled:currentPage === 1}">
                <!-- <mat-icon (click)="setPage(currentPage- 1)" class="icon-size-5"
                    [svgIcon]="'heroicons_solid:chevron-left'">Previous
                </mat-icon> -->
                <a (click)="setPage(currentPage- 1)" class="py-2 px-1 rounded text-lg">Previous</a>
            </li>
            <li fxLayout="row" *ngFor="let pageNumber of pageNumberArray"
                [ngClass]="{active:currentPage === pageNumber}">
                <!-- <mat-icon (click)="setPage(pageNumber)" class="icon-size-5"
                    [svgIcon]="'heroicons_solid:chevron-double-right'">{{pageNumber}}
                </mat-icon> -->
                <a (click)="setPage(pageNumber)" class="py-2 px-1 rounded text-lg">{{pageNumber}}</a>
            </li>
            <li [ngClass]="{disabled:currentPage === totalPageCount}">
                <!-- <mat-icon (click)="setPage(currentPage+ 1)" class="icon-size-5"
                    [svgIcon]="'heroicons_solid:chevron-right'">Next
                </mat-icon> -->
                <a (click)="setPage(currentPage+ 1)" class="py-2 px-1 rounded text-lg">Next</a>
            </li>
            <li [ngClass]="{disabled:currentPage === totalPageCount}">
                <!-- <mat-icon (click)="setPage(totalPageCount)" class="icon-size-5"
                    [svgIcon]="'heroicons_solid:chevron-double-right'">Last
                </mat-icon> -->
                <a (click)="setPage(totalPageCount)" class="py-2 px-1 rounded text-lg">Last</a>
            </li>
        </ul>
    </div>
</div>