<div class="bg-warning pl-4 p-4 pb-1 rounded-top">
    <p>Payment Details</p>
</div>
<div class="grid grid-cols-1 sm:grid-cols-1 md:grid-cols-2 gap-6 w-full min-w-0">
    <div class="flex flex-col flex-auto p-6">
        <mat-radio-group class="radio-group" [(ngModel)]="selectedPaymentMethod">
            <mat-radio-button class="radio-button" *ngFor="let method of paymentMethods" [value]="method"
                (change)="changePaymentType($event)">
                {{method.PTName}}
            </mat-radio-button>
        </mat-radio-group>
    </div>
    <div class="flex flex-col flex-auto p-6">
        <div class="mt-1 mb-2">
            <label class="justify-left mt-5 text-secondary ml-1">Total Invoice Amount:
            </label>
            <label class="ml-1">{{invoice?.TotalAmmount | number:'1.0-0'}}</label>
            <br><br>
        </div>

    </div>
</div>
<div class="mt-1 mb-2">
    <label class="justify-left mt-5 text-secondary ml-1">Today's Date:
    </label>
    <label class="ml-1">{{curDate | date:'fullDate' }}</label>
    <br><br>
</div>
<!-- <button style="float: right;" mat-button (click)="closePopup()">X</button> -->

<div>
    <form class="w-full" [formGroup]="invoicePaymentForm">
        <div class="flex-auto mb-2">
            <div *ngIf="selectedPaymentMethod" class="w-full max-w-screen-xl mx-auto">
                <div class="grid grid-cols-1">
                    <div class="flex flex-col mt-4">
                        <div class="flex flex-col flex-auto p-2 rounded-2xl overflow-hidden">
                            <div *ngIf="selectedPaymentMethod.PTName !== 'Cheque'" class="mt-1">
                                <div class="mt-1">
                                    <label class="uppercase tracking-wide text-gray-700 text-xs font-bold
                                         mb-2 justify-left mt-5 text-secondary ml-1">Transaction Id
                                    </label>
                                    <label class="text-red-500 text-s ml-1">*</label>
                                </div>
                                <input class="appearance-none block w-full border rounded py-2 px-4 mb-3 bg-white"
                                    id="transaction-id" type="text" formControlName="transactionId"
                                    placeholder="Enter Transaction Id" autocomplete="off">
                                <p class="text-red-500 text-s italic" *ngIf="invoicePaymentForm.get('transactionId').invalid 
                                    && (invoicePaymentForm.get('transactionId').dirty
                                     || invoicePaymentForm.get('transactionId').touched)">
                                    <ng-container *ngIf="invoicePaymentForm.get('transactionId').errors.pattern">Please
                                        enter only alphanumeric characters
                                    </ng-container>
                                    <ng-container *ngIf="invoicePaymentForm.get('transactionId').errors.required">This
                                        field is
                                        required
                                    </ng-container>
                                </p>
                            </div>
                            <div *ngIf="selectedPaymentMethod.PTName === 'Cheque'" class="mt-1">
                                <div class="mt-1">
                                    <label class="uppercase tracking-wide text-gray-700 text-xs font-bold
                                         mb-2 justify-left mt-5 text-secondary ml-1">Cheque No.
                                    </label>
                                    <label class="text-red-500 text-s ml-1">*</label>
                                </div>
                                <input class="appearance-none block w-full border rounded py-2 px-4 mb-3 bg-white"
                                    id="cheque-number" type="text" formControlName="chequeNumber"
                                    placeholder="Enter Cheque No" autocomplete="off">
                                <p class="text-red-500 text-s italic"
                                    *ngIf="invoicePaymentForm.get('chequeNumber').invalid && (invoicePaymentForm.get('chequeNumber').dirty || invoicePaymentForm.get('chequeNumber').touched)">
                                    <ng-container *ngIf="invoicePaymentForm.get('chequeNumber').errors.pattern">Please
                                        enter only alphanumeric characters
                                    </ng-container>
                                    <ng-container *ngIf="invoicePaymentForm.get('chequeNumber').errors.required">This
                                        field is
                                        required
                                    </ng-container>
                                </p>
                            </div>

                            <div *ngIf="selectedPaymentMethod.PTName === 'Cheque'" class="mt-1">
                                <div class="mt-1">
                                    <label class="uppercase tracking-wide text-gray-700 text-xs font-bold
                                         mb-2 justify-left mt-5 text-secondary ml-1">Cheque Date
                                    </label>
                                    <label class="text-red-500 text-s ml-1">*</label>
                                </div>
                                <!-- <input class="appearance-none block w-full border rounded py-2 px-4 mb-3 bg-white"
                                    id="cheque-number" type="text" formControlName="chequeNumber"
                                    placeholder="Enter Cheque No" autocomplete="off"> -->

                                <mat-form-field appearance="fill" style="width: 100%;">
                                    <input matInput [matDatepicker]="to_date" formControlName="CheckIssuedDate"
                                        placeholder="Cheque Date (dd/mm/yyyy)" autocomplete="off">
                                    <mat-datepicker-toggle matSuffix [for]="to_date"></mat-datepicker-toggle>
                                    <mat-datepicker #to_date></mat-datepicker>
                                </mat-form-field>
                            </div>


                            <div class="mt-1">

                                <div class="mt-1">
                                    <label class="uppercase tracking-wide text-gray-700 text-xs font-bold
                                         mb-2 justify-left mt-5 text-secondary ml-1">Amount
                                    </label>
                                    <label class="text-red-500 text-s ml-1">*</label>
                                </div>
                                <input class="appearance-none block w-full border rounded py-2 px-4 mb-3 bg-white"
                                    id="amount" type="text" placeholder="Enter Amount" formControlName="amount"
                                    autocomplete="off">

                                <p class="text-red-500 text-s italic"
                                    *ngIf="invoicePaymentForm.get('amount').invalid && (invoicePaymentForm.get('amount').dirty || invoicePaymentForm.get('amount').touched)">
                                    <ng-container *ngIf="invoicePaymentForm.get('amount').errors.pattern">Please enter
                                        only
                                        numbers
                                    </ng-container>
                                    <ng-container *ngIf="invoicePaymentForm.get('amount').errors.required">This field is
                                        required
                                    </ng-container>
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div *ngIf="selectedPaymentMethod" class="mt-2 mb-2">
                <div class="mt-1">
                    <label class="justify-left mt-5 text-red-500 ml-1">Remaining Balance:
                    </label>
                    <label class="ml-1">{{invoice?.RemainingBalance | number:'1.0-0'}}</label>
                </div>
                
                <div class="grid grid-cols-1">
                    <div class="flex flex-col mt-1">
                        <div class="flex flex-col flex-auto p-2 rounded-2xl overflow-hidden">
                            <label class="uppercase tracking-wide text-gray-700 text-xs font-bold
                     mb-2 justify-left mt-5 text-secondary ml-1">Remarks:
                            </label>
                            <textarea class="appearance-none block w-full border rounded py-2 px-4 mb-3 bg-white"
                                id="remarks" type="text" placeholder="Enter Remarks" formControlName="remarks"
                                autocomplete="off"></textarea>
                            <p class="text-red-500 text-s italic"
                                *ngIf="invoicePaymentForm.get('remarks').invalid && (invoicePaymentForm.get('remarks').dirty || invoicePaymentForm.get('remarks').touched)">
                                <ng-container *ngIf="invoicePaymentForm.get('remarks').errors.maxlength">
                                    Only {{remarksMaxAllowedLength}} Characters are allowed.
                                    <br />
                                    You have exceeded the maximum limit.
                                </ng-container>
                            </p>
                        </div>
                    </div>
                </div>
            </div>
            <br />
            <br>
            <button *ngIf="selectedPaymentMethod" mat-button [disabled]='invoicePaymentForm.invalid'
                (click)="updatePaymentDetails()" type="button"
                class="mat-focus-indicator btn btn-success bg-purple-500 ml-4 mat-button "><span
                    class="mat-button-wrapper">Submit</span></button>
            <button mat-button (click)="closePopup()" type="button"
                class="mat-focus-indicator btn btn-danger ml-4 mat-button float-right"><span
                    class="mat-button-wrapper">Close</span></button>
            <br><br>
        </div>

    </form>
</div>