<div class="flex flex-col flex-auto" style="width: 73rem !important;">
    <div class="overflow-auto h-200 p-6 sm:p-10">
        <h1>{{actionType}} Covid Summary</h1>
        <form class="w-full" [formGroup]="covidSummaryForm" (ngSubmit)="covidSummaryFormSubmit();">
            <div class="flex flex-wrap -mx-3 mb-6">
                <div class="w-full md:w-1/3 px-3 mb-6 md:mb-0">
                    <label class="block uppercase tracking-wide text-gray-700 text-sm font-bold mb-2"
                        for="grid-test-date">
                        Test Date
                    </label>
                    <mat-form-field appearance="fill" style="width: 100%;">
                        <input matInput [matDatepicker]="testDatePicker" [min]="minDate" [max]="maxDate"
                            placeholder="Test Date (dd/mm/yyyy)" formControlName="TestDate" autocomplete="off">
                        <mat-datepicker-toggle matSuffix [for]="testDatePicker"></mat-datepicker-toggle>
                        <mat-datepicker #testDatePicker></mat-datepicker>
                    </mat-form-field>
                    <p class="text-red-500 text-s italic"
                        *ngIf="covidSummaryForm.get('TestDate').invalid && (covidSummaryForm.get('TestDate').dirty || covidSummaryForm.get('TestDate').touched)">
                        Please enter a correct date.</p>
                </div>
                <div class="w-full md:w-1/3 px-3 mb-6 md:mb-0">
                    <label class="block uppercase tracking-wide text-gray-700 text-sm font-bold mb-2"
                        for="grid-company-name">
                        Company Name
                    </label>
                    <div class="">
                        <select class="appearance-none block w-full border rounded py-3 px-4 mb-3 bg-white"
                            id="grid-company-name" formControlName="CompanyId" autocomplete="off">
                            <!-- (change)="onCompanyChange($event)" -->
                            <option value="" hidden>- Select Company -</option>
                            <ng-container *ngFor="let c of companyList;">
                                <option [value]="c.Id">{{ c.CoName }}</option>
                            </ng-container>
                        </select>
                    </div>
                    <p class="text-red-500 text-s italic"
                        *ngIf="covidSummaryForm.get('CompanyId').invalid && (covidSummaryForm.get('CompanyId').dirty || covidSummaryForm.get('CompanyId').touched)">
                        Please fill out this field.</p>
                </div>
                <div class="w-full md:w-1/3 px-3 mb-6 md:mb-0">
                    <label class="block uppercase tracking-wide text-gray-700 text-sm font-bold mb-2"
                        for="grid-test-type">
                        Test Type
                    </label>

                    <select class="appearance-none block w-full border rounded py-3 px-4 mb-3 bg-white"
                        id="grid-test-type" formControlName="TestType" autocomplete="off">
                        <option [value]="''">- Test Type -</option>
                        <option [value]="'RTK'">RTK</option>
                        <option [value]="'PCR'">PCR</option>
                        <option [value]="'Saliva'">Saliva</option>
                    </select>
                    <p class="text-red-500 text-s italic" *ngIf="covidSummaryForm.get('TestType').invalid && 
                    (covidSummaryForm.get('TestType').dirty || covidSummaryForm.get('TestType').touched)">
                        Please fill out this field.</p>
                </div>
            </div>
            <div class="flex flex-wrap -mx-3 mb-6">
                <div class="w-full md:w-1/3 px-3 mb-6 md:mb-0">
                    <label class="block uppercase tracking-wide text-gray-700 text-sm font-bold mb-2"
                        for="grid-NoofEmpTested">
                        No. of Employees Tested
                    </label>
                    <input class="appearance-none block w-full border rounded py-3 px-4 mb-3 bg-white"
                        id="grid-NoofEmpTested" type="text" placeholder="Employees Tested"
                        formControlName="NoofEmpTested" autocomplete="off">
                    <p class="text-red-500 text-s italic" *ngIf="covidSummaryForm.get('NoofEmpTested').invalid && 
                    (covidSummaryForm.get('NoofEmpTested').dirty
                         || covidSummaryForm.get('NoofEmpTested').touched)">
                        <ng-container *ngIf="covidSummaryForm.get('NoofEmpTested').errors.required">Please fill out this
                            field.</ng-container>
                        <ng-container *ngIf="covidSummaryForm.get('NoofEmpTested').errors.pattern">Please enter only
                            numerals
                        </ng-container>
                    </p>
                </div>
                <div class="w-full md:w-1/3 px-3 mb-6 md:mb-0">
                    <label class="block uppercase tracking-wide text-gray-700 text-sm font-bold mb-2"
                        for="grid-NoofPositives">
                        No. of Positives
                    </label>
                    <input class="appearance-none block w-full border rounded py-3 px-4 mb-3 bg-white"
                        id="grid-NoofPositives" type="text" placeholder="Employees Positive"
                        formControlName="NoofPositives" autocomplete="off">
                    <p class="text-red-500 text-s italic"
                        *ngIf="covidSummaryForm.get('NoofPositives').invalid && 
                            (covidSummaryForm.get('NoofPositives').dirty || covidSummaryForm.get('NoofPositives').touched)">
                        <ng-container *ngIf="covidSummaryForm.get('NoofPositives').errors.required">Please fill out this
                            field.</ng-container>
                        <ng-container *ngIf="covidSummaryForm.get('NoofPositives').errors.pattern">Please enter only
                            numerals
                        </ng-container>
                    </p>
                </div>
                <div class="w-full md:w-1/3 px-3 mb-6 md:mb-0">
                    <label class="block uppercase tracking-wide text-gray-700 text-sm font-bold mb-2"
                        for="grid-test-price ">
                        Test Price
                    </label>
                    <input class="appearance-none block w-full border rounded py-3 px-4 mb-3 bg-white"
                        id="grid-test-price " type="text" placeholder="Enter Test Price " formControlName="TestPrice"
                        autocomplete="off">
                    <p class="text-red-500 text-s italic" *ngIf="covidSummaryForm.get('TestPrice').invalid
                         && (covidSummaryForm.get('TestPrice').dirty || covidSummaryForm.get('TestPrice').touched)">
                        <ng-container *ngIf="covidSummaryForm.get('TestPrice').errors.required">Please fill out this
                            field.</ng-container>
                        <ng-container *ngIf="covidSummaryForm.get('TestPrice').errors.pattern">Please enter only
                            numerals
                        </ng-container>
                    </p>
                </div>
            </div>
            <div class="flex flex-wrap -mx-3 mb-6">
                <div class="w-full md:w-1/3 px-3 mb-6 md:mb-0">
                    <label class="block uppercase tracking-wide text-gray-700 text-sm font-bold mb-2"
                        for="grid-invoice-amt">
                        Total Invoice Amount(RM)
                    </label>
                    <input class="appearance-none block w-full border rounded py-3 px-4 mb-3 bg-white"
                        id="grid-invoice-amt" type="text" placeholder="Total Invoice Amount"
                        formControlName="TotalInvoiceAmt" autocomplete="off">
                    <p class="text-red-500 text-s italic" *ngIf="covidSummaryForm.get('TotalInvoiceAmt').invalid && 
                        (covidSummaryForm.get('TotalInvoiceAmt').dirty || 
                        covidSummaryForm.get('TotalInvoiceAmt').touched)">
                        <ng-container *ngIf="covidSummaryForm.get('TotalInvoiceAmt').errors.required">Please fill out
                            this
                            field.</ng-container>
                        <ng-container *ngIf="covidSummaryForm.get('TotalInvoiceAmt').errors.pattern">Please enter only
                            numerals
                        </ng-container>
                    </p>
                </div>
            </div>

            <div class="flex flex-wrap -mx-3 mb-6">
                <div class="w-full md:w-1/1 px-3 mb-6 md:mb-0" style="text-align: right;">
                    <button [disabled]='covidSummaryForm.invalid' class="shadow bg-purple-500 disabled:bg-purple-500 
                        hover:bg-purple-400 focus:shadow-outline focus:outline-none
                         text-white font-bold py-2 px-4 rounded" type="submit">
                        Save
                    </button>

                    <button style="margin-left: 5px;"
                        class="shadow bg-red-500 hover:bg-red-400 focus:shadow-outline focus:outline-none text-white font-bold py-2 px-4 rounded"
                        type="button" [routerLink]="'/covid-report'">
                        Close
                    </button>
                </div>
            </div>

        </form>
    </div>
</div>