.text-muted-custom {
    color: #ccc !important;
}

.adjustColumnIconHeight {
    margin-bottom: 0.5rem;
}

body.light .mat-flat-button.mat-primary,
body.light .mat-raised-button.mat-primary,
body.light .mat-fab.mat-primary,
body.light .mat-mini-fab.mat-primary,
body .light .mat-flat-button.mat-primary,
body .light .mat-raised-button.mat-primary,
body .light .mat-fab.mat-primary,
body .light .mat-mini-fab.mat-primary {
    background-color: #248af7;
}

.bg-purple-500 {
    background-color: #28a745 !important;
}

.hover\:bg-purple-400:hover {
    background-color: #29b349 !important;
}



.py-3 {
    padding-top   : 10px !important;
    padding-bottom: 10px !important;
}

.rounded {
    border-radius: 6px !important;
}

.mat-form-field.mat-form-field-appearance-fill .mat-form-field-wrapper .mat-form-field-flex .mat-form-field-infix .mat-input-element {
    padding: 9ppx 0 !important;
}

.mat-form-field.mat-form-field-appearance-fill .mat-form-field-wrapper .mat-form-field-flex {
    height: 32px !important;
}

