.adjustColumnIconHeight {
    margin-bottom: 0.5rem;
    width: 5rem;
}

.text-muted-custom {
    color: #ccc !important;
}

.bg-purple-500 {
    background-color: #28a745 !important;
}

.bg-disabled {
    background-color: grey !important;
}

.hover\:bg-purple-400:hover {
    background-color: #29b349 !important;
}
.mat-form-field.mat-form-field-appearance-fill .mat-form-field-wrapper .mat-form-field-flex .mat-form-field-infix .mat-input-element {
    padding: 9px 0 !important;
}
.mat-form-field.mat-form-field-appearance-fill .mat-form-field-wrapper .mat-form-field-flex {
   min-height: 32px !important;
   }
.mat-form-field.mat-form-field-appearance-fill .mat-form-field-wrapper .mat-form-field-flex .mat-form-field-prefix .mat-icon-button, .mat-form-field.mat-form-field-appearance-fill .mat-form-field-wrapper .mat-form-field-flex .mat-form-field-suffix .mat-icon-button {
    width: 32px;
    min-width: 32px;
    height: 32px;
    min-height: 32px;
}
table .py-4 {
    padding-top: 7px !important;
    padding-bottom: 7px !important;
    }
table .py-3 {
        padding-top: 7px !important;
        padding-bottom: 7px !important;
    }
.py-3 {
        padding-top: 10px !important;
        padding-bottom: 10px !important;
    }

    .text-underline{
        text-decoration: underline;
        color: #0000FF !important;
        cursor: pointer;
    }