<div class="flex flex-col flex-auto min-w-0">
    <div class="overflow-auto p-6 sm:p-10">
        <h1>Update Password</h1>

        <form class="mt-8" [formGroup]="resetPasswordForm" #resetPasswordNgForm="ngForm">
            <mat-form-field class="w-full">
                <mat-label>Old Password</mat-label>
                <input id="oldPassword" matInput type="password" [formControlName]="'oldPassword'" #passwordOldField>
                <button mat-icon-button type="button"
                    (click)="passwordOldField.type === 'password' ? passwordOldField.type = 'text' : passwordOldField.type = 'password'"
                    matSuffix>
                    <mat-icon class="icon-size-5" *ngIf="passwordOldField.type === 'password'"
                        [svgIcon]="'heroicons_solid:eye'"></mat-icon>
                    <mat-icon class="icon-size-5" *ngIf="passwordOldField.type === 'text'"
                        [svgIcon]="'heroicons_solid:eye-off'"></mat-icon>
                </button>
                <mat-error>
                    Password is required
                </mat-error>
            </mat-form-field>


            <mat-form-field class="w-full">
                <mat-label>New Password</mat-label>
                <input id="password" matInput type="password" [formControlName]="'password'" #passwordField>
                <button mat-icon-button type="button"
                    (click)="passwordField.type === 'password' ? passwordField.type = 'text' : passwordField.type = 'password'"
                    matSuffix>
                    <mat-icon class="icon-size-5" *ngIf="passwordField.type === 'password'"
                        [svgIcon]="'heroicons_solid:eye'"></mat-icon>
                    <mat-icon class="icon-size-5" *ngIf="passwordField.type === 'text'"
                        [svgIcon]="'heroicons_solid:eye-off'"></mat-icon>
                </button>
                <mat-error *ngIf="resetPasswordForm.get('password')?.errors?.pattern">
                    Special characters are not allowed
                </mat-error>
                <mat-error *ngIf="resetPasswordForm.get('password')?.errors?.required">
                    Password is required
                </mat-error>
                <mat-error *ngIf="resetPasswordForm.get('password')?.errors?.minlength">
                    Min allowed length is 6
                </mat-error>
            </mat-form-field>

            <mat-form-field class="w-full">
                <mat-label>Confirm Password</mat-label>
                <input id="password-confirm" matInput type="password" [formControlName]="'passwordConfirm'"
                    #passwordConfirmField>
                <button mat-icon-button type="button"
                    (click)="passwordConfirmField.type === 'password' ? passwordConfirmField.type = 'text' : passwordConfirmField.type = 'password'"
                    matSuffix>
                    <mat-icon class="icon-size-5" *ngIf="passwordConfirmField.type === 'password'"
                        [svgIcon]="'heroicons_solid:eye'"></mat-icon>
                    <mat-icon class="icon-size-5" *ngIf="passwordConfirmField.type === 'text'"
                        [svgIcon]="'heroicons_solid:eye-off'"></mat-icon>
                </button>
                <mat-error *ngIf="resetPasswordForm.get('passwordConfirm')?.errors?.required">
                    Password confirmation is required
                </mat-error>
                <mat-error *ngIf="resetPasswordForm.get('passwordConfirm')?.errors?.mustMatch">
                    Passwords must match
                </mat-error>
            </mat-form-field>

            <button class="fuse-mat-button-large w-full mt-3" mat-flat-button [color]="'primary'"
                [disabled]="resetPasswordForm.disabled || resetPasswordForm.invalid" (click)="resetPassword()">
                <span *ngIf="!resetPasswordForm.disabled">
                    Update Password
                </span>
                <mat-progress-spinner *ngIf="resetPasswordForm.disabled" [diameter]="24" [mode]="'indeterminate'">
                </mat-progress-spinner>
            </button>
        </form>
    </div>
</div>