/* ----------------------------------------------------------------------------------------------------- */
/*  @ Import/write your custom styles here.
/*  @ Styles from this file will override 'vendors.scss' and Fuse's base styles.
/* ----------------------------------------------------------------------------------------------------- */

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

.text-gray-500 {
    color: #000 !important;
}


.mat-form-field.mat-form-field-appearance-fill .mat-form-field-wrapper .mat-form-field-flex .mat-form-field-prefix .mat-icon-button, .mat-form-field.mat-form-field-appearance-fill .mat-form-field-wrapper .mat-form-field-flex .mat-form-field-suffix .mat-icon-button {
    width: 30px;
    min-width: 30px;
    height: 30px;
    min-height: 30px;
    }
.mat-form-field.mat-form-field-appearance-fill .mat-form-field-wrapper .mat-form-field-flex {
    min-height: 30px !important;
    border-radius: 4px !important;
    padding: 0 16px;
    border-width: 1px;
    }
.mat-form-field.mat-form-field-appearance-fill .mat-form-field-wrapper .mat-form-field-flex .mat-form-field-infix .mat-input-element {
        padding: 9px 0 !important;
    }
    .pagination{}
    .pagination li{
        padding: 9px 12px 6px 12px !important;
        background: #e8e8e8;
        margin-right: 9px !important;
        font-weight: 500;
        }
    .pagination li:hover{  background: #28a745 ; color: #ffffff;}

    .pagination li .active{  background: #28a745 ; }
    .py-4 {
        padding-top: 6px !important;
        padding-bottom: 6px !important;
    }

    .sidebar {  
        height: 100% !important;    
        min-height: 100% !important;   
        max-height: 125vh !important;
    }

    li.disabled {
        color: #312e2e !important;
    }

    *, ::before, ::after {
        --tw-border-opacity: 1 !important;
        border-color: #cbd5e1;
    }

    .py-3 {
        padding-top: 10px !important;
        padding-bottom: 10px !important;
    }

    .mat-h1, .mat-headline, .mat-typography h1 {
        font: 600 19px/32px Roboto, "Helvetica Neue", sans-serif !important;
        letter-spacing: 0;
        margin: 0 0 16px;
        text-transform: uppercase !important;
      }

.spinner-loader-div{
    align-content: center;
    margin: auto;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
}
.companies-box{
    height: 200px;
    overflow: hidden;
    }

.companies-box .text-title{
    height: 51px;
    text-align: center;
    overflow: hidden;
    }
.mat-form-field.mat-form-field-appearance-fill .mat-form-field-wrapper .mat-form-field-flex {
        --tw-shadow: 0 0px 0px 0 rgba(0, 0, 0, 0.0) !important;
        box-shadow: var(--tw-ring-offset-shadow, 0 0 #0000), var(--tw-ring-shadow, 0 0 #0000), var(--tw-shadow) !important;
      }