/* ----------------------------------------------------------------------------------------------------- */
/*  @ Main Tailwind file for injecting utilities.
/* ----------------------------------------------------------------------------------------------------- */
@tailwind utilities;


.text-gray-500 {
    color: #000 !important;
}
.py-4 {
    padding-top: 6px !important;
    padding-bottom: 6px !important;
}
