<div class="flex flex-col flex-auto min-w-0">

    <!-- Main -->
    <div class="flex-auto p-6 sm:p-10">

        <div class="">

            <h1>Manual Processing Report</h1>


            <div>
                <div class="flex flex-wrap -mx-3 mb-6">

                    <!-- Month -->
                    <div class="w-full md:w-1/6 px-3 mb-6 md:mb-0">
                        <div class="relative">
                            <mat-form-field appearance="fill" style="width: 100%;">
                                <input matInput (change)="changeEndDate()" [matDatepicker]="start_date" [max]="maxDate"
                                    [min]="min_date" placeholder="Start date" autocomplete="off"
                                    [(ngModel)]="searchField.StartDate">
                                <mat-datepicker-toggle matSuffix [for]="start_date"></mat-datepicker-toggle>
                                <mat-datepicker #start_date></mat-datepicker>
                            </mat-form-field>
                        </div>
                    </div>

                    <!-- Year -->
                    <div class="w-full md:w-1/6 px-3 mb-6 md:mb-0">
                        <div class="relative">
                            <mat-form-field appearance="fill" style="width: 100%;">
                                <input matInput [matDatepicker]="endDate" [max]="maxDate" placeholder="End date"
                                    autocomplete="off" [(ngModel)]="searchField.EndDate" [min]="changeEndDate()"
                                    #endDateModel="ngModel">
                                <mat-datepicker-toggle matSuffix [for]="endDate"></mat-datepicker-toggle>
                                <mat-datepicker #endDate></mat-datepicker>
                                <mat-error *ngIf="endDateModel.hasError('matDatepickerMin')">
                                    Invalid minimum date. Please choose a date bigger than the start date.
                                </mat-error>
                            </mat-form-field>
                        </div>
                    </div>

                    <div class="w-full md:w-1/6 px-3 mb-6 md:mb-0">
                        <div class="relative">
                            <mat-form-field class="w-full">
                                <input type="text" class="appearance-none block w-full border rounded bg-white"
                                    placeholder="Select Clinic" matInput [formControl]="searchClinicAutoComplete"
                                    [matAutocomplete]="auto">
                                <mat-autocomplete #auto="matAutocomplete" [displayWith]="displayClinicFn">
                                    <mat-option *ngFor="let c of filteredClinicList | async" [value]="c ">
                                        {{c.clinicName }}
                                    </mat-option>
                                </mat-autocomplete>
                                <mat-error *ngFor="let validation of validation_msgs ">
                                    <div *ngIf="searchClinicAutoComplete.hasError(validation.type)">
                                        {{validation.message}}
                                    </div>
                                </mat-error>
                            </mat-form-field>
                        </div>
                    </div>

                    <div class="w-full md:w-1/6 px-3 mb-6 md:mb-0">
                        <div class="relative">
                            <mat-form-field class="w-full">
                                <input type="text" name="CompanyName"
                                    class="appearance-none block w-full border rounded bg-white"
                                    placeholder="Select Company" matInput [(ngModel)]="searchField.CompanyName"
                                    [formControl]="searchCompanyAutoComplete" [matAutocomplete]="companyAuto">
                                <mat-autocomplete #companyAuto="matAutocomplete">
                                    <mat-option *ngFor="let c of filteredCompanyList | async" [value]="c.CoName">
                                        {{c.CoName }}
                                    </mat-option>
                                </mat-autocomplete>
                                <mat-error *ngFor="let validation of validation_msgs ">
                                    <div *ngIf="searchCompanyAutoComplete.hasError(validation.type)">
                                        {{validation.message}}
                                    </div>
                                </mat-error>
                            </mat-form-field>
                        </div>
                    </div>

                    <div class="w-full md:w-1/6 px-3 mb-6 md:mb-0">
                        <div class="relative">
                            <select class="appearance-none block w-full border rounded py-3 px-4 mb-3 bg-white"
                                id="grid-state" [(ngModel)]="searchField.ClaimStatus" autocomplete="off">
                                <option [value]="''">- Approval Status -</option>
                                <option value="Rejected">Rejected</option>
                                <option value="Approved">Approved</option>
                                <option value="Pending">Pending</option>
                            </select>
                        </div>
                    </div>

                    <div class="w-full md:w-1/6 px-3 mb-6 md:mb-0" style="text-align: center;">
                        <button
                            class="gap-4 mr-4 shadow bg-purple-500 disabled:bg-purple-500 hover:bg-purple-400 focus:shadow-outline focus:outline-none text-white font-bold py-2 px-4 rounded"
                            type="button" (click)="searchClaim();" [disabled]="endDateModel.hasError('matDatepickerMin') ||
                            searchClinicAutoComplete.hasError('emptyStringError') ||
                            searchClinicAutoComplete.hasError('emptySelection') ||
                            searchClinicAutoComplete.hasError('pattern') 
                            || searchCompanyAutoComplete.hasError('emptyStringError')
                            || searchCompanyAutoComplete.hasError('pattern')
                            ">
                            Search
                        </button>

                        <button style="margin-left: 5px;"
                            class="shadow bg-purple-500 hover:bg-purple-400 focus:shadow-outline focus:outline-none text-white font-bold py-2 px-4 rounded"
                            type="button" (click)="resetSearch();">
                            Reset
                        </button>
                    </div>


                </div>
            </div>



            <div *ngIf="claimData.length > 0">
                <h4>Total Claims: {{ recordCount }}</h4>
            </div>

            <!-- This example requires Tailwind CSS v2.0+ -->
            <div class="flex flex-col overflow-hidden">
                <div class="-my-2 overflow-x-auto sm:-mx-6 lg:-mx-8">
                    <div class="py-2 align-middle inline-block min-w-full sm:px-6 lg:px-8">
                        <div class="shadow overflow-hidden border-b border-gray-200 sm:rounded-lg">
                            <table class="min-w-full divide-y divide-gray-200">
                                <thead class="bg-gray-50">
                                    <tr>
                                        <th scope="col"
                                            class="px-6 py-4 whitespace-nowrap text-left text-sm font-medium text-gray-500 uppercase tracking-wider">
                                            <div class="adjustColumnIconHeight">
                                                <span>Clinic Name</span>
                                                <mat-icon (click)="sortData('clinicName', 'desc')"
                                                    *ngIf="(sortedColumn === '' ||  sortedColumn !== 'clinicName')"
                                                    class="icon-size-4 text-muted-custom"
                                                    [svgIcon]="'heroicons_solid:chevron-up'"></mat-icon>
                                                <mat-icon (click)="sortData('clinicName', 'asc')"
                                                    *ngIf="sortedColumn === 'clinicName' &&  sortOrderVal===1"
                                                    class="icon-size-4" [svgIcon]="'heroicons_solid:chevron-down'">
                                                </mat-icon>
                                                <mat-icon (click)="sortData('clinicName', 'desc')"
                                                    *ngIf="sortedColumn === 'clinicName' &&  sortOrderVal===0"
                                                    class="icon-size-4" [svgIcon]="'heroicons_solid:chevron-up'">
                                                </mat-icon>
                                            </div>
                                        </th>

                                        <th scope="col"
                                            class="px-6 py-4 whitespace-nowrap text-left text-sm font-medium text-gray-500 uppercase tracking-wider">
                                            <div class="adjustColumnIconHeight">
                                                <span>Visit Date</span>

                                                <mat-icon (click)="sortData('VisitDate', 'desc')"
                                                    *ngIf="(sortedColumn === '' ||  sortedColumn !== 'VisitDate')"
                                                    class="icon-size-4 text-muted-custom"
                                                    [svgIcon]="'heroicons_solid:chevron-up'"></mat-icon>
                                                <mat-icon (click)="sortData('VisitDate', 'asc')"
                                                    *ngIf="sortedColumn === 'VisitDate' &&  sortOrderVal===1"
                                                    class="icon-size-4" [svgIcon]="'heroicons_solid:chevron-down'">
                                                </mat-icon>
                                                <mat-icon (click)="sortData('VisitDate', 'desc')"
                                                    *ngIf="sortedColumn === 'VisitDate' &&  sortOrderVal===0"
                                                    class="icon-size-4" [svgIcon]="'heroicons_solid:chevron-up'">
                                                </mat-icon>
                                            </div>
                                        </th>

                                        <th scope="col"
                                            class="px-6 py-4 whitespace-nowrap text-left text-sm font-medium text-gray-500 uppercase tracking-wider">
                                            IC/Passport Number
                                        </th>

                                        <th scope="col"
                                            class="px-6 py-4 whitespace-nowrap text-left text-sm font-medium text-gray-500 uppercase tracking-wider">
                                            Employee Name
                                        </th>

                                        <th scope="col"
                                            class="px-6 py-4 whitespace-nowrap text-left text-sm font-medium text-gray-500 uppercase tracking-wider">
                                            <div class="adjustColumnIconHeight">
                                                <span>Claim(RM)</span>
                                                <mat-icon (click)="sortData('Claim', 'desc')"
                                                    *ngIf="(sortedColumn === '' ||  sortedColumn !== 'Claim')"
                                                    class="icon-size-4 text-muted-custom"
                                                    [svgIcon]="'heroicons_solid:chevron-up'"></mat-icon>
                                                <mat-icon (click)="sortData('Claim', 'asc')"
                                                    *ngIf="sortedColumn === 'Claim' &&  sortOrderVal===1"
                                                    class="icon-size-4" [svgIcon]="'heroicons_solid:chevron-down'">
                                                </mat-icon>
                                                <mat-icon (click)="sortData('Claim', 'desc')"
                                                    *ngIf="sortedColumn === 'Claim' &&  sortOrderVal===0"
                                                    class="icon-size-4" [svgIcon]="'heroicons_solid:chevron-up'">
                                                </mat-icon>
                                            </div>
                                        </th>

                                        <th scope="col"
                                            class="px-6 py-4 whitespace-nowrap text-left text-sm font-medium text-gray-500 uppercase tracking-wider">
                                            MC Days
                                        </th>

                                        <th scope="col"
                                            class="px-6 py-4 whitespace-nowrap text-left text-sm font-medium text-gray-500 uppercase tracking-wider">
                                            Company
                                        </th>

                                        <th scope="col"
                                            class="px-6 py-4 whitespace-nowrap text-left text-sm font-medium text-gray-500 uppercase tracking-wider">
                                            Approval Status
                                        </th>
                                        <th scope="col"
                                            class="px-6 py-4 whitespace-nowrap text-left text-sm font-medium text-gray-500 uppercase tracking-wider">
                                            Option
                                        </th>

                                    </tr>
                                </thead>

                                <tbody class="bg-white divide-y divide-gray-200">
                                    <ng-container>
                                        <tr *ngFor="let claim of claimData;">
                                            <td class="px-6 py-4 whitespace-nowrap">
                                                <div class="text-sm text-gray-900">
                                                    {{ claim.clinicName }}
                                                </div>
                                            </td>

                                            <td class="px-6 py-4 whitespace-nowrap">
                                                <div class="text-sm text-gray-900">
                                                    {{ claim.visitDt | date}}
                                                </div>
                                            </td>

                                            <td class="px-6 py-4 whitespace-nowrap">
                                                <div class="text-sm text-gray-900">
                                                    {{ claim.ICNum }}
                                                </div>
                                            </td>

                                            <td class="px-6 py-4 whitespace-nowrap">
                                                <div class="text-sm text-gray-900">
                                                    {{ claim.employeeName }}
                                                </div>
                                            </td>

                                            <td class="px-6 py-4 whitespace-nowrap">
                                                <div class="text-sm text-gray-900">
                                                    RM {{ claim.Claim | number:'1.2' }}
                                                </div>
                                            </td>

                                            <td class="px-6 py-4 whitespace-nowrap">
                                                <div class="text-sm text-gray-900">
                                                    {{ claim.MCDays }}
                                                </div>
                                            </td>

                                            <td class="px-6 py-4 whitespace-nowrap">
                                                <div class="text-sm text-gray-900">
                                                    {{ claim.CompanyName }}
                                                </div>
                                            </td>

                                            <td class="px-6 py-4 whitespace-nowrap">
                                                <div class="text-sm" [ngClass]=" claim.ClaimStatus">
                                                    {{ claim.ClaimStatus }}
                                                </div>
                                            </td>
                                            <td class="px-6 py-4 whitespace-nowrap">
                                                <div class="text-sm text-gray-900">
                                                    <button (click)="showClaimDetails(claim)"
                                                        class="gap-4 shadow bg-purple-500 hover:bg-purple-400 focus:shadow-outline focus:outline-none text-white font-bold py-2 px-4 rounded"
                                                        type="button">
                                                        Review
                                                    </button>
                                                    <!-- &nbsp; <button *ngIf="claim.ClaimStatus !== 'Approved'"
                                                        (click)="approveClaim(claim)"
                                                        class="gap-4 shadow bg-purple-500 hover:bg-purple-400 focus:shadow-outline focus:outline-none text-white font-bold py-2 px-4 rounded"
                                                        type="button">
                                                        Approve
                                                    </button> -->
                                                </div>
                                            </td>

                                        </tr>
                                    </ng-container>

                                    <tr *ngIf="!claimData || claimData.length===0">
                                        <td colspan="10"
                                            class="text-center text-mx text-gray-900 px-6 py-4 whitespace-nowrap ng-star-inserted">
                                            No Data Found
                                        </td>
                                    </tr>

                                    <!-- More people... -->
                                </tbody>
                            </table>

                        </div>

                        <br />
                        <div class="grid grid-cols-1 gap-4">
                            <div>
                                <div class="grid grid-cols-1 gap-4" style="float: left;">
                                    <div class="flex flex-wrap -mx-3 mb-6" *ngIf="totalPageCount > 0">
                                        <div class="w-full px-3 mb-6 md:mb-0">
                                            <h5>Page {{ pageIndex }} of {{totalPageCount}}</h5>
                                        </div>
                                    </div>
                                </div>
                                <div class="grid grid-cols-1 gap-4" style="float: right;">
                                    <div class="flex flex-wrap -mx-3 mb-6" *ngIf="totalPageCount > 0">
                                        <div class="w-full px-3 mb-6 md:mb-0">
                                            <app-paginator [totalPageCount]="totalPageCount"
                                                [resetPageIndex]=resetPageIndex [pageButtonsCount]=pageButtonsCount
                                                (changePage)="changePage($event)">
                                            </app-paginator>
                                        </div>
                                    </div>
                                </div>
                                <!-- <div class="grid grid-cols-2 gap-4" style="float: right;">
                                    <div *ngIf="pageIndex > 1">
                                        <button (click)="changePage('prev')"
                                            class="shadow bg-purple-500 hover:bg-purple-400 focus:shadow-outline focus:outline-none text-white font-bold py-2 px-4 rounded"
                                            type="button">
                                            Prev
                                        </button>
                                    </div>

                                    <div *ngIf="showNext">
                                        <button (click)="changePage('next')"
                                            class="shadow bg-purple-500 hover:bg-purple-400 focus:shadow-outline focus:outline-none text-white font-bold py-2 px-4 rounded"
                                            type="button">
                                            Next
                                        </button>
                                    </div>
                                </div> -->
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>

</div>