<div class="flex flex-col flex-auto min-w-0">
    <div class="flex-auto p-6 sm:p-10">

        <h1>Clinics Accounts Payable</h1>
        <div>
            <div>
                <div class="flex flex-wrap -mx-3 mb-6">

                    <!-- <div class="w-full md:w-1/1 px-3 mb-6 md:mb-0">
                        <div class="relative">
                            <mat-radio-group aria-label="Select an option">
                                <mat-radio-button value="1">MC days Report</mat-radio-button>
                                <mat-radio-button value="2" style="margin-left: 6px;">MC Rejected Report</mat-radio-button>
                            </mat-radio-group>
                        </div>
                    </div>

                    <br />
                    <br /> -->

                    <!-- Clinic -->
                    <div class="w-full md:w-1/5 px-3 mb-6 md:mb-0">
                        <div class="relative">
                            <mat-form-field appearance="fill" style="width: 100%;">
                                <input matInput (change)="changeEndDate()" [matDatepicker]="form_date" [max]="startDate"
                                    [min]="min_date" placeholder="From Date (dd/mm/yyyy)" autocomplete="off"
                                    [(ngModel)]="searchField.StartDate">
                                <mat-datepicker-toggle matSuffix [for]="form_date"></mat-datepicker-toggle>
                                <mat-datepicker #form_date></mat-datepicker>
                            </mat-form-field>
                        </div>
                    </div>

                    <!-- Month -->
                    <div class="w-full md:w-1/5 px-3 mb-6 md:mb-0">
                        <div class="relative">
                            <mat-form-field appearance="fill" style="width: 100%;">
                                <input matInput [matDatepicker]="to_date" placeholder="To Date (dd/mm/yyyy)"
                                    autocomplete="off" [(ngModel)]="searchField.EndDate" [min]="changeEndDate()"
                                    #endDateModel="ngModel">
                                <mat-datepicker-toggle matSuffix [for]="to_date"></mat-datepicker-toggle>
                                <mat-datepicker #to_date></mat-datepicker>
                                <mat-error *ngIf="endDateModel.hasError('matDatepickerMin')">
                                    Invalid minimum date. Please choose a date bigger than the start date.
                                </mat-error>
                            </mat-form-field>
                        </div>
                    </div>

                    <!-- Year -->
                    <div class="w-full md:w-1/5 px-3 mb-6 md:mb-0">
                        <div class="relative">
                            <select class="appearance-none block w-full border rounded py-3 px-4 mb-3 bg-white"
                                id="grid-state" [(ngModel)]="searchField.ClinicCode" autocomplete="off">
                                <!-- <option hidden value="" disabled selected>Select one category </option> -->
                                <option [value]="''">- Select Clinic -</option>
                                <option [value]="c.clinicCode" *ngFor="let c of clinicData;">{{ c.clinicName }}</option>
                            </select>
                        </div>
                    </div>

                    <!-- Year -->
                    <!-- <div class="w-full md:w-1/6 px-3 mb-6 md:mb-0">
                        <div class="relative">
                            <select class="appearance-none block w-full border rounded py-3 px-4 mb-3 bg-white"
                                id="grid-state" [(ngModel)]="searchField.CompanyId" autocomplete="off">
                                <option [value]="''">- Companies -</option>
                                <option [value]="c.Id" *ngFor="let c of companyList;">{{ c.CoName }}
                                </option>
                            </select>
                        </div>
                    </div> -->

                    <div class="w-full md:w-1/5 px-3 mb-6 md:mb-0">
                        <div class="relative">
                            <select class="appearance-none block w-full border rounded py-3 px-4 mb-3 bg-white"
                                id="grid-state" [(ngModel)]="searchField.IsPayableInvoiceGenerated" autocomplete="off">
                                <option [value]="''">- Payment Status -</option>
                                <option value="N">Payment Pending</option>
                                <option value="Y">Payment Done</option>
                            </select>
                        </div>
                    </div>

                    <div class="w-full md:w-1/5 px-3 mb-6 md:mb-0" style="text-align: center;">
                        <button
                            class="gap-4 shadow mr-4 bg-purple-500 disabled:bg-purple-500 hover:bg-purple-400 focus:shadow-outline focus:outline-none text-white font-bold py-2 px-4 rounded"
                            type="button" [disabled]="endDateModel.hasError('matDatepickerMin')"
                            (click)="filteraccountData();">
                            Search
                        </button>

                        <button style="margin-left: 5px;"
                            class="shadow bg-purple-500 hover:bg-purple-400 focus:shadow-outline focus:outline-none text-white font-bold py-2 px-4 rounded"
                            type="button" (click)="resetSearch();">
                            Reset
                        </button>

                    </div>

                </div>
            </div>

            <div class="w-full -mx-3 mb-6">
                <button mat-raised-button color="primary" *ngIf="showGenerateInvoiceButton"
                    (click)="requestInvoiceGeneration()"
                    style="text-align: center; margin: auto; float: right;">Generate Voucher</button>
                <br />
                <br />
            </div>

            <div class="flex flex-col overflow-hidden">
                <div class="-my-2 overflow-x-auto sm:-mx-6 lg:-mx-8">
                    <div class="py-2 align-middle inline-block min-w-full sm:px-6 lg:px-8">
                        <div class="shadow overflow-hidden border-b border-gray-200 sm:rounded-lg">
                            <table class="min-w-full divide-y divide-gray-200">
                                <thead class="bg-gray-50">
                                    <tr>
                                        <th scope="col"
                                            class="px-6 py-4 whitespace-nowrap text-left text-sm font-medium text-gray-500 uppercase tracking-wider">

                                            <input *ngIf="showSelectAll" type="checkbox" class="form-checkbox"
                                                (change)="selectAllRows()" [checked]="selectAll">
                                        </th>

                                        <th scope="col"
                                            class="px-6 py-4 whitespace-nowrap text-left text-sm font-medium text-gray-500 uppercase tracking-wider">
                                            <div>
                                                <span>Visit Date</span>
                                                <mat-icon (click)="sortData('VisitDate', 'desc')"
                                                    *ngIf="(sortedColumn === '' ||  sortedColumn !== 'VisitDate')"
                                                    class="icon-size-4 text-muted-custom"
                                                    [svgIcon]="'heroicons_solid:chevron-up'"></mat-icon>
                                                <mat-icon (click)="sortData('VisitDate', 'asc')"
                                                    *ngIf="sortedColumn === 'VisitDate' &&  sortOrderVal===1"
                                                    class="icon-size-4" [svgIcon]="'heroicons_solid:chevron-down'">
                                                </mat-icon>
                                                <mat-icon (click)="sortData('VisitDate', 'desc')"
                                                    *ngIf="sortedColumn === 'VisitDate' &&  sortOrderVal===0"
                                                    class="icon-size-4" [svgIcon]="'heroicons_solid:chevron-up'">
                                                </mat-icon>
                                            </div>
                                        </th>

                                        <th scope="col"
                                            class="px-6 py-4 whitespace-nowrap text-left text-sm font-medium text-gray-500 uppercase tracking-wider">
                                            <div class="">
                                                <span>Patient Name</span>
                                                <mat-icon (click)="sortData('EmployeeName', 'desc')"
                                                    *ngIf="(sortedColumn === '' ||  sortedColumn !== 'EmployeeName')"
                                                    class="icon-size-4 text-muted-custom"
                                                    [svgIcon]="'heroicons_solid:chevron-up'"></mat-icon>
                                                <mat-icon (click)="sortData('EmployeeName', 'asc')"
                                                    *ngIf="sortedColumn === 'EmployeeName' &&  sortOrderVal===1"
                                                    class="icon-size-4" [svgIcon]="'heroicons_solid:chevron-down'">
                                                </mat-icon>
                                                <mat-icon (click)="sortData('EmployeeName', 'desc')"
                                                    *ngIf="sortedColumn === 'EmployeeName' &&  sortOrderVal===0"
                                                    class="icon-size-4" [svgIcon]="'heroicons_solid:chevron-up'">
                                                </mat-icon>
                                            </div>
                                        </th>

                                        <th scope="col"
                                            class="px-6 py-4 whitespace-nowrap text-left text-sm font-medium text-gray-500 uppercase tracking-wider">
                                            IC NO
                                        </th>

                                        <th scope="col"
                                            class="px-6 py-4 whitespace-nowrap text-left text-sm font-medium text-gray-500 uppercase tracking-wider">
                                            Company Name
                                        </th>

                                        <th scope="col"
                                            class="px-6 py-4 whitespace-nowrap text-left text-sm font-medium text-gray-500 uppercase tracking-wider">
                                            <div class="">
                                                <span>Clinic Name</span>
                                                <mat-icon (click)="sortData('ClinicName', 'desc')"
                                                    *ngIf="(sortedColumn === '' ||  sortedColumn !== 'ClinicName')"
                                                    class="icon-size-4 text-muted-custom"
                                                    [svgIcon]="'heroicons_solid:chevron-up'"></mat-icon>
                                                <mat-icon (click)="sortData('ClinicName', 'asc')"
                                                    *ngIf="sortedColumn === 'ClinicName' &&  sortOrderVal===1"
                                                    class="icon-size-4" [svgIcon]="'heroicons_solid:chevron-down'">
                                                </mat-icon>
                                                <mat-icon (click)="sortData('ClinicName', 'desc')"
                                                    *ngIf="sortedColumn === 'ClinicName' &&  sortOrderVal===0"
                                                    class="icon-size-4" [svgIcon]="'heroicons_solid:chevron-up'">
                                                </mat-icon>
                                            </div>
                                        </th>

                                        <!-- <th scope="col"
                                            class="px-6 py-4 whitespace-nowrap text-left text-sm font-medium text-gray-500 uppercase tracking-wider">
                                            <div class="">
                                                <span>Company Name</span>
                                                <mat-icon (click)="sortData('companyName', 'desc')"
                                                    *ngIf="(sortedColumn === '' ||  sortedColumn !== 'companyName')"
                                                    class="icon-size-5 text-muted-custom"
                                                    [svgIcon]="'heroicons_solid:arrow-sm-up'"></mat-icon>
                                                <mat-icon (click)="sortData('companyName', 'asc')"
                                                    *ngIf="sortedColumn === 'companyName' &&  sortOrderVal===1"
                                                    class="icon-size-5" [svgIcon]="'heroicons_solid:arrow-sm-down'">
                                                </mat-icon>
                                                <mat-icon (click)="sortData('companyName', 'desc')"
                                                    *ngIf="sortedColumn === 'companyName' &&  sortOrderVal===0"
                                                    class="icon-size-5" [svgIcon]="'heroicons_solid:arrow-sm-up'">
                                                </mat-icon>
                                            </div>
                                        </th> -->

                                        <th scope="col"
                                            class="px-6 py-4 whitespace-nowrap text-left text-sm font-medium text-gray-500 uppercase tracking-wider">
                                            <div class="">
                                                <span>Invoice Amount(RM)</span>
                                                <mat-icon (click)="sortData('InvoiceAmount', 'desc')"
                                                    *ngIf="(sortedColumn === '' ||  sortedColumn !== 'InvoiceAmount')"
                                                    class="icon-size-4 text-muted-custom"
                                                    [svgIcon]="'heroicons_solid:chevron-up'"></mat-icon>
                                                <mat-icon (click)="sortData('InvoiceAmount', 'asc')"
                                                    *ngIf="sortedColumn === 'InvoiceAmount' &&  sortOrderVal===1"
                                                    class="icon-size-4" [svgIcon]="'heroicons_solid:chevron-down'">
                                                </mat-icon>
                                                <mat-icon (click)="sortData('InvoiceAmount', 'desc')"
                                                    *ngIf="sortedColumn === 'InvoiceAmount' &&  sortOrderVal===0"
                                                    class="icon-size-4" [svgIcon]="'heroicons_solid:chevron-up'">
                                                </mat-icon>
                                            </div>
                                        </th>

                                        <th scope="col"
                                            class="px-6 py-4 whitespace-nowrap text-left text-sm font-medium text-gray-500 uppercase tracking-wider">
                                            <div class="">
                                                <span>Claim Amount(RM)</span>
                                                <mat-icon (click)="sortData('ClaimAmount', 'desc')"
                                                    *ngIf="(sortedColumn === '' ||  sortedColumn !== 'ClaimAmount')"
                                                    class="icon-size-4 text-muted-custom"
                                                    [svgIcon]="'heroicons_solid:chevron-up'"></mat-icon>
                                                <mat-icon (click)="sortData('ClaimAmount', 'asc')"
                                                    *ngIf="sortedColumn === 'ClaimAmount' &&  sortOrderVal===1"
                                                    class="icon-size-4" [svgIcon]="'heroicons_solid:chevron-down'">
                                                </mat-icon>
                                                <mat-icon (click)="sortData('ClaimAmount', 'desc')"
                                                    *ngIf="sortedColumn === 'ClaimAmount' &&  sortOrderVal===0"
                                                    class="icon-size-4" [svgIcon]="'heroicons_solid:chevron-up'">
                                                </mat-icon>
                                            </div>
                                        </th>

                                        <th scope="col"
                                            class="px-6 py-4 whitespace-nowrap text-left text-sm font-medium text-gray-500 uppercase tracking-wider">
                                            <div class="">
                                                <span>Payment Status</span>
                                                <mat-icon (click)="sortData('IsPayableInvoiceGenerated', 'desc')"
                                                    *ngIf="(sortedColumn === '' ||  sortedColumn !== 'IsPayableInvoiceGenerated')"
                                                    class="icon-size-4 text-muted-custom"
                                                    [svgIcon]="'heroicons_solid:chevron-up'"></mat-icon>
                                                <mat-icon (click)="sortData('IsPayableInvoiceGenerated', 'asc')"
                                                    *ngIf="sortedColumn === 'IsPayableInvoiceGenerated' &&  sortOrderVal===1"
                                                    class="icon-size-4" [svgIcon]="'heroicons_solid:chevron-down'">
                                                </mat-icon>
                                                <mat-icon (click)="sortData('IsPayableInvoiceGenerated', 'desc')"
                                                    *ngIf="sortedColumn === 'IsPayableInvoiceGenerated' &&  sortOrderVal===0"
                                                    class="icon-size-4" [svgIcon]="'heroicons_solid:chevron-up'">
                                                </mat-icon>
                                            </div>
                                        </th>

                                    </tr>
                                </thead>

                                <tbody class="bg-white divide-y divide-gray-200">
                                    <ng-container *ngFor="let a of accountData; let i = index;">
                                        <tr>
                                            <td class="px-6 py-4 whitespace-nowrap">
                                                <input *ngIf="a.IsPayableInvoiceGenerated === 'N'" type="checkbox"
                                                    class="form-checkbox" (change)="checkValue(a, $event)"
                                                    [checked]="a.isChecked || selectAll">
                                            </td>

                                            <td class="px-6 py-4 whitespace-nowrap">
                                                <div class="text-sm text-gray-900">{{ a.VisitDate | date}}</div>
                                            </td>

                                            <td class="px-6 py-4 whitespace-nowrap">
                                                <div class="text-sm text-gray-900">{{ a.EmployeeName }}</div>
                                            </td>

                                            <td class="px-6 py-4 whitespace-nowrap">
                                                <div class="text-sm text-gray-900">{{ a.ICNum }}</div>
                                            </td>

                                            <td class="px-6 py-4 whitespace-nowrap">
                                                <div class="text-sm text-gray-900">{{ a.companyName }}</div>
                                            </td>

                                            <td class="px-6 py-4 whitespace-nowrap">
                                                <div class="text-sm text-gray-900">{{ a.ClinicName }}</div>
                                            </td>

                                            <td class="px-6 py-4 whitespace-nowrap">
                                                <div class="text-sm text-gray-900">RM {{ a.InvoiceAmount | number:'1.2' }}
                                                </div>
                                            </td>

                                            <td class="px-6 py-4 whitespace-nowrap">
                                                <div class="text-sm text-gray-900">RM {{ a.ClaimAmount | number:'1.2' }}
                                                </div>
                                            </td>

                                            <td class="px-6 py-4 whitespace-nowrap">
                                                <div class="text-sm text-gray-900">{{ a.IsPayableInvoiceGenerated ===
                                                    'N' ? 'Payment Pending' : 'Payment Done' }}</div>
                                            </td>
                                        </tr>
                                    </ng-container>

                                    <tr *ngIf="!accountData || accountData.length===0">
                                        <td colspan="12"
                                            class="text-center text-mx text-gray-900 px-6 py-4 whitespace-nowrap ng-star-inserted">
                                            No Data Found
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                        <br />
                        <div class="grid grid-cols-1 gap-4">
                            <div>
                                <div class="grid grid-cols-1 gap-4" style="float: left;">
                                    <div class="flex flex-wrap -mx-3 mb-6" *ngIf="totalPageCount > 0">
                                        <div class="w-full px-3 mb-6 md:mb-0">
                                            <h5>Page {{ pageCount }} of {{totalPageCount}}</h5>
                                        </div>
                                    </div>
                                </div>
                                <div class="grid grid-cols-1 gap-4" style="float: right;">
                                    <div class="flex flex-wrap -mx-3 mb-6" *ngIf="totalPageCount > 0">
                                        <div class="w-full px-3 mb-6 md:mb-0">
                                            <app-paginator [totalPageCount]="totalPageCount"
                                                [resetPageIndex]=resetPageIndex [pageButtonsCount]=pageButtonsCount
                                                (changePage)="changePage($event)">
                                            </app-paginator>
                                        </div>
                                    </div>
                                </div>
                                <!-- <div class="grid grid-cols-2 gap-4" style="float: right;">
                                    <div *ngIf="pageCount > 1">
                                        <button (click)="changePage('prev')"
                                            class="shadow bg-purple-500 hover:bg-purple-400 focus:shadow-outline focus:outline-none text-white font-bold py-2 px-4 rounded"
                                            type="button">
                                            Prev
                                        </button>
                                    </div>

                                    <div *ngIf="showNext">
                                        <button (click)="changePage('next')"
                                            class="shadow bg-purple-500 hover:bg-purple-400 focus:shadow-outline focus:outline-none text-white font-bold py-2 px-4 rounded"
                                            type="button">
                                            Next
                                        </button>
                                    </div>
                                </div> -->
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>