<div class="flex flex-col flex-auto min-w-0">
    <div class="flex-auto p-6 sm:p-10">

        <h1>Notifications List</h1>
        <div>
            <div>
                <div class="flex flex-wrap -mx-3 mb-6">
                   

                    <div class="w-full md:w-1/4 px-3 mb-6 md:mb-0">
                        <div class="relative">
                            <select class="appearance-none block w-full border rounded py-3 px-4 mb-3 bg-white"
                                id="grid-state" [(ngModel)]="searchField.NotificationType" autocomplete="off">
                                <option [value]="''">- Select Notification Type -</option>
                                <option [value]="1">Message</option>
                                <option [value]="2">Notification</option>
                            </select>
                        </div>
                    </div>
                    
                    
                    <div class="w-full md:w-1/4 px-3 mb-6 md:mb-0">
                        <div class="relative">
                            <select class="appearance-none block w-full border rounded py-3 px-4 mb-3 bg-white"
                                id="grid-state" [(ngModel)]="searchField.ActiveYN" autocomplete="off">
                                <option [value]="''">- Select Notification Status -</option>
                                <option [value]="'Y'">Active</option>
                                <option [value]="'N'">Not Active</option>
                            </select>
                        </div>
                    </div>

                    <div class="w-full md:w-1/4 px-3 mb-6 md:mb-0">
                        <div class="relative">
                            <select class="appearance-none block w-full border rounded py-3 px-4 mb-3 bg-white"
                                id="grid-state" [(ngModel)]="searchField.CompanyId" autocomplete="off">
                                <!-- <option hidden value="" disabled selected>Select one category </option> -->
                                <option [value]="''">- Companies -</option>
                                <option [value]="c.Id" *ngFor="let c of companyList;">{{ c.CoName }}
                                </option>
                            </select>
                        </div>
                    </div>

                    <div class="w-full md:w-1/4 px-3 mb-6 md:mb-0" style="text-align: center;">
                        <button
                        class="gap-4 shadow mr-4 bg-purple-500 disabled:bg-purple-500 hover:bg-purple-400 focus:shadow-outline focus:outline-none text-white font-bold py-2 px-4 rounded"
                        type="button"
                        (click)="filteraccountData();">
                        Search
                    </button>
    
                    <button style="margin-left: 5px;"
                        class="shadow bg-purple-500 hover:bg-purple-400 focus:shadow-outline focus:outline-none text-white font-bold py-2 px-4 rounded"
                        type="button" (click)="resetSearch();">
                        Reset
                    </button>
                    </div>
                </div>
            </div>

            <div class="w-full -mx-3 mb-6">
                <button mat-raised-button color="primary"
                [routerLink]="['/notifications/add']"
                    style="text-align: center; margin: auto; float: right;">Create Notification</button>
                <br />
                <br />
            </div>

            <div class="flex flex-col">
                <div class="-my-2 overflow-x-auto sm:-mx-6 lg:-mx-8">
                    <div class="py-2 align-middle inline-block min-w-full sm:px-6 lg:px-8">
                        <div class="shadow overflow-hidden border-b border-gray-200 sm:rounded-lg">
                            <table class="min-w-full divide-y divide-gray-200">
                                <thead class="bg-gray-50">
                                    <tr>
                                        <th scope="col"
                                            class="px-6 py-3 text-left text-sm font-medium text-gray-500 uppercase tracking-wider">
                                            Company Name
                                        </th>

                                        <th scope="col"
                                            class="px-6 py-3 text-left text-sm font-medium text-gray-500 uppercase tracking-wider">
                                            Title
                                        </th>

                                        <th scope="col"
                                            class="px-6 py-3 text-left text-sm font-medium text-gray-500 uppercase tracking-wider">
                                            Body
                                        </th>

                                        <th scope="col"
                                            class="px-6 py-3 text-left text-sm font-medium text-gray-500 uppercase tracking-wider">
                                            Status
                                        </th>

                                        <th scope="col"
                                            class="px-6 py-3 text-left text-sm font-medium text-gray-500 uppercase tracking-wider">
                                            Actions
                                        </th>

                                        <!-- <th scope="col"
                                            class="px-6 py-3 text-left text-xs font-medium text-gray-500 uppercase tracking-wider">
                                            Action
                                        </th> -->
                                    </tr>
                                </thead>

                                <tbody class="bg-white divide-y divide-gray-200">
                                    <ng-container *ngFor="let a of notificationData; let i = index;">
                                        <tr>
                                        <tr>

                                            <td class="px-6 py-4 whitespace-nowrap">
                                                <div class="text-sm text-gray-900">{{ a.CompanyName}}</div>
                                            </td>

                                            <td class="px-6 py-4 whitespace-nowrap">
                                                <div class="text-sm text-gray-900">{{ a.Header}}</div>
                                            </td>

                                            <td class="px-6 py-4 whitespace-nowrap">
                                                <div class="text-sm text-gray-900">{{ a.Body }}</div>
                                            </td>

                                            <td class="px-6 py-4 whitespace-nowrap">
                                                <div class="text-sm text-gray-900">{{ a.ActiveYN == 'N' ? 'Not Active' : 'Active'  }}</div>
                                            </td>

                                            <td class="px-6 py-4 whitespace-nowrap">
                                                <button style="margin-right: 1rem;"
                                                    [routerLink]="['/notifications/edit/' + a.Id]"
                                                    class="gap-4 shadow bg-purple-500 hover:bg-purple-400 focus:shadow-outline focus:outline-none text-white font-bold py-2 px-4 pt-1 pb-1 rounded"
                                                    type="button">
                                                    Edit
                                                </button>
                                                <button
                                                    [routerLink]="['/notifications/details/' + a.Id]"
                                                    class="gap-4 shadow bg-purple-500 hover:bg-purple-400 focus:shadow-outline focus:outline-none text-white font-bold py-2 px-4 pt-1 pb-1 rounded"
                                                    type="button">
                                                    Details
                                                </button>
                                            </td>


                                            <!-- <td class="px-6 py-4 whitespace-nowrap">
                                                <a target="_blank" class="text-sm text-gray-900">Edit</a>
                                            </td> -->
                                        </tr>
                                    </ng-container>

                                    <tr *ngIf="!notificationData || notificationData.length===0">
                                        <td colspan="12"
                                            class="text-center text-mx text-gray-900 px-6 py-4 whitespace-nowrap ng-star-inserted">
                                            No Data Found
                                        </td>
                                    </tr>
                                </tbody>
                             </table>
                        </div>
                        <br />
                        <div class="grid grid-cols-1 gap-4">
                            <div>
                                <div class="grid grid-cols-1 gap-4" style="float: left;">
                                    <div class="flex flex-wrap -mx-3 mb-6" *ngIf="totalPageCount > 0">
                                        <div class="w-full px-3 mb-6 md:mb-0">
                                            <h5>Page {{ pageCount }} of {{totalPageCount}}</h5>
                                        </div>
                                    </div>
                                </div> <div class="grid grid-cols-1 gap-4" style="float: right;">
                                    <div class="flex flex-wrap -mx-3 mb-6" *ngIf="totalPageCount > 0">
                                        <div class="w-full px-3 mb-6 md:mb-0">
                                            <app-paginator [totalPageCount]="totalPageCount" [resetPageIndex]=resetPageIndex
                                                [pageButtonsCount]=pageButtonsCount (changePage)="changePage($event)">
                                            </app-paginator>
                                        </div>
                                    </div>
                                </div>
                                <!-- <div class="grid grid-cols-2 gap-4" style="float: right;">
                                    <div *ngIf="pageCount > 1">
                                        <button (click)="changePage('prev')"
                                            class="shadow bg-purple-500 hover:bg-purple-400 focus:shadow-outline focus:outline-none text-white font-bold py-2 px-4 rounded"
                                            type="button">
                                            Prev
                                        </button>
                                    </div>

                                    <div *ngIf="showNext">
                                        <button (click)="changePage('next')"
                                            class="shadow bg-purple-500 hover:bg-purple-400 focus:shadow-outline focus:outline-none text-white font-bold py-2 px-4 rounded"
                                            type="button">
                                            Next
                                        </button>
                                    </div>
                                </div> -->
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>