<p>Rejection Reason</p>
<button style="float: right;" mat-button (click)="closePopup()">X</button>
<div>
    <div class="flex-auto">
        <div class="w-full max-w-screen-xl mx-auto">
            <div class="grid grid-cols-1">
                <div class="flex flex-col mt-2">
                    <div class="flex flex-col flex-auto p-6 bg-card shadow rounded-2xl overflow-hidden">
                        <div class="mt-1">
                            <label class="justify-left mt-5 text-secondary ml-1">Reason: </label>
                            <textarea [maxLength]="500"
                                class="appearance-none block w-full border rounded py-2 px-4 mb-3 bg-white"
                                (input)="changeReason($event)" type="text" placeholder="Enter Reason"
                                [(ngModel)]='rejectReason'>
                            	</textarea>
                            <div class="text-red-500" *ngIf="rejectReason?.length===500">
                                <span>Only 500 Characters are allowed.</span>
                                <br/>
                                <span>You have reached the maximum limit.</span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </div>
        <br />
        <div class="grid grid-cols-1 gap-4">
            <div>
                <div class="grid grid-cols-2 gap-4" style="float: right;">
                    <div>
                        <button [disabled]="disableSubmitButton" (click)="updateClaimStatus()" class="shadow bg-purple-500 hover:bg-purple-400 disabled:bg-purple-500 focus:shadow-outline 
                            focus:outline-none text-white font-bold py-2 px-4 rounded" type="button">
                            Submit
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>