<div class="flex flex-col flex-auto min-w-0">

    <!-- Main -->
    <div class="flex-auto p-6 sm:p-10">

        <div class="grid grid-cols-2 gap-4">
            <div *ngIf="employeeData.totalCount === 0">
                <!-- <h3>Select file to see data.</h3> -->
            </div>

            <div class="text-right" *ngIf="employeeData.totalCount === 0">
                <input type="file" #file style="display: none;" (change)="selectFile($event);"
                    accept=".csv,application/vnd.openxmlformats-officedocument.spreadsheetml.sheet, application/vnd.ms-excel">

                <button mat-raised-button color="primary" (click)="file.click()"
                    style="text-align: center; margin: auto;">Upload Excel/CSV file</button>

                <button [routerLink]="['/employee/add-employee-manually']" mat-raised-button color="primary" style="margin-left: 6px;">Add
                    Employee</button>

                <br />
                <br />
            </div>

            <div *ngIf="employeeData.totalCount > 0">
                <h5>Total employee: {{ employeeData.totalCount }}, Error: {{ employeeData.errorCount }}</h5>
            </div>

            <div class="text-right" *ngIf="employeeData.totalCount > 0">
                <button mat-raised-button color="primary" (click)="export();">Export</button>

                <br />
                <br />
            </div>
        </div>

        <!-- CONTENT GOES HERE -->
        <div class="" *ngIf="employeeData.dataSource.length > 0">

            <!-- This example requires Tailwind CSS v2.0+ -->
            <div class="flex flex-col">
                <div class="-my-2 overflow-x-auto sm:-mx-6 lg:-mx-8">
                    <div class="py-2 align-middle inline-block min-w-full sm:px-6 lg:px-8">
                        <div class="shadow overflow-hidden border-b border-gray-200 sm:rounded-lg">
                            <table class="min-w-full divide-y divide-gray-200">
                                <thead class="bg-gray-50">
                                    <tr>
                                        <th scope="col"
                                            class="px-6 py-3 text-left text-xs font-medium text-gray-500 uppercase tracking-wider"
                                            *ngFor="let col of employeeData.dataSource[0] | keyvalue;">
                                            {{ col.key }}
                                        </th>
                                    </tr>
                                </thead>

                                <tbody class="bg-white divide-y divide-gray-200">
                                    <ng-container *ngFor="let empList of employeeData.dataSource; let i = index;">
                                        <tr (click)="viewData(i)">
                                            <ng-container *ngIf="empList.error == false">
                                                <ng-container *ngFor="let d of empList | keyvalue: originalOrder;">
                                                    <td class="px-6 py-4 whitespace-nowrap">
                                                        <div class="text-sm text-gray-900">{{ d.value }}</div>
                                                        <!-- <div class="text-sm text-gray-500">Optimization</div> -->
                                                    </td>
                                                </ng-container>
                                            </ng-container>

                                            <ng-container *ngIf="empList.error == true">
                                                <ng-container *ngFor="let d of empList | keyvalue: originalOrder;">
                                                    <td class="px-6 py-4 whitespace-nowrap"
                                                        style="color: red; background-color: red;">
                                                        <div class="text-sm text-gray-900">{{ d.value }}</div>
                                                        <!-- <div class="text-sm text-gray-500">Optimization</div> -->
                                                    </td>
                                                </ng-container>
                                            </ng-container>
                                        </tr>
                                    </ng-container>

                                    <!-- More people... -->
                                </tbody>
                            </table>

                        </div>
                    </div>
                </div>
            </div>
        </div>





        <div class="" *ngIf="employeeData.dataSource.length == 0">

            <h1>Employee List</h1>

            <div>

                    <div class="flex flex-wrap -mx-3 mb-6">
                        <div class="w-full md:w-1/6 px-3 mb-6 md:mb-0">
                            <input class="appearance-none block w-full border rounded py-3 px-4 mb-3 bg-white"
                                id="grid-first-name" type="text" placeholder="Enter name" [(ngModel)]="sortField.name" autocomplete="off">
                        </div>

                        <!-- Department -->
                        <div class="w-full md:w-1/6 px-3 mb-6 md:mb-0">
                            <div class="relative">
                                <select class="appearance-none block w-full border rounded py-3 px-4 mb-3 bg-white" id="grid-state"
                                [(ngModel)]="sortField.Department" autocomplete="off">
                                    <option [value]="''">- Department -</option>

                                    <ng-container *ngFor="let d of department;">
                                        <option [value]="d.DeptName">{{ d.DeptName }}</option>
                                    </ng-container>
                                </select>
                            </div>
                        </div>

                        <!-- Nationality -->
                        <div class="w-full md:w-1/6 px-3 mb-6 md:mb-0">
                            <div class="">
                                <select class="appearance-none block w-full border rounded py-3 px-4 mb-3 bg-white" id="grid-state"
                                [(ngModel)]="sortField.Nationality" autocomplete="off">
                                    <option [value]="''">- Nationality -</option>
                                    <ng-container *ngFor="let n of location.nationality;">
                                        <option [value]="'MY'">Malaysia</option>
                                        <option [value]="n.ShortDesc">{{ n.LongDesc }}</option>
                                    </ng-container>
                                </select>

                                <p class="text-red-500 text-s italic"
                                    *ngIf="sortEmployeeForm.get('nationality').invalid && (sortEmployeeForm.get('nationality').dirty || sortEmployeeForm.get('nationality').touched)">
                                    Please fill out this field.</p>
                            </div>
                        </div>

                         <!-- Gender -->
                        <div class="w-full md:w-1/6 px-3 mb-6 md:mb-0">
                            <div class="relative">
                                <select class="appearance-none block w-full border rounded py-3 px-4 mb-3 bg-white" id="grid-state"
                                [(ngModel)]="sortField.Gender" autocomplete="off">
                                    <option [value]="''">- Gender -</option>
                                    <option [value]="'m'">Male</option>
                                    <option [value]="'f'">Female</option>
                                    <option [value]="'o'">Others</option>
                                </select>
                            </div>
                        </div>


                        <!-- Gender -->
                        <div class="w-full md:w-1/6 px-3 mb-6 md:mb-0">
                            <div class="relative">
                                <select class="appearance-none block w-full border rounded py-3 px-4 mb-3 bg-white" id="grid-state"
                                [(ngModel)]="sortField.Retired" autocomplete="off">
                                    <option [value]="''">Not Retired</option>
                                    <option [value]="false">Retired</option>
                                </select>
                            </div>
                        </div>

                        <div class="w-full md:w-1/6 px-3 mb-6 md:mb-0" style="text-align: center;">
                            <button
                                class="gap-4 shadow bg-purple-500 hover:bg-purple-400 focus:shadow-outline focus:outline-none text-white font-bold py-2 px-4 rounded"
                                type="button" (click)="filterEmployee();">
                                Filter
                            </button>

                            <button style="margin-left: 5px;"
                                class="shadow bg-purple-500 hover:bg-purple-400 focus:shadow-outline focus:outline-none text-white font-bold py-2 px-4 rounded"
                                type="button" (click)="resetSort();">
                                Reset
                            </button>
                        </div>


                    </div>
            </div>

            <div *ngIf="employeeData.allData.length > 0">
                <h5>Total Employees: {{ employeeData.totalData }}</h5>
            </div>



            <!-- This example requires Tailwind CSS v2.0+ -->
            <div class="flex flex-col">
                <div class="-my-2 overflow-x-auto sm:-mx-6 lg:-mx-8">
                    <div class="py-2 align-middle inline-block min-w-full sm:px-6 lg:px-8">
                        <div class="shadow overflow-hidden border-b border-gray-200 sm:rounded-lg">
                            <table class="min-w-full divide-y divide-gray-200">
                                <thead class="bg-gray-50">
                                    <tr>
                                        <th scope="col" class="px-6 py-3 text-left text-xs font-medium text-gray-500 uppercase tracking-wider">
                                            Sr No
                                        </th>

                                        <th scope="col" class="px-6 py-3 text-left text-xs font-medium text-gray-500 uppercase tracking-wider">
                                            Emp No
                                        </th>

                                        <th scope="col" class="px-6 py-3 text-left text-xs font-medium text-gray-500 uppercase tracking-wider">
                                            Emp Name
                                            <div >
                                                <mat-icon (click)="sortOrder('EmpName', 'desc')" *ngIf="(sortedColumn === '' ||  sortedColumn !== 'EmpName')" class="icon-size-5 text-muted-custom" [svgIcon]="'heroicons_solid:arrow-sm-up'"></mat-icon>
                                                <mat-icon (click)="sortOrder('EmpName', 'asc')" *ngIf="sortedColumn === 'EmpName' &&  sortOrderVal==='desc'"  class="icon-size-5" [svgIcon]="'heroicons_solid:arrow-sm-down'"></mat-icon>
                                                <mat-icon (click)="sortOrder('EmpName', 'desc')" *ngIf="sortedColumn === 'EmpName' &&  sortOrderVal==='asc'"  class="icon-size-5" [svgIcon]="'heroicons_solid:arrow-sm-up'"></mat-icon>
                                           </div>
                                        </th>

                                        <th scope="col" class="px-6 py-3 text-left text-xs font-medium text-gray-500 uppercase tracking-wider">
                                            Gender

                                            <div >
                                                <mat-icon (click)="sortOrder('Gender', 'desc')" *ngIf="(sortedColumn === '' ||  sortedColumn !== 'Gender')" class="icon-size-5 text-muted-custom" [svgIcon]="'heroicons_solid:arrow-sm-up'"></mat-icon>
                                                <mat-icon (click)="sortOrder('Gender', 'asc')" *ngIf="sortedColumn === 'Gender' &&  sortOrderVal==='desc'"  class="icon-size-5" [svgIcon]="'heroicons_solid:arrow-sm-down'"></mat-icon>
                                                <mat-icon (click)="sortOrder('Gender', 'desc')" *ngIf="sortedColumn === 'Gender' &&  sortOrderVal==='asc'"  class="icon-size-5" [svgIcon]="'heroicons_solid:arrow-sm-up'"></mat-icon>
                                           </div>
                                            <!-- <a (click)="sortOrder('Gender', 'asc')" style="cursor: pointer; margin-left: 5px; color: green;">ASC</a>
                                            <a (click)="sortOrder('Gender', 'desc')" style="cursor: pointer; margin-left: 5px; color: red;">DESC</a> -->
                                        </th>

                                        <th scope="col" class="px-6 py-3 text-left text-xs font-medium text-gray-500 uppercase tracking-wider">
                                            Dept

                                            <!-- <a (click)="sortOrder('Gender', 'asc')" style="cursor: pointer; margin-left: 5px; color: green;">ASC</a>
                                            <a (click)="sortOrder('Gender', 'desc')" style="cursor: pointer; margin-left: 5px; color: red;">DESC</a> -->
                                        </th>

                                        <th scope="col" class="px-6 py-3 text-left text-xs font-medium text-gray-500 uppercase tracking-wider">
                                            Cost Center
                                        </th>

                                        <th scope="col" class="px-6 py-3 text-left text-xs font-medium text-gray-500 uppercase tracking-wider">
                                            Nationality

                                            <div >
                                                <mat-icon (click)="sortOrder('Nationality', 'desc')" *ngIf="(sortedColumn === '' ||  sortedColumn !== 'Nationality')" class="icon-size-5 text-muted-custom" [svgIcon]="'heroicons_solid:arrow-sm-up'"></mat-icon>
                                                <mat-icon (click)="sortOrder('Nationality', 'asc')" *ngIf="sortedColumn === 'Nationality' &&  sortOrderVal==='desc'"  class="icon-size-5" [svgIcon]="'heroicons_solid:arrow-sm-down'"></mat-icon>
                                                <mat-icon (click)="sortOrder('Nationality', 'desc')" *ngIf="sortedColumn === 'Nationality' &&  sortOrderVal==='asc'"  class="icon-size-5" [svgIcon]="'heroicons_solid:arrow-sm-up'"></mat-icon>
                                           </div>
                                            <!-- <a (click)="sortOrder('Nationality', 'asc')" style="cursor: pointer; margin-left: 5px; color: green;">ASC</a>
                                            <a (click)="sortOrder('Nationality', 'desc')" style="cursor: pointer; margin-left: 5px; color: red;">DESC</a> -->
                                        </th>

                                        <th scope="col" class="px-6 py-3 text-left text-xs font-medium text-gray-500 uppercase tracking-wider">
                                            Phone
                                        </th>

                                        <th scope="col" class="px-6 py-3 text-left text-xs font-medium text-gray-500 uppercase tracking-wider">
                                            IC/passport
                                        </th>

                                        <th scope="col" class="px-6 py-3 text-left text-xs font-medium text-gray-500 uppercase tracking-wider">
                                            Emp Status
                                        </th>

                                        <th scope="col" class="px-6 py-3 text-left text-xs font-medium text-gray-500 uppercase tracking-wider">
                                            Option
                                        </th>
                                    </tr>
                                </thead>

                                <tbody class="bg-white divide-y divide-gray-200">
                                    <ng-container *ngFor="let empList of employeeData.allData; let i = index;">
                                        <tr>
                                            <td class="px-6 py-4 whitespace-nowrap">
                                                <div class="text-sm text-gray-900">{{ (i + 1) * employeeData.page }}</div>
                                            </td>

                                            <td class="px-6 py-4 whitespace-nowrap">
                                                <div class="text-sm text-gray-900">{{ empList.EmpNo }}</div>
                                            </td>

                                            <td class="px-6 py-4 whitespace-nowrap">
                                                <div class="text-sm text-gray-900">{{ empList.EmpName }}</div>
                                            </td>

                                            <td class="px-6 py-4 whitespace-nowrap">
                                                <div class="text-sm text-gray-900">{{ empList.Gender | uppercase }}</div>
                                            </td>

                                            <td class="px-6 py-4 whitespace-nowrap">
                                                <div class="text-sm text-gray-900">{{ empList.Department }}</div>
                                            </td>

                                            <td class="px-6 py-4 whitespace-nowrap">
                                                <div class="text-sm text-gray-900">{{ empList.LongDesc }}</div>
                                            </td>

                                            <td class="px-6 py-4 whitespace-nowrap">
                                                <div class="text-sm text-gray-900">{{ empList.Phone }}</div>
                                            </td>

                                            <td class="px-6 py-4 whitespace-nowrap">
                                                <div class="text-sm text-gray-900">{{ empList.ICNum }}</div>
                                            </td>

                                            <td class="px-6 py-4 whitespace-nowrap">
                                                <div class="text-sm text-gray-900">Retired </div>
                                            </td>

                                            <td class="px-6 py-4 whitespace-nowrap">
                                                <button (click)="editEmployee(i)" class="shadow bg-purple-500 hover:bg-purple-400 focus:shadow-outline focus:outline-none text-white font-bold py-2 px-4 rounded" type="button">
                                                    Edit
                                                </button>
                                            </td>
                                        </tr>
                                    </ng-container>

                                    <!-- More people... -->
                                </tbody>
                            </table>

                        </div>

                        <br />
                        <div class="flex flex-wrap -mx-3 mb-6" *ngIf="employeeData.page > 1">
                            <div class="w-full md:w-1/5 px-3 mb-6 md:mb-0">
                                <button (click)="nextPage('prev')" class="shadow bg-purple-500 hover:bg-purple-400 focus:shadow-outline focus:outline-none text-white font-bold py-2 px-4 rounded" type="button">
                                Prev
                                </button>
                            </div>
                        </div>

                        <div class="flex flex-wrap -mx-3 mb-6" *ngIf="employeeData.allData.length == 20">
                            <div class="w-full md:w-1/5 px-3 mb-6 md:mb-0">
                                <button (click)="nextPage('next')" class="shadow bg-purple-500 hover:bg-purple-400 focus:shadow-outline focus:outline-none text-white font-bold py-2 px-4 rounded" type="button">
                                Next
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>

</div>
