.demo-table {
    width: 100%;
  }

  .demo-button-container {
    padding-bottom: 16px;
  }

  .demo-button + .demo-button {
    margin-left: 8px;
  }


  .table-error {
    background-color: red;
  }

  .text-muted-custom {
    color: #ccc !important;
  }
