<h2 mat-dialog-title>Employee Edit</h2>

<mat-dialog-content class="mat-typography">
    <form class="w-full" [formGroup]="addEmployeeForm">
        <!-- Name -->
        <div class="flex flex-wrap -mx-3 mb-6">
            <div class="w-full md:w-1/2 px-3 mb-6 md:mb-0">
                <label class="block uppercase tracking-wide text-gray-700 text-xs font-bold mb-2"
                    for="grid-first-name">
                    Name
                </label>
                <input class="appearance-none block w-full border rounded py-3 px-4 mb-3 bg-white"
                    id="grid-first-name" type="text" placeholder="Enter name" formControlName="name" [(ngModel)]="data.name">
                
                <p class="text-red-500 text-xs italic"
                *ngIf="addEmployeeForm.get('name').invalid && (addEmployeeForm.get('name').dirty || addEmployeeForm.get('name').touched)">Please fill out this field.</p>
            </div>

        </div>


        
        <div class="flex flex-wrap -mx-3 mb-6">
            <!-- Date of hire -->
            <div class="w-full md:w-1/4 px-3 mb-6 md:mb-0">
                <label class="block uppercase tracking-wide text-gray-700 text-xs font-bold mb-2"
                    for="grid-first-name">
                    Date of Hire
                </label>
                
                <mat-form-field appearance="fill" style="width: 100%;">
                    <input matInput [matDatepicker]="DOH" placeholder="Enter Date of Hire" formControlName="doh" [(ngModel)]="data.dateofhire">
                    <mat-datepicker-toggle matSuffix [for]="DOH"></mat-datepicker-toggle>
                    <mat-datepicker #DOH></mat-datepicker>
                </mat-form-field>

                <p class="text-red-500 text-xs italic"
                *ngIf="addEmployeeForm.get('doh').invalid && (addEmployeeForm.get('doh').dirty || addEmployeeForm.get('doh').touched)">Please fill out this field.</p>
            </div>


            <!-- Department -->
            <div class="w-full md:w-1/4 px-3 mb-6 md:mb-0">
                <label class="block uppercase tracking-wide text-gray-700 text-xs font-bold mb-2"
                    for="grid-state">
                    Department
                </label>
                <div class="relative">
                    <select
                        class="appearance-none block w-full border rounded py-3 px-4 mb-3 bg-white"
                        id="grid-state" formControlName="department">
                        <option value="">- Select One -</option>
                        <option>IT Department</option>
                        <option>Account Department</option>
                    </select>

                    <p class="text-red-500 text-xs italic"
                *ngIf="addEmployeeForm.get('department').invalid && (addEmployeeForm.get('department').dirty || addEmployeeForm.get('department').touched)">Please fill out this field.</p>
                </div>
            </div>


            <!-- KWSP number -->
            <div class="w-full md:w-1/4 px-3 mb-6 md:mb-0">
                <label class="block uppercase tracking-wide text-gray-700 text-xs font-bold mb-2"
                    for="grid-first-name">
                    KWSP number
                </label>
                <input
                    class="appearance-none block w-full border rounded py-3 px-4 mb-3 bg-white"
                    id="grid-first-name" type="text" placeholder="Enter KWSP number" formControlName="kwsp">

                    <p class="text-red-500 text-xs italic"
                    *ngIf="addEmployeeForm.get('kwsp').invalid && (addEmployeeForm.get('kwsp').dirty || addEmployeeForm.get('kwsp').touched)">Please fill out this field.</p>
            </div>


            <!-- IC/Passport -->
            <div class="w-full md:w-1/4 px-3 mb-6 md:mb-0">
                <label class="block uppercase tracking-wide text-gray-700 text-xs font-bold mb-2"
                    for="grid-first-name">
                    IC/Passport
                </label>
                <input
                    class="appearance-none block w-full border rounded py-3 px-4 mb-3 bg-white"
                    id="grid-first-name" type="text" placeholder="Enter IC/Passport" formControlName="ic_passport" [(ngModel)]="data.passport_no_ic">

                    <p class="text-red-500 text-xs italic"
                    *ngIf="addEmployeeForm.get('ic_passport').invalid && (addEmployeeForm.get('ic_passport').dirty || addEmployeeForm.get('ic_passport').touched)">Please fill out this field.</p>
            </div>
        </div>



        <div class="flex flex-wrap -mx-3 mb-6">
            <!-- Nationality -->
            <div class="w-full md:w-1/4 px-3 mb-6 md:mb-0">
                <label class="block uppercase tracking-wide text-gray-700 text-xs font-bold mb-2"
                    for="grid-state">
                    Nationality
                </label>
                <div class="">
                    <select
                        class="appearance-none block w-full border rounded py-3 px-4 mb-3 bg-white"
                        id="grid-state" formControlName="nationality">
                        <option value="">- Select One -</option>
                        <option>New Mexico</option>
                        <option>Missouri</option>
                        <option>Texas</option>
                    </select>

                    <p class="text-red-500 text-xs italic"
                    *ngIf="addEmployeeForm.get('nationality').invalid && (addEmployeeForm.get('nationality').dirty || addEmployeeForm.get('nationality').touched)">Please fill out this field.</p>
                </div>
            </div>

            
            <!-- Tel no -->
            <div class="w-full md:w-1/4 px-3 mb-6 md:mb-0">
                <label class="block uppercase tracking-wide text-gray-700 text-xs font-bold mb-2"
                    for="grid-first-name">
                    Tel No
                </label>
                <input
                    class="appearance-none block w-full border rounded py-3 px-4 mb-3 bg-white"
                    id="grid-first-name" type="text" placeholder="Enter Tel no" formControlName="telNo" [(ngModel)]="data.phone">

                    <p class="text-red-500 text-xs italic"
                    *ngIf="addEmployeeForm.get('telNo').invalid && (addEmployeeForm.get('telNo').dirty || addEmployeeForm.get('telNo').touched)">Please fill out this field.</p>
            </div>


            <!-- DOB -->
            <div class="w-full md:w-1/4 px-3 mb-6 md:mb-0">
                <label class="block uppercase tracking-wide text-gray-700 text-xs font-bold mb-2"
                    for="grid-first-name">
                    DOB
                </label>
                
                <mat-form-field appearance="fill" style="width: 100%;">
                    <input matInput [matDatepicker]="dob" placeholder="Enter DOB" formControlName="dob" [(ngModel)]="data.date_of_birth">
                    <mat-datepicker-toggle matSuffix [for]="dob"></mat-datepicker-toggle>
                    <mat-datepicker #dob></mat-datepicker>
                </mat-form-field>

                <p class="text-red-500 text-xs italic"
                    *ngIf="addEmployeeForm.get('dob').invalid && (addEmployeeForm.get('dob').dirty || addEmployeeForm.get('dob').touched)">Please fill out this field.</p>
            </div>


            <!-- Gender -->
            <div class="w-full md:w-1/4 px-3 mb-6 md:mb-0">
                <label class="block uppercase tracking-wide text-gray-700 text-xs font-bold mb-2"
                    for="grid-state">
                    Gender
                </label>

                <div class="relative">
                    <select
                        class="appearance-none block w-full border rounded py-3 px-4 mb-3 bg-white"
                        id="grid-state" formControlName="gender" [(ngModel)]="data.gender">
                        <option value="">- Select One -</option>
                        <option value="male">Male</option>
                        <option value="female">Female</option>
                        <option value="others">Others</option>
                    </select>

                    <p class="text-red-500 text-xs italic"
                    *ngIf="addEmployeeForm.get('gender').invalid && (addEmployeeForm.get('gender').dirty || addEmployeeForm.get('gender').touched)">Please fill out this field.</p>
                </div>
            </div>
        </div>



        <div class="flex flex-wrap -mx-3 mb-6">
            <!-- Address line 1 -->
            <div class="w-full md:w-1/5 px-3 mb-6 md:mb-0">
                <label class="block uppercase tracking-wide text-gray-700 text-xs font-bold mb-2"
                    for="grid-first-name">
                    Address line 1
                </label>

                <input
                    class="appearance-none block w-full border rounded py-3 px-4 mb-3 bg-white"
                    id="grid-first-name" type="text" placeholder="Enter address line 1" formControlName="address_line_1" [(ngModel)]="data.address">

                <p class="text-red-500 text-xs italic"
                    *ngIf="addEmployeeForm.get('address_line_1').invalid && (addEmployeeForm.get('address_line_1').dirty || addEmployeeForm.get('address_line_1').touched)">Please fill out this field.</p>
            </div>


            <!-- Address line 2 -->
            <div class="w-full md:w-1/5 px-3 mb-6 md:mb-0">
                <label class="block uppercase tracking-wide text-gray-700 text-xs font-bold mb-2"
                    for="grid-first-name">
                    Address line 2
                </label>

                <input
                    class="appearance-none block w-full border rounded py-3 px-4 mb-3 bg-white"
                    id="grid-first-name" type="text" placeholder="Enter address line 2" formControlName="address_line_2">

                <p class="text-red-500 text-xs italic"
                    *ngIf="addEmployeeForm.get('address_line_2').invalid && (addEmployeeForm.get('address_line_2').dirty || addEmployeeForm.get('address_line_2').touched)">Please fill out this field.</p>
            </div>


            <!-- State  -->
            <div class="w-full md:w-1/5 px-3 mb-6 md:mb-0">
                <label class="block uppercase tracking-wide text-gray-700 text-xs font-bold mb-2"
                    for="grid-state">
                    State
                </label>

                <div class="">
                    <select
                        class="appearance-none block w-full border rounded py-3 px-4 mb-3 bg-white"
                        id="grid-state" formControlName="state">
                        <option value="">- Select One -</option>
                        <option>New Mexico</option>
                        <option>Missouri</option>
                        <option>Texas</option>
                    </select>

                    <p class="text-red-500 text-xs italic"
                    *ngIf="addEmployeeForm.get('state').invalid && (addEmployeeForm.get('state').dirty || addEmployeeForm.get('state').touched)">Please fill out this field.</p>
                </div>
            </div>
            

            <!-- City  -->
            <div class="w-full md:w-1/5 px-3 mb-6 md:mb-0">
                <label class="block uppercase tracking-wide text-gray-700 text-xs font-bold mb-2"
                    for="grid-state">
                    City 
                </label>

                <div class="">
                    <select
                        class="appearance-none block w-full border rounded py-3 px-4 mb-3 bg-white"
                        id="grid-state" formControlName="city">
                        <option value="">- Select One -</option>
                        <option>New Mexico</option>
                        <option>Missouri</option>
                        <option>Texas</option>
                    </select>

                    <p class="text-red-500 text-xs italic"
                    *ngIf="addEmployeeForm.get('city').invalid && (addEmployeeForm.get('city').dirty || addEmployeeForm.get('city').touched)">Please fill out this field.</p>
                </div>
            </div>


            <!-- Postcode -->
            <div class="w-full md:w-1/5 px-3 mb-6 md:mb-0">
                <label class="block uppercase tracking-wide text-gray-700 text-xs font-bold mb-2"
                    for="grid-first-name">
                    Postcode
                </label>

                <input
                    class="appearance-none block w-full border rounded py-3 px-4 mb-3 bg-white"
                    id="grid-first-name" type="text" placeholder="Enter postcode" formControlName="postCode">

                    <p class="text-red-500 text-xs italic"
                    *ngIf="addEmployeeForm.get('postCode').invalid && (addEmployeeForm.get('postCode').dirty || addEmployeeForm.get('postCode').touched)">Please fill out this field.</p>
            </div>
        </div>



        <div class="flex flex-wrap -mx-3 mb-6">
            <!-- Martical Status  -->
            <div class="w-full md:w-1/5 px-3 mb-6 md:mb-0">
                <label class="block uppercase tracking-wide text-gray-700 text-xs font-bold mb-2"
                    for="grid-state">
                    Martical Status 
                </label>

                <div class="">
                    <select
                        class="appearance-none block w-full border rounded py-3 px-4 mb-3 bg-white"
                        id="grid-state" formControlName="marticalStatus">
                        <option value="single">Single</option>
                        <option value="married">Married</option>
                        <option value="widowed">Widowed</option>
                        <option value="divorsed">Divorsed</option>
                    </select>

                    <p class="text-red-500 text-xs italic"
                    *ngIf="addEmployeeForm.get('marticalStatus').invalid && (addEmployeeForm.get('marticalStatus').dirty || addEmployeeForm.get('marticalStatus').touched)">Please fill out this field.</p>
                </div>
            </div>


            <!-- No of Children  -->
            <div class="w-full md:w-1/5 px-3 mb-6 md:mb-0">
                <label class="block uppercase tracking-wide text-gray-700 text-xs font-bold mb-2"
                    for="grid-state">
                    No of Children
                </label>
                <div class="">
                    <select
                        class="appearance-none block w-full border rounded py-3 px-4 mb-3 bg-white"
                        id="grid-state" formControlName="noOfChildren">
                        <option>0</option>
                        <option>1</option>
                        <option>2</option>
                        <option>3</option>
                        <option>4</option>
                        <option>5</option>
                        <option>6</option>
                        <option>7</option>
                        <option>8</option>
                        <option>9</option>
                        <option>10</option>
                    </select>

                    <p class="text-red-500 text-xs italic"
                    *ngIf="addEmployeeForm.get('noOfChildren').invalid && (addEmployeeForm.get('noOfChildren').dirty || addEmployeeForm.get('noOfChildren').touched)">Please fill out this field.</p>
                </div>
            </div>
        </div>

    </form>

</mat-dialog-content>


<mat-dialog-actions align="end">
    <button mat-button (click)="closeModal();">Close</button>
    <button mat-button cdkFocusInitial (click)="addEmployeeFormSubmit();">Update</button>
</mat-dialog-actions>