<div class="flex flex-col flex-auto min-w-0">
    <div class="flex-auto p-6 sm:p-10">

        <h1>Company AR(Accounts Receivable)</h1>
        <div>
            <div>
                <div class="flex flex-wrap -mx-3 mb-6">
                    <!-- Clinic -->
                    <div class="w-full md:w-1/5 px-3 mb-6 md:mb-0">
                        <div class="relative">
                            <mat-form-field appearance="fill" style="width: 100%;">
                                <input matInput (change)="changeEndDate()" [min]="min_date" [matDatepicker]="form_date"
                                    [max]="startDate" placeholder="From Date (dd/mm/yyyy)" autocomplete="off"
                                    [(ngModel)]="searchField.StartDate">
                                <mat-datepicker-toggle matSuffix [for]="form_date"></mat-datepicker-toggle>
                                <mat-datepicker #form_date></mat-datepicker>
                            </mat-form-field>
                        </div>
                    </div>

                    <!-- Month -->
                    <div class="w-full md:w-1/5 px-3 mb-6 md:mb-0">
                        <div class="relative">
                            <mat-form-field appearance="fill" style="width: 100%;">
                                <input matInput [matDatepicker]="to_date" [min]="changeEndDate()" [max]="maxDate"
                                    placeholder="To Date (dd/mm/yyyy)" autocomplete="off"
                                    [(ngModel)]="searchField.EndDate" #endDateModel="ngModel">
                                <mat-datepicker-toggle matSuffix [for]="to_date"></mat-datepicker-toggle>
                                <mat-datepicker #to_date></mat-datepicker>
                                <mat-error *ngIf="endDateModel.hasError('matDatepickerMin')">
                                    Invalid minimum date. Please choose a date bigger than the start date.
                                </mat-error>
                            </mat-form-field>
                        </div>
                    </div>

                    <!-- Year -->
                    <div class="w-full md:w-1/5 px-3 mb-6 md:mb-0">
                        <div class="relative">
                            <select class="appearance-none block w-full border rounded py-3 px-4 mb-3 bg-white"
                                id="grid-state" [(ngModel)]="searchField.CompanyName" autocomplete="off">
                                <!-- <option hidden value="" disabled selected>Select one category </option> -->
                                <option [value]="''">- Companies -</option>
                                <option [value]="c.CoName" *ngFor="let c of companyList;">{{ c.CoName }}
                                </option>
                            </select>
                        </div>
                    </div>


                    <div class="w-full md:w-1/5 px-3 mb-6 md:mb-0">
                        <div class="relative">
                            <select class="appearance-none block w-full border rounded py-3 px-4 mb-3 bg-white"
                                id="grid-state" [(ngModel)]="searchField.IsReceivableInvoiceGenerated"
                                autocomplete="off">
                                <option [value]="''">- Select Status -</option>
                                <option [value]="'Y'">Invoice Generated</option>
                                <option [value]="'N'">Invoice Not Generated</option>
                            </select>
                        </div>
                    </div>

                    <div class="w-full md:w-1/5 px-3 mb-6 md:mb-0" style="text-align: center;">
                        <button
                            class="gap-4 shadow mr-4 bg-purple-500 disabled:bg-purple-500 hover:bg-purple-400 focus:shadow-outline focus:outline-none text-white font-bold py-2 px-4 rounded"
                            type="button" [disabled]="endDateModel.hasError('matDatepickerMin')"
                            (click)="filteraccountData();">
                            Search
                        </button>

                        <button style="margin-left: 5px;"
                            class="shadow bg-purple-500 hover:bg-purple-400 focus:shadow-outline focus:outline-none text-white font-bold py-2 px-4 rounded"
                            type="button" (click)="resetSearch();">
                            Reset
                        </button>
                    </div>
                </div>
            </div>


            <div class="w-full -mx-3 mb-6">
                <button mat-raised-button color="primary" *ngIf="showGenerateInvoiceButton"
                    (click)="requestInvoiceGeneration()"
                    style="text-align: center; margin: auto; float: right;">Generate Invoice</button>
                <br />
                <br />
            </div>

            <div class="flex flex-col">
                <div class="-my-2 overflow-x-auto sm:-mx-6 lg:-mx-8">
                    <div class="py-2 align-middle inline-block min-w-full sm:px-6 lg:px-8">
                        <div class="shadow overflow-hidden border-b border-gray-200 sm:rounded-lg">
                            <table class="min-w-full divide-y divide-gray-200">
                                <thead class="bg-gray-50">
                                    <tr>
                                        <th scope="col"
                                            class="px-6 py-3 text-left text-sm font-medium text-gray-500 uppercase tracking-wider">
                                            <input *ngIf="showSelectAll" type="checkbox" class="form-checkbox"
                                                (change)="selectAllRows()" [checked]="selectAll">
                                        </th>

                                        <th scope="col"
                                            class="px-6 py-3 whitespace-nowrap text-left text-sm font-medium text-gray-500 uppercase tracking-wider">
                                            <div>
                                                <span>Visit Date</span>
                                                <mat-icon (click)="sortData('VisitDate', 'desc')"
                                                    *ngIf="(sortedColumn === '' ||  sortedColumn !== 'VisitDate')"
                                                    class="icon-size-4 text-muted-custom"
                                                    [svgIcon]="'heroicons_solid:chevron-up'"></mat-icon>
                                                <mat-icon (click)="sortData('VisitDate', 'asc')"
                                                    *ngIf="sortedColumn === 'VisitDate' &&  sortOrderVal===1"
                                                    class="icon-size-4" [svgIcon]="'heroicons_solid:chevron-down'">
                                                </mat-icon>
                                                <mat-icon (click)="sortData('VisitDate', 'desc')"
                                                    *ngIf="sortedColumn === 'VisitDate' &&  sortOrderVal===0"
                                                    class="icon-size-4" [svgIcon]="'heroicons_solid:chevron-up'">
                                                </mat-icon>
                                            </div>
                                        </th>

                                        <th scope="col"
                                            class="px-6 py-3 whitespace-nowrap text-left text-sm font-medium text-gray-500 uppercase tracking-wider">
                                            <div class="">
                                                <span>Patient Name</span>
                                                <mat-icon (click)="sortData('PatientName', 'desc')"
                                                    *ngIf="(sortedColumn === '' ||  sortedColumn !== 'PatientName')"
                                                    class="icon-size-4 text-muted-custom"
                                                    [svgIcon]="'heroicons_solid:chevron-up'"></mat-icon>
                                                <mat-icon (click)="sortData('PatientName', 'asc')"
                                                    *ngIf="sortedColumn === 'PatientName' &&  sortOrderVal===1"
                                                    class="icon-size-4" [svgIcon]="'heroicons_solid:chevron-down'">
                                                </mat-icon>
                                                <mat-icon (click)="sortData('PatientName', 'desc')"
                                                    *ngIf="sortedColumn === 'PatientName' &&  sortOrderVal===0"
                                                    class="icon-size-4" [svgIcon]="'heroicons_solid:chevron-up'">
                                                </mat-icon>
                                            </div>
                                        </th>

                                        <th scope="col"
                                            class="px-6 py-3 whitespace-nowrap text-left text-sm font-medium text-gray-500 uppercase tracking-wider">
                                            IC NO
                                        </th>

                                        <th scope="col"
                                            class="px-6 py-3 whitespace-nowrap text-left text-sm font-medium text-gray-500 uppercase tracking-wider">
                                            <div class="">
                                                <span>Company Name</span>
                                                <mat-icon (click)="sortData('CompanyName', 'desc')"
                                                    *ngIf="(sortedColumn === '' ||  sortedColumn !== 'CompanyName')"
                                                    class="icon-size-4 text-muted-custom"
                                                    [svgIcon]="'heroicons_solid:chevron-up'"></mat-icon>
                                                <mat-icon (click)="sortData('CompanyName', 'asc')"
                                                    *ngIf="sortedColumn === 'CompanyName' &&  sortOrderVal===1"
                                                    class="icon-size-4" [svgIcon]="'heroicons_solid:chevron-down'">
                                                </mat-icon>
                                                <mat-icon (click)="sortData('CompanyName', 'desc')"
                                                    *ngIf="sortedColumn === 'CompanyName' &&  sortOrderVal===0"
                                                    class="icon-size-4" [svgIcon]="'heroicons_solid:chevron-up'">
                                                </mat-icon>
                                            </div>
                                        </th>

                                        <th scope="col"
                                            class="px-6 py-3 whitespace-nowrap text-left text-sm font-medium text-gray-500 uppercase tracking-wider">
                                            <div class="">
                                                <span>Invoice Amount(RM)</span>
                                                <mat-icon (click)="sortData('InvoiceAmount', 'desc')"
                                                    *ngIf="(sortedColumn === '' ||  sortedColumn !== 'InvoiceAmount')"
                                                    class="icon-size-4 text-muted-custom"
                                                    [svgIcon]="'heroicons_solid:chevron-up'"></mat-icon>
                                                <mat-icon (click)="sortData('InvoiceAmount', 'asc')"
                                                    *ngIf="sortedColumn === 'InvoiceAmount' &&  sortOrderVal===1"
                                                    class="icon-size-4" [svgIcon]="'heroicons_solid:chevron-down'">
                                                </mat-icon>
                                                <mat-icon (click)="sortData('InvoiceAmount', 'desc')"
                                                    *ngIf="sortedColumn === 'InvoiceAmount' &&  sortOrderVal===0"
                                                    class="icon-size-4" [svgIcon]="'heroicons_solid:chevron-up'">
                                                </mat-icon>
                                            </div>
                                        </th>


                                        <th scope="col"
                                            class="px-6 py-3 whitespace-nowrap text-left text-sm font-medium text-gray-500 uppercase tracking-wider">
                                            Invoice Generated/Not Generated
                                        </th>

                                        <!-- <th scope="col"
                                            class="px-6 py-3 text-left text-xs font-medium text-gray-500 uppercase tracking-wider">
                                            Action
                                        </th> -->
                                    </tr>
                                </thead>

                                <tbody class="bg-white divide-y divide-gray-200">
                                    <ng-container *ngFor="let a of accountData; let i = index;">
                                        <tr>
                                        <tr>
                                            <td class="px-6 py-4 whitespace-nowrap">
                                                <input *ngIf="a.IsReceivableInvoiceGenerated === 'N'" type="checkbox"
                                                    class="form-checkbox" (change)="checkValue(a, $event)"
                                                    [checked]="a.isChecked || selectAll">
                                            </td>

                                            <td class="px-6 py-4 whitespace-nowrap">
                                                <div class="text-sm text-gray-900">{{ a.VisitDate | date }}</div>
                                            </td>

                                            <td class="px-6 py-4 whitespace-nowrap">
                                                <div class="text-sm text-gray-900">{{ a.PatientName }}</div>
                                            </td>

                                            <td class="px-6 py-4 whitespace-nowrap">
                                                <div class="text-sm text-gray-900">{{ a.ICNumber }}</div>
                                            </td>

                                            <td class="px-6 py-4 whitespace-nowrap">
                                                <div class="text-sm text-gray-900">{{ a.companyName }}</div>
                                            </td>

                                            <td class="px-6 py-4 whitespace-nowrap">
                                                <div class="text-sm text-gray-900">RM {{ a.InvoiceAmount | number:'1.2' }}
                                                </div>
                                            </td>

                                            <td class="px-6 py-4 whitespace-nowrap">
                                                <div class="text-sm text-gray-900">{{ a.IsReceivableInvoiceGenerated ==
                                                    'N' ? 'Not Generated' : 'Invoice Generated' }}</div>
                                            </td>

                                            <!-- <td class="px-6 py-4 whitespace-nowrap">
                                                <a target="_blank" class="text-sm text-gray-900">Edit</a>
                                            </td> -->
                                        </tr>
                                    </ng-container>

                                    <tr *ngIf="!accountData || accountData.length===0">
                                        <td colspan="12"
                                            class="text-center text-mx text-gray-900 px-6 py-4 whitespace-nowrap ng-star-inserted">
                                            No Data Found
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                        <br />
                        <div class="grid grid-cols-1 gap-4">
                            <div>
                                <div class="grid grid-cols-1 gap-4" style="float: left;">
                                    <div class="flex flex-wrap -mx-3 mb-6" *ngIf="totalPageCount > 0">
                                        <div class="w-full px-3 mb-6 md:mb-0">
                                            <h5>Page {{ pageCount }} of {{totalPageCount}}</h5>
                                        </div>
                                    </div>
                                </div>
                                <div class="grid grid-cols-1 gap-4" style="float: right;">
                                    <div class="flex flex-wrap -mx-3 mb-6" *ngIf="totalPageCount > 0">
                                        <div class="w-full px-3 mb-6 md:mb-0">
                                            <app-paginator [totalPageCount]="totalPageCount"
                                                [resetPageIndex]=resetPageIndex [pageButtonsCount]=pageButtonsCount
                                                (changePage)="changePage($event)">
                                            </app-paginator>
                                        </div>
                                    </div>
                                </div>
                                <!-- <div class="grid grid-cols-2 gap-4" style="float: right;">
                                    <div *ngIf="pageCount > 1">
                                        <button (click)="changePage('prev')"
                                            class="shadow bg-purple-500 hover:bg-purple-400 focus:shadow-outline focus:outline-none text-white font-bold py-2 px-4 rounded"
                                            type="button">
                                            Prev
                                        </button>
                                    </div>

                                    <div *ngIf="showNext">
                                        <button (click)="changePage('next')"
                                            class="shadow bg-purple-500 hover:bg-purple-400 focus:shadow-outline focus:outline-none text-white font-bold py-2 px-4 rounded"
                                            type="button">
                                            Next
                                        </button>
                                    </div>
                                </div> -->
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>