<div class="flex flex-col flex-auto min-w-0">

    <!-- Main -->
    <div class="flex-auto p-6 sm:p-10">

        <div class="grid grid-cols-1 gap-4">
            <p class="h6 text-left font-weight-bold">Abnormal Exam Results</p>


            <form [formGroup]="abnormalExamResultForm" (ngSubmit)="onSubmit()" autocomplete="off">

                <div class="grid grid-cols-2 gap-4">
                    <div>
                        <mat-form-field class="w-100 pb-1">
                            <mat-label class="fw600">
                                From Date <span class="text-danger">*</span></mat-label>
                            <input matInput [min]="minDate" [max]="maxDate" [matDatepicker]="FromDate"
                                formControlName="FromDate" autocomplete="off">
                            <mat-datepicker-toggle matSuffix [for]="FromDate"></mat-datepicker-toggle>
                            <mat-datepicker #FromDate></mat-datepicker>
                            <mat-error *ngIf="errorState(formControls['FromDate'], 'fromDate').message">
                                {{ errorState(formControls['FromDate'], 'fromDate').message }}
                            </mat-error>
                        </mat-form-field>
                    </div>

                    <div>
                        <mat-form-field class="w-100 pb-1">
                            <mat-label class="fw600">
                                To Date <span class="text-danger">*</span></mat-label>
                            <input matInput [min]="minDate" [max]="maxDate" [matDatepicker]="ToDate"
                                formControlName="ToDate" autocomplete="off">
                            <mat-datepicker-toggle matSuffix [for]="ToDate"></mat-datepicker-toggle>
                            <mat-datepicker #ToDate></mat-datepicker>
                            <mat-error *ngIf="errorState(formControls['ToDate'], 'toDate').message">
                                {{ errorState(formControls['ToDate'], 'toDate').message }}
                            </mat-error>
                        </mat-form-field>
                    </div>
                </div>

                <div class="flex flex-wrap -mx-3 mb-6">
                    <div class="w-full md:w-1/5 px-3 mb-6 md:mb-0">
                        <button
                            class="shadow bg-purple-500 hover:bg-purple-400 focus:shadow-outline focus:outline-none text-white font-bold py-2 px-4 rounded"
                            type="submit">
                            Search
                        </button>
                    </div>
                </div>
            </form>





            <div class="grid grid-cols-1 gap-4">

                <div class="bg-primary text-white rounded-top">
                    <h3 class="mr-3 pt-2">
                        Details of Workers with Abnormal Examination Results
                    </h3>


                    <button type="button" [disabled]="!abnormalExamResultDetails?.length"
                        class="btn btn-success pb-1 rounded" (click)="downloadExcelReport()">
                        <i class="fa" aria-hidden="true"><img src="assets/img/excel-download.png" alt=""></i>Download
                        Report
                    </button>
                </div>
            </div>

            <div class="grid grid-cols-1 gap-4">

                <table class="table table-sm m-0" id="sales-Summary-Report-excel-table">
                    <thead class="bg-color3 text-dark">
                        <tr>
                            <th scope="col" class="border-right text-center text-dark" style="width: 12px;">Sr
                                No.</th>
                            <th scope="col" class="pl-2 border-right text-center text-dark w-space-normal">
                                Employee Name
                            </th>
                            <th scope="col" class="pl-2 border-right text-center text-dark w-space-normal">
                                MyKad/IC Number
                            </th>
                            <th scope="col" class="pl-1 border-right text-center text-dark">Sex</th>
                        </tr>
                    </thead>
                    <tbody>
                        <ng-container *ngIf="abnormalExamResultDetails?.length; else noDataFound">
                            <tr *ngFor="let data of abnormalExamResultDetails; index as i" class="border-bottom">
                                <td class="border-right text-center">
                                    {{i+1}}.
                                </td>
                                <td class="pl-2 text-center border-right">
                                    <a href="javascript:void(0)" class="rounded mt-0 pl-1 pr-1 pt-1 pb-1"
                                        [routerLink]="">
                                        <span class="fw500">{{data.EmpName}}</span>
                                    </a>
                                </td>
                                <td class="pl-2 border-right text-center">
                                    {{data.ICNumber}}
                                </td>
                                <td class="pl-2 text-center">
                                    {{(data.Gender === 'M') ? 'Male' : (data.Gender === 'F') ? 'Female' :
                                    'Others' }}
                                </td>
                            </tr>

                        </ng-container>
                    </tbody>
                </table>

            </div>


        </div>
    </div>
</div>


<ng-template #noDataFound>
    <tr>
        <td colspan="9" class="text-center">No Data Found.</td>
    </tr>
</ng-template>