<!-- <p>invoice-management works!</p> -->
<div class="flex flex-col flex-auto min-w-0">
    <div class="flex-auto p-6 sm:p-10">

        <h1>Invoice Management</h1>
        <div>
            <div>
                <div class="flex flex-wrap -mx-3 mb-6">
                    <!-- Clinic -->
                    <div class="w-full md:w-1/5 px-3 mb-6 md:mb-0">
                        <div class="relative">
                            <mat-form-field appearance="fill" style="width: 100%;">
                                <input matInput [matDatepicker]="form_date" [max]="date"
                                    placeholder="From Date (dd/mm/yyyy)" autocomplete="off"
                                    [(ngModel)]="searchField.StartDate">
                                <mat-datepicker-toggle matSuffix [for]="form_date"></mat-datepicker-toggle>
                                <mat-datepicker #form_date></mat-datepicker>
                            </mat-form-field>
                        </div>
                    </div>

                    <!-- Month -->
                    <div class="w-full md:w-1/5 px-3 mb-6 md:mb-0">
                        <div class="relative">
                            <mat-form-field appearance="fill" style="width: 100%;">
                                <input matInput [matDatepicker]="to_date" [max]="date"
                                    placeholder="To Date (dd/mm/yyyy)" autocomplete="off"
                                    [(ngModel)]="searchField.EndDate">
                                <mat-datepicker-toggle matSuffix [for]="to_date"></mat-datepicker-toggle>
                                <mat-datepicker #to_date></mat-datepicker>
                            </mat-form-field>
                        </div>
                    </div>

                    <!-- Year -->
                    <div class="w-full md:w-1/5 px-3 mb-6 md:mb-0">
                        <div class="relative">
                            <select class="appearance-none block w-full border rounded py-3 px-4 mb-3 bg-white"
                                id="grid-state" [(ngModel)]="searchField.CompanyName" autocomplete="off">
                                <!-- <option hidden value="" disabled selected>Select one category </option> -->
                                <option [value]="''">- Companies -</option>
                                <option [value]="c.CoName" *ngFor="let c of companyList;">{{ c.CoName }}
                                </option>
                            </select>
                        </div>
                    </div>


                    <div class="w-full md:w-1/5 px-3 mb-6 md:mb-0">
                        <div class="relative">
                            <select class="appearance-none block w-full border rounded py-3 px-4 mb-3 bg-white"
                                id="grid-state" [(ngModel)]="searchField.paidStatus" autocomplete="off">
                                <option [value]="''">- Select Status -</option>
                                <option [value]="'Paid'">Paid</option>
                                <option [value]="'Unpaid'">Unpaid</option>
                            </select>
                        </div>
                    </div>

                    <div class="w-full md:w-1/5 px-3 mb-6 md:mb-0" style="text-align: center;">
                        <button
                            class="gap-4 shadow bg-purple-500 hover:bg-purple-400 focus:shadow-outline focus:outline-none text-white font-bold py-2 px-4 rounded"
                            type="button">
                            <!-- (click)="filterInvoiceData();"> -->
                            Search
                        </button>

                        <button style="margin-left: 5px;"
                            class="shadow bg-purple-500 hover:bg-purple-400 focus:shadow-outline focus:outline-none text-white font-bold py-2 px-4 rounded"
                            type="button" (click)="resetSearch();">
                            Reset
                        </button>
                    </div>


                </div>
            </div>


            <div class="flex flex-col">
                <div class="-my-2 overflow-x-auto sm:-mx-6 lg:-mx-8">
                    <div class="py-2 align-middle inline-block min-w-full sm:px-6 lg:px-8">
                        <div class="shadow overflow-hidden border-b border-gray-200 sm:rounded-lg">
                            <table class="min-w-full divide-y divide-gray-200">
                                <thead class="bg-gray-50">
                                    <tr>
                                        <th scope="col"
                                            class="px-6 py-3 text-left text-xs font-medium text-gray-500 uppercase tracking-wider">
                                            <div>
                                                <span>Visit Date</span>
                                            </div>
                                        </th>

                                        <th scope="col"
                                            class="px-6 py-3 text-left text-xs font-medium text-gray-500 uppercase tracking-wider">
                                            <div class="adjustColumnIconHeight">
                                                <span>Invoice No.</span>
                                            </div>
                                        </th>

                                        <th scope="col"
                                            class="px-6 py-3 text-left text-xs font-medium text-gray-500 uppercase tracking-wider">
                                            <div class="adjustColumnIconHeight">
                                                <span>Invoice Amount(RM)</span>
                                            </div>
                                        </th>

                                        <th scope="col"
                                            class="px-6 py-3 text-left text-xs font-medium text-gray-500 uppercase tracking-wider">
                                            <div class="adjustColumnIconHeight">
                                                <span>Company Name</span>
                                            </div>
                                        </th>

                                        <th scope="col"
                                            class="px-6 py-3 text-left text-xs font-medium text-gray-500 uppercase tracking-wider">
                                            <div class="adjustColumnIconHeight">
                                                <span>Status</span>
                                            </div>
                                        </th>

                                        <th scope="col"
                                            class="px-6 py-3 text-left text-xs font-medium text-gray-500 uppercase tracking-wider">
                                            Action
                                        </th>

                                    </tr>
                                </thead>

                                <tbody class="bg-white divide-y divide-gray-200">
                                    <ng-container *ngFor="let a of invoiceData; let i = index;">
                                        <tr>
                                            <td class="px-6 py-4 whitespace-nowrap">
                                                <div class="text-sm text-gray-900">{{ a.VisitDate | date }}</div>
                                            </td>

                                            <td class="px-6 py-4 whitespace-nowrap">
                                                <div class="text-sm text-gray-900">{{ a.InvoiceNumber }}</div>
                                            </td>

                                            <td class="px-6 py-4 whitespace-nowrap">
                                                <div class="text-sm text-gray-900">{{ a.InvoiceAmount }}</div>
                                            </td>

                                            <td class="px-6 py-4 whitespace-nowrap">
                                                <div class="text-sm text-gray-900">{{ a.CompanyName }}</div>
                                            </td>

                                            <td class="px-6 py-4 whitespace-nowrap">
                                                <div class="text-sm text-gray-900">{{ a.paidStatus }}</div>
                                            </td>

                                            <td class="px-6 py-4 whitespace-nowrap">
                                                <!-- <a target="_blank" class="text-sm text-gray-900">Paid</a> -->
                                                <!-- <button (click)="onPaidClick(claim)" -->
                                                <button
                                                    class="gap-4 shadow bg-purple-500 hover:bg-purple-400 focus:shadow-outline focus:outline-none text-white font-bold py-2 px-4 rounded"
                                                    type="button">
                                                    Paid
                                                </button>
                                            </td>
                                        </tr>
                                    </ng-container>

                                    <tr *ngIf="!invoiceData || invoiceData.length===0">
                                        <td colspan="12"
                                            class="text-center text-mx text-gray-900 px-6 py-4 whitespace-nowrap ng-star-inserted">
                                            No Data Found
                                        </td>
                                    </tr>
                                </tbody>
                             </table>
                        </div>
                        <div *ngIf="totalPageCount > 0">
                            <h5>Page {{ pageCount }} of {{totalPageCount}}</h5>
                        </div>
                        <br />
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>