
<div class="bg-warning pl-4 p-4 pb-1 rounded-top"><p >Payment Details</p></div>
<!-- <button style="float: right;" mat-button (click)="closePopup()">X</button> -->
<div>
    <div class="flex-auto">
        <div class="w-full max-w-screen-xl mx-auto">
            <br />
            <div class="grid grid-cols-1">
                <div
                    class="flex flex-col flex-auto bg-white shadow border rounded-2xl overflow-hidden"
                    style="cursor: pointer"
                >
                    <div
                        class="bg-warning rounded-top pl-4 pr-4 pt-3 pb-3 text-lg font-medium tracking-tight leading-6 truncate"
                    >
                        Details
                    </div>
                    <div class="pl-4 pr-4 pt-5 pb-6">
                        <div class="mt-1">
                            <label class="justify-left mt-5 text-secondary ml-1"
                                >Invoice Number: 
                            </label>
                            <label class="ml-1">{{ data.InvoiceNo }}</label>
                        </div>
                        <div class="mt-1">
                            <label class="justify-left mt-5 text-secondary ml-1"
                                >Company Name: 
                            </label>
                            <label class="ml-1">{{ data.CompanyName }}</label>
                        </div>
                        <div class="mt-1">
                            <label class="justify-left mt-5 text-secondary ml-1"
                                >Invoice Date:
                            </label>
                            <label class="ml-1">{{ data.InvoiceDate | date }} </label>
                        </div>
                        <div class="mt-1">
                            <label class="justify-left mt-5 text-secondary ml-1"
                                >Payment Status:
                            </label>
                            <label class="ml-1">{{ data.PaymentStatus }} </label>
                        </div>
                        <div class="mt-1">
                            <label class="justify-left mt-5 text-secondary ml-1"
                                >Total Amount:
                            </label>
                            <label class="ml-1">{{ data.TotalAmmount }} </label>
                        </div>
                        <div class="mt-1">
                            <label class="justify-left mt-5 text-secondary ml-1"
                                >Remaining Balance:
                            </label>
                            <label class="ml-1">{{ data.RemainingBalance }} </label>
                        </div>
                    </div>
                </div>
            </div>
            <br />
            <div class="grid grid-cols-1">
                <div class="flex flex-col flex-auto p-2 rounded-2xl overflow-hidden"
                    style="cursor: pointer;">
                    <!-- <div class="flex flex-col mt-2">
                        <div class="text-lg font-medium tracking-tight leading-6 truncate">Invoice Details
                        </div>
                    </div> -->
                    <div class="grid grid-cols-1 w-full flex flex-col items-center mt-2 sm:rounded-lg">
                        <table mat-table [dataSource]="invoiceDetails" class="mat-elevation-z8">
                            <ng-container matColumnDef="InvoiceId">
                                <th mat-header-cell *matHeaderCellDef>#</th>
                                <td mat-cell *matCellDef="let element;let index = index"> {{ index + 1}} </td>
                            </ng-container>

                            <ng-container matColumnDef="PTName">
                                <th mat-header-cell *matHeaderCellDef>Payment Type </th>
                                <td mat-cell *matCellDef="let element"> {{element.PTName }} </td>
                            </ng-container>

                            <ng-container matColumnDef="PaymaentDate">
                                <th mat-header-cell *matHeaderCellDef> Payment Date </th>
                                <td mat-cell *matCellDef="let element"> {{element.PaymaentDate | date}} </td>
                            </ng-container> 
                            
                            <ng-container matColumnDef="CheckIssuedDate" >
                                <th mat-header-cell *matHeaderCellDef> Check Issue Date </th>
                                <td mat-cell *matCellDef="let element"> <ng-container *ngIf="element.PTName == 'Cheque'">
                                    {{ element.CheckIssuedDate | date}}
                                </ng-container> 
                                <ng-container *ngIf="element.PTName != 'Cheque'">
                                    --
                                </ng-container>
                            </td>
                            </ng-container>

                            <ng-container matColumnDef="TransectionId">
                                <th mat-header-cell *matHeaderCellDef> Transaction Id </th>
                                <td mat-cell *matCellDef="let element"> {{element.TransectionId == '' ? ' --' : element.TransectionId }} </td>
                            </ng-container>

                            <ng-container matColumnDef="CheckNo">
                                <th mat-header-cell *matHeaderCellDef> Cheque Number </th>
                                <td mat-cell *matCellDef="let element"> {{element.CheckNo === '' ? ' -- ' : element.CheckNo}} </td>
                            </ng-container>

                            <ng-container matColumnDef="PaymentAmount">
                                <th mat-header-cell *matHeaderCellDef> Payment Amount </th>
                                <td mat-cell *matCellDef="let element"> {{element.PaymentAmount | number :
                                    '1.2-2' }} </td>
                            </ng-container>

                            <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                            <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
                        </table>
                    </div>
                </div>
            </div>

            <br />
            <br />

            <mat-form-field class="example-full-width" appearance="fill">
                <mat-label>Leave a remark</mat-label>
                <textarea matInput [(ngModel)]="remarks"></textarea>
              </mat-form-field>

            <button mat-button (click)="confirmInvoice(2)" type="button" class="mat-focus-indicator btn btn-danger ml-4 mat-button "><span  class="mat-button-wrapper">Reject</span></button>
            <button mat-button (click)="confirmInvoice(1)" type="button" class="mat-focus-indicator btn btn-success bg-purple-500 ml-4 mat-button "><span  class="mat-button-wrapper">Confirm</span></button>
            <button mat-button (click)="closePopup()" type="button" class="mat-focus-indicator btn btn-danger ml-4 mat-button float-right"><span  class="mat-button-wrapper">Close</span></button>
        </div>
        <br />
        <br />
        <br />
    </div>
</div>

