.bg-card {
    background-color: wheat !important;
}

.mat-table {
    background-color: transparent !important;
}
table {
    border-radius: 1em;
}
.bg-purple-500 {
    background-color: #28a745 !important;
}
.hover\:bg-purple-400:hover {
    background-color: #29b349 !important;
}
.bg-warning {
    background-color: #ffc107 !important;
}
.rounded-top {
    border-top-left-radius: 12px !important;
    border-top-right-radius: 12px !important;
    font-size: 19px;
    font-weight: 500;
}
.close_btn {
    background: none !important;
}
.close_btn:hover {
    background: none !important;
}
.mat-button, .mat-icon-button, .mat-stroked-button, .mat-flat-button {
    
    min-width: 42px !important;
    line-height: 36px;
    padding: 0 5px;
    border-radius: 50%;  
    top: -15px;
}

.bg-warning {
    background-color: #ffc107 !important;
}
.rounded-top {
    border-top-left-radius: 12px !important;
    border-top-right-radius: 12px !important;
    font-size: 19px;
    font-weight: 500;
}

.btn-danger {
    color: #fff !important;
    background-color: #ff0202 !important;
    border-color: #ff0202 !important;
}
// .btn-danger:hover {
//     color: #fff;
//     background-color: #c82333 !important;
//     border-color: #bd2130 !important;
// }

.btn {
    position: relative;
    display: inline-block;
    font-weight: 400;
    color: #212529;
    top: 47px;
    text-align: center;
    vertical-align: middle;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    background-color: transparent;
    border: 1px solid transparent;
    padding: 6px 28px;
    font-size: 1rem;
    line-height: 1.5;
    border-radius: 6px;
    transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out,
        border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}

.float-right {
    float: right;
}

button:disabled,
button[disabled]{
  border: 1px solid #999999 !important;
  background-color: #cccccc !important;
  color: #666666 !important;
}

// th.mat-header-cell:first-of-type, td.mat-cell:first-of-type, td.mat-footer-cell:first-of-type {
//     padding-left: 12px !important;
//     padding-right: 12px !important;
//   }