<!-- <div class="bg-warning pl-4 p-4 pb-1 rounded-top"><p >Claims Details</p></div> -->
<div>
    <div class="flex-auto">
        <div class="w-full max-w-screen-xl mx-auto">
            <div class="grid grid-cols-1 sm:grid-cols-1 md:grid-cols-2 gap-6 w-full min-w-0">
                <div class="flex flex-col flex-auto bg-white shadow border rounded-2xl overflow-hidden">
                    <div
                        class="bg-warning rounded-top pl-4 pr-4 pt-3 pb-3 text-lg font-medium tracking-tight leading-6 truncate">
                        Clinic Details
                    </div>
                    <div class="pl-4 pr-4 pt-5 pb-6">
                        <div class="mt-1">
                            <label class="justify-left mt-5 text-secondary ml-1">Clinic Name:
                            </label>
                            <label class="ml-1">{{ claim.clinicName }}</label>
                        </div>
                        <div class="mt-1">
                            <label class="justify-left mt-5 text-secondary ml-1">Visit Date:
                            </label>
                            <label class="ml-1">{{
                                claim.visitDt | date
                                }}</label>
                        </div>
                        <div class="mt-1">
                            <label class="justify-left mt-5 text-secondary ml-1">Claim Amount(RM):
                            </label>
                            <label class="ml-1">{{ claim.Claim }}</label>
                        </div>
                        <div class="mt-1">
                            <label class="justify-left mt-5 text-secondary ml-1">Claim Status:
                            </label>
                            <label class="ml-1">{{ claim.ClaimStatus }}</label>
                        </div>
                    </div>
                </div>

                <div class="flex flex-col flex-auto bg-white shadow border rounded-2xl overflow-hidden">
                    <div
                        class="bg-warning rounded-top pl-4 pr-4 pt-3 pb-3 text-lg font-medium tracking-tight leading-6 truncate">
                        Employer Details
                    </div>
                    <div class="pl-4 pr-4 pt-5 pb-6">
                        <div class="mt-1">
                            <label class="justify-left mt-5 text-secondary ml-1">Company Name:
                            </label>
                            <label class="ml-1">{{ claim.CompanyName }}</label>
                        </div>
                        <div class="mt-1">
                            <label class="justify-left mt-5 text-secondary ml-1">Employee Name:
                            </label>
                            <label class="ml-1">{{ claim.employeeName }}</label>
                        </div>
                    </div>
                </div>
            </div>
            <br />
            <div class="grid grid-cols-1">
                <div class="flex flex-col flex-auto bg-white shadow border rounded-2xl overflow-hidden"
                    style="cursor: pointer">
                    <div
                        class="bg-warning rounded-top pl-4 pr-4 pt-3 pb-3 text-lg font-medium tracking-tight leading-6 truncate">
                        Patient Details
                    </div>

                    <div class="pl-4 pr-4 pt-5 pb-6">
                        <div class="mt-1">
                            <label class="justify-left mt-5 text-secondary ml-1">Patient Name:
                            </label>
                            <label class="ml-1">{{
                                patientDetails?.PaitentName
                                }}</label>
                        </div>
                        <div class="mt-1">
                            <label class="justify-left mt-5 text-secondary ml-1">Gender:
                            </label>
                            <label *ngIf="patientDetails?.PatientGender === 'm'" class="ml-1">Male</label>
                            <label *ngIf="patientDetails?.PatientGender === 'f'" class="ml-1">Female</label>
                            <label *ngIf="patientDetails?.PatientGender === 'o'" class="ml-1">Other</label>
                        </div>
                        <div class="mt-1">
                            <label class="justify-left mt-5 text-secondary ml-1">Date Of Birth:
                            </label>
                            <label class="ml-1">{{
                                patientDetails?.Date_Of_Birth | date
                                }}</label>
                        </div>
                        <div class="mt-1">
                            <label class="justify-left mt-5 text-secondary ml-1">Phone:
                            </label>
                            <label class="ml-1">{{
                                patientDetails?.PatientPhNo
                                }}</label>
                        </div>
                        <div class="mt-1">
                            <label class="justify-left mt-5 text-secondary ml-1">Email:
                            </label>
                            <label class="ml-1">{{
                                patientDetails?.PatientEmail
                                }}</label>
                        </div>
                        <div class="mt-1">
                            <label class="justify-left mt-5 text-secondary ml-1">Nationality:
                            </label>
                            <label class="ml-1">{{
                                patientDetails?.LongDesc
                                }}</label>
                        </div>
                        <div class="mt-1">
                            <label class="justify-left mt-5 text-secondary ml-1">Married Status:
                            </label>
                            <label class="ml-1">{{
                                patientDetails?.marriedStatus
                                }}</label>
                        </div>
                        <div class="mt-1">
                            <label class="justify-left mt-5 text-secondary ml-1">Purpose of Visit:
                            </label>
                            <label class="ml-1">{{ patientDetails?.PurposeOfVisit}}</label>
                        </div>
                        <div class="mt-1">
                            <label class="justify-left mt-5 text-secondary ml-1">Treatment Plan:
                            </label>
                            <label class="ml-1"> {{ claim.treatmentPlan }}</label>
                        </div>
                    </div>
                </div>
            </div>
            <br />
            <div class="grid grid-cols-1">
                <div class="flex flex-col flex-auto bg-white shadow border rounded-2xl overflow-hidden"
                    style="cursor: pointer">
                    <div
                        class="bg-warning rounded-top pl-4 pr-4 pt-3 pb-3 text-lg font-medium tracking-tight leading-6 truncate">
                        Diagnosis Details
                    </div>
                    <div class="grid grid-cols-1 w-full flex flex-col items-center mt-2">
                        <table mat-table [dataSource]="diagnosisDetails" class="mat-elevation-z8">
                            <!-- <ng-container matColumnDef="clinic">
                                <th mat-header-cell *matHeaderCellDef> Clinic </th>
                                <td mat-cell *matCellDef="let element"> {{element.ClinicName}} </td>
                            </ng-container>

                            <ng-container matColumnDef="visitDate">
                                <th mat-header-cell *matHeaderCellDef> Visit Date </th>
                                <td mat-cell *matCellDef="let element"> {{element.VisitDate | date}} </td>
                            </ng-container>

                            <ng-container matColumnDef="claimSubmissionDt">
                                <th mat-header-cell *matHeaderCellDef>Claim Submission Date</th>
                                <td mat-cell *matCellDef="let element"> {{element.cliamSubmissionDt | date}} </td>
                            </ng-container>

                            <ng-container matColumnDef="claimAmount">
                                <th mat-header-cell *matHeaderCellDef>Claim Amount(RM) </th>
                                <td mat-cell *matCellDef="let element"> {{element.ClaimAmount}} </td>
                            </ng-container>

                            <ng-container matColumnDef="invoiceAmount">
                                <th mat-header-cell *matHeaderCellDef>Invoice Amount(RM) </th>
                                <td mat-cell *matCellDef="let element"> {{element.InvoiceAmount}} </td>
                            </ng-container> -->

                            <ng-container matColumnDef="description">
                                <th mat-header-cell *matHeaderCellDef>
                                    Description
                                </th>
                                <td mat-cell *matCellDef="let element">
                                    <span [ngClass]="{'text-red-500': element.showInRed}">
                                        {{ element.LineDec }}
                                    </span>
                                </td>
                            </ng-container>

                            <ng-container matColumnDef="invoiceAmount">
                                <th mat-header-cell *matHeaderCellDef>
                                    Invoice Amount(RM)
                                </th>
                                <td mat-cell *matCellDef="let element">
                                    <span [ngClass]="{'text-red-500': element.showInRed}">{{ element.LineAmt | number:
                                        "1.2-2" }}</span>
                                </td>
                            </ng-container>
                            <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                            <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
                        </table>
                    </div>
                </div>
            </div>
            <br />
            <div class="grid grid-cols-1" *ngIf="claim?.ClaimRejectReason">
                <div class="flex flex-col flex-auto bg-white shadow border rounded-2xl overflow-hidden"
                    style="cursor: pointer">
                    <div
                        class="bg-warning rounded-top pl-4 pr-4 pt-3 pb-3 text-lg font-medium tracking-tight leading-6 truncate">
                        {{ claim.ClaimStatus === 'Approved'? 'Previous ': '' }}Claim Rejection Reason
                    </div>

                    <div class="pl-4 pr-4 pt-5 pb-6">
                        <div class="mt-1">
                            <label class="ml-1">{{claim?.ClaimRejectReason}}</label>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <br />
        <div class="grid grid-cols-1 gap-4" *ngIf="showActionButtons">
            <div>
                <button mat-button *ngIf="claim.ClaimStatus !== 'Approved'" (click)="onApproveClick(1)" type="button"
                    class="mat-focus-indicator btn btn-success bg-purple-500 ml-4 mat-button "><span
                        class="mat-button-wrapper">Approve</span></button>
                <button mat-button [disabled]="claim.ClaimStatus == 'Rejected'" (click)="onRejectClick()" type="button"
                    class="mat-focus-indicator btn btn-danger ml-4 mat-button "><span
                        class="mat-button-wrapper">Reject</span></button>
                <button mat-button (click)="closePopup()" type="button"
                    class="mat-focus-indicator btn  btn-danger ml-4 mat-button float-right"><span
                        class="mat-button-wrapper">Close</span></button>
            </div>
        </div>
        <div class="grid grid-cols-1 gap-4" *ngIf="!showActionButtons">
            <div>
                <button mat-button (click)="closePopup()" type="button"
                    class="mat-focus-indicator btn  btn-danger ml-4 mat-button float-right"><span
                        class="mat-button-wrapper">Close</span></button>
            </div>
        </div>
        <br><br><br>
    </div>
</div>