<div class="flex flex-col flex-auto min-w-0">
    <!-- Main -->
    <div class="overflow-auto p-6 sm:p-10">
        <form class="w-full" [formGroup]="companyForm" (ngSubmit)="companyFormSubmit();">
            <!--Company Name -->
            <div class="flex flex-wrap -mx-3 mb-6">
                <div class="w-full md:w-1/4 px-3 mb-6 md:mb-0">
                    <label class="block uppercase tracking-wide text-gray-700 text-sm font-bold mb-2"
                        for="grid-first-name">
                        Name
                    </label>
                    <input class="appearance-none block w-full border rounded py-3 px-4 mb-3 bg-white"
                        id="grid-first-name" type="text" placeholder="Enter Company Name" formControlName="CoName"
                        autocomplete="off">
                    <p class="text-red-500 text-s italic"
                        *ngIf="companyForm.get('CoName').invalid && (companyForm.get('CoName').dirty || companyForm.get('CoName').touched)">
                        <ng-container *ngIf="companyForm.get('CoName').errors.required">
                            Please fill out this field
                        </ng-container>
                        <ng-container *ngIf="companyForm.get('CoName').errors.pattern">
                            Special characters are not allowed
                        </ng-container>
                    </p>
                </div>
                <div class="w-full md:w-1/4 px-3 mb-6 md:mb-0">
                    <label class="block uppercase tracking-wide text-gray-700 text-sm font-bold mb-2"
                        for="grid-user-name">
                        User Name
                    </label>
                    <input class="appearance-none block w-full border rounded py-3 px-4 mb-3 bg-white"
                        id="grid-user-name" type="text" placeholder="Enter User Name" formControlName="EnteredUserId"
                        autocomplete="off">
                    <p class="text-red-500 text-s italic" *ngIf="companyForm.get('EnteredUserId').invalid && 
                    (companyForm.get('EnteredUserId').dirty || companyForm.get('EnteredUserId').touched)">
                        <ng-container *ngIf="companyForm.get('EnteredUserId').errors.required"> Please fill out this
                            field
                        </ng-container>
                        <ng-container *ngIf="companyForm.get('EnteredUserId').errors.pattern">Special characters are not
                            allowed
                        </ng-container>
                        <ng-container *ngIf="companyForm.get('EnteredUserId').errors.maxlength">Max allowed length is 25
                        </ng-container>
                        <ng-container *ngIf="companyForm.get('EnteredUserId').errors.minlength">Min allowed length is 8
                        </ng-container>
                    </p>
                </div>
                <div class="w-full md:w-1/4 px-3 mb-6 md:mb-0">
                    <label class="block uppercase tracking-wide text-gray-700 text-sm font-bold mb-2"
                        for="grid-password">
                        Password
                    </label>
                    <input class="appearance-none block w-full border rounded py-3 px-4 mb-3 bg-white"
                        id="grid-password" type="password" placeholder="Enter Password" formControlName="PassWord"
                        autocomplete="off" #passwordField>
                    <p class="text-red-500 text-s italic" *ngIf="companyForm.get('PassWord').invalid && 
                    (companyForm.get('PassWord').dirty
                         || companyForm.get('PassWord').touched)">
                        Please fill out this field.</p>
                </div>
                <div class="w-full md:w-1/4 px-3 mb-6 md:mb-0" style="padding-top: 2rem; padding-left: 1px !important;">
                    <button mat-icon-button class="password_icon" type="button"
                        (click)="passwordField.type === 'password' ? passwordField.type = 'text' : passwordField.type = 'password'"
                        matSuffix>
                        <mat-icon class="icon-size-5" *ngIf="passwordField.type === 'password'"
                            [svgIcon]="'heroicons_solid:eye'"></mat-icon>
                        <mat-icon class="icon-size-5" *ngIf="passwordField.type === 'text'"
                            [svgIcon]="'heroicons_solid:eye-off'"></mat-icon>
                    </button>
                </div>
            </div>
            <!-- Address -->
            <div class="flex flex-wrap -mx-3 mb-6">
                <!-- State  -->
                <div class="w-full md:w-1/4 px-3 mb-6 md:mb-0">
                    <label class="block uppercase tracking-wide text-gray-700 text-sm font-bold mb-2" for="grid-state">
                        State
                    </label>
                    <div class="">
                        <select class="appearance-none block w-full border rounded py-3 px-4 mb-3 bg-white"
                            id="grid-state" formControlName="StateId" (change)="onStateChange($event)"
                            autocomplete="off">
                            <option value="" hidden>- Select State -</option>
                            <ng-container *ngFor="let state of stateList;">
                                <option [value]="state.Id">{{ state.State }}</option>
                            </ng-container>
                        </select>
                        <p class="text-red-500 text-s italic"
                            *ngIf="companyForm.get('StateId').invalid && (companyForm.get('StateId').dirty || companyForm.get('StateId').touched)">
                            Please enter correct details.</p>
                    </div>
                </div>
                <!-- City  -->
                <div class="w-full md:w-1/4 px-3 mb-6 md:mb-0">
                    <label class="block uppercase tracking-wide text-gray-700 text-sm font-bold mb-2" for="grid-city">
                        City
                    </label>
                    <div class="">
                        <select class="appearance-none block w-full border rounded py-3 px-4 mb-3 bg-white"
                            id="grid-city" formControlName="City" autocomplete="off">
                            <option value="" hidden>- Select City -</option>
                            <ng-container *ngFor="let city of cityList;">
                                <option [value]="city.Id">{{ city.City }}</option>
                            </ng-container>
                        </select>
                        <p class="text-red-500 text-s italic"
                            *ngIf="companyForm.get('City').invalid && (companyForm.get('City').dirty || companyForm.get('City').touched)">
                            Please enter correct details.</p>
                    </div>
                </div>
                <!-- Street -->
                <div class="w-full md:w-1/4 px-3 mb-6 md:mb-0">
                    <label class="block uppercase tracking-wide text-gray-700 text-sm font-bold mb-2" for="grid-street">
                        Street
                    </label>
                    <input class="appearance-none block w-full border rounded py-3 px-4 mb-3 bg-white" id="grid-street"
                        type="text" placeholder="Enter Street Name" formControlName="Addr1" autocomplete="off">
                    <p class="text-red-500 text-s italic"
                        *ngIf="companyForm.get('Addr1').invalid && (companyForm.get('Addr1').dirty || companyForm.get('Addr1').touched)">
                        Please enter correct details.</p>
                </div>
                <!-- Postcode -->
                <div class="w-full md:w-1/4 px-3 mb-6 md:mb-0">
                    <label class="block uppercase tracking-wide text-gray-700 text-sm font-bold mb-2"
                        for="grid-postcode">
                        Postcode
                    </label>
                    <input class="appearance-none block w-full border rounded py-3 px-4 mb-3 bg-white"
                        id="grid-postcode" type="text" placeholder="Enter Postcode" formControlName="PostalCode"
                        autocomplete="off">
                    <!-- <p class="text-red-500 text-s italic"
                        *ngIf="companyForm.get('PostalCode').invalid && (companyForm.get('PostalCode').dirty || companyForm.get('PostalCode').touched)">
                        Please enter correct details.</p> -->

                    <p class="text-red-500 text-s italic"
                        *ngIf="companyForm.get('PostalCode').invalid && (companyForm.get('PostalCode').dirty || companyForm.get('PostalCode').touched)">
                        <ng-container *ngIf="companyForm.get('PostalCode').errors.pattern">Please enter only
                            numbers
                        </ng-container>
                        <ng-container *ngIf="companyForm.get('PostalCode').errors.maxlength">Max allowed length is 6
                        </ng-container>
                </div>
            </div>
            <!--Contact Information -->
            <div class="flex flex-wrap -mx-3 mb-6">
                <div class="w-full md:w-1/4 px-3 mb-6 md:mb-0">
                    <label class="block uppercase tracking-wide text-gray-700 text-sm font-bold mb-2"
                        for="grid-contact">
                        Contact Person Name
                    </label>
                    <input class="appearance-none block w-full border rounded py-3 px-4 mb-3 bg-white" id="grid-contact"
                        type="text" placeholder="Enter Name" formControlName="ContactName" autocomplete="off">
                    <p class="text-red-500 text-s italic" *ngIf="companyForm.get('ContactName').invalid 
                    && (companyForm.get('ContactName').dirty || companyForm.get('ContactName').touched)">
                        <mat-error *ngIf="companyForm.get('ContactName')?.errors?.pattern">
                            Please enter only alphabets
                        </mat-error>
                        <mat-error *ngIf="companyForm.get('ContactName')?.errors?.required">
                            Please fill out this field.
                        </mat-error>
                    </p>
                </div>
                <!-- ContactDesignation -->
                <div class="w-full md:w-1/4 px-3 mb-6 md:mb-0">
                    <label class="block uppercase tracking-wide text-gray-700 text-sm font-bold mb-2"
                        for="grid-designation">
                        Designation
                    </label>
                    <input class="appearance-none block w-full border rounded py-3 px-4 mb-3 bg-white"
                        id="grid-designation" type="text" placeholder="Enter Designation"
                        formControlName="ContactDesignation" autocomplete="off">
                    <p class="text-red-500 text-s italic" *ngIf="companyForm.get('ContactDesignation').invalid
               && (companyForm.get('ContactDesignation').dirty || companyForm.get('ContactDesignation').touched)">
                        <ng-container *ngIf="companyForm.get('ContactDesignation').errors.pattern">
                            Special characters are not allowed
                        </ng-container>
                    </p>
                </div>
                <!-- Email -->
                <div class="w-full md:w-1/4 px-3 mb-6 md:mb-0">
                    <label class="block uppercase tracking-wide text-gray-700 text-sm font-bold mb-2" for="grid-email">
                        Email
                    </label>
                    <input class="appearance-none block w-full border rounded py-3 px-4 mb-3 bg-white" id="grid-email"
                        type="text" placeholder="Enter Email Id" formControlName="Email" autocomplete="off">
                    <p class="text-red-500 text-s italic" *ngIf="companyForm.get('Email').invalid
               && (companyForm.get('Email').dirty || companyForm.get('Email').touched)">Please enter correct details.
                    </p>
                </div>
                <!-- Office Phone -->
                <div class="w-full md:w-1/4 px-3 mb-6 md:mb-0">
                    <label class="block uppercase tracking-wide text-gray-700 text-sm font-bold mb-2"
                        for="grid-office-phone">
                        Office Phone
                    </label>
                    <input class="appearance-none block w-full border rounded py-3 px-4 mb-3 bg-white"
                        id="grid-office-phone" type="text" placeholder="Enter Office Phone"
                        formControlName="ContactOfficePhone" autocomplete="off">
                    <p class="text-red-500 text-s italic" *ngIf="companyForm.get('ContactOfficePhone').invalid
               && (companyForm.get('ContactOfficePhone').dirty || companyForm.get('ContactOfficePhone').touched)">
                        Please enter correct details.</p>
                </div>
            </div>

            <div class="flex flex-wrap -mx-3 mb-6">
                <!-- Mobile Phone -->
                <div class="w-full md:w-1/4 px-3 mb-6 md:mb-0">
                    <label class="block uppercase tracking-wide text-gray-700 text-sm font-bold mb-2" for="grid-mobile">
                        Mobile Phone
                    </label>
                    <input class="appearance-none block w-full border rounded py-3 px-4 mb-3 bg-white" id="grid-mobile"
                        type="text" placeholder="Enter Mobile Phone" formControlName="ContactCellPhone"
                        autocomplete="off">
                    <p class="text-red-500 text-s italic" *ngIf="companyForm.get('ContactCellPhone').invalid
               && (companyForm.get('ContactCellPhone').dirty || companyForm.get('ContactCellPhone').touched)">
                        Please enter correct details.</p>
                </div>
                <!-- Mailing Address -->
                <div class="w-full md:w-1/4 px-3 mb-6 md:mb-0">
                    <label class="block uppercase tracking-wide text-gray-700 text-sm font-bold mb-2"
                        for="grid-mailAddr">
                        Mailing Address
                    </label>
                    <input class="appearance-none block w-full border rounded py-3 px-4 mb-3 bg-white"
                        id="grid-mailAddr" type="text" placeholder="Enter Mailing Address"
                        formControlName="ContactMailingAddress" autocomplete="off">
                    <p class="text-red-500 text-s italic"
                        *ngIf="companyForm.get('ContactMailingAddress').invalid
               && (companyForm.get('ContactMailingAddress').dirty || companyForm.get('ContactMailingAddress').touched)">Please enter correct details.
                    </p>
                </div>
                <div class="w-full md:w-1/4 px-3 mb-6 md:mb-0">
                    <label class="block uppercase tracking-wide text-gray-700 text-sm font-bold mb-2"
                        for="grid-ohsClient">
                        OHS Client
                    </label>
                    <input id="grid-ohsClient" type="checkbox" formControlName="OHSClient" autocomplete="off"
                        #isOHSClient>
                    <p class="text-red-500 text-s italic" *ngIf="companyForm.get('OHSClient').invalid
               && (companyForm.get('OHSClient').dirty || companyForm.get('OHSClient').touched)">Please enter correct
                        details.
                    </p>
                </div>
                <div class="w-full md:w-1/4 px-3 mb-6 md:mb-0" *ngIf="isOHSClient.checked">
                    <label class="block uppercase tracking-wide text-gray-700 text-sm font-bold mb-2"
                        for="grid-ohsClientId">
                        OHS Client Id
                    </label>

                    <input class="appearance-none block w-full border rounded py-3 px-4 mb-3 bg-white"
                        id="grid-ohsClientId" type="text" placeholder="OHS Client Id" formControlName="OHSClientId"
                        autocomplete="off">
                </div>
            </div>

            <div class="flex flex-wrap -mx-3 mb-6" *ngIf="isEditMode">
                <div class="w-full md:w-1/4 px-3 mb-6 md:mb-0">
                    <label class="block uppercase tracking-wide text-gray-700 text-sm font-bold mb-2" for="grid-doc">
                        Date Of Creation
                    </label>
                    {{ companyForm.get('DOC').value }}
                </div>
                <div class="w-full md:w-1/4 px-3 mb-6 md:mb-0">
                    <label class="block uppercase tracking-wide text-gray-700 text-sm font-bold mb-2"
                        for="grid-updated-date">
                        Last Updated Date
                    </label>
                    {{ companyForm.get('UpdatedDate').value == 'Invalid date' ? '- -' :
                    companyForm.get('UpdatedDate').value }}
                </div>
            </div>
            <div class="flex flex-wrap -mx-3 mb-6">
                <div class="w-full md:w-1/1 px-3 mb-6 md:mb-0" style="text-align: right;">
                    <button
                        class="shadow bg-purple-500 hover:bg-purple-400 focus:shadow-outline focus:outline-none text-white font-bold py-2 px-4 rounded"
                        type="submit">
                        Save
                    </button>

                    &nbsp;<button *ngIf="isEditMode && companyDetails?.Active"
                        class="shadow bg-red-500 hover:bg-red-400 focus:shadow-outline focus:outline-none text-white font-bold py-2 px-4 rounded"
                        type="button" (click)="deleteCompany('In-Active')">
                        Delete This Company
                    </button>
                    <button *ngIf="isEditMode && !companyDetails?.Active"
                        class="shadow bg-purple-500 hover:bg-purple-400 focus:shadow-outline focus:outline-none text-white font-bold py-2 px-4 rounded"
                        type="button" (click)="deleteCompany('Active')">
                        Mark Active
                    </button>

                    &nbsp;<button
                        class="shadow bg-red-500 hover:bg-red-400 focus:shadow-outline focus:outline-none text-white font-bold py-2 px-4 rounded"
                        type="button" [routerLink]="'/companies'">
                        Close
                    </button>
                </div>
            </div>
        </form>
    </div>
</div>