input[disabled] {
    color : rgba(0, 0, 0, 0.26) !important;
    // background-color: transparent !important;
}

input:read-only { 
    color : rgba(0, 0, 0, 0.26) !important;
    // background-color: transparent !important;
}
input, optgroup, select, textarea {
    line-height: initial;
  }
  .py-3 {
    padding-top: 10px !important;
    padding-bottom: 10px !important;
  }
  .bg-purple-500 {
    background-color: #28a745 !important;
  }
  .mat-icon-button.password_icon{
      margin-left: -54px !important;
      margin-top: -4px !important;
        }